//--- GLOBAL VARIABLES
//---------------------------------------------------------

//- strings
- var siteName = "Division name"
- var corporateName = "NSW Department of Education"
- var corporateNameShort = "NSW DoE"
- var siteConfigPath  = "config/"