//--- GLOBAL INCLUDES
//---------------------------------------------------------

include _variables.pug

//--- UTILITIES
//---------------------------------------------------------

include utilities/lorem-ipsum-mixin.pug
include utilities/flex-grid.pug

//--- GLOBAL COMPONTENTS
//--------------------------------------------------------

include components/_global-corporate-logo.pug
include components/_global-footer.pug
include components/_global-header.pug

//--- PARTIALS
//--------------------------------------------------------

include components/partials/back-to.pug
include components/partials/catalogue-teaser.pug
include components/partials/general-content.pug
include components/partials/icon-and-label.pug
include components/partials/link-list.pug
include components/partials/linkgroup.pug
include components/partials/teaser.pug
include components/partials/tile.pug
include components/partials/global-header-links.pug
include components/partials/google-translate.pug
include components/partials/side-menu.pug

//--- COMPONTENTS
//--------------------------------------------------------

include components/a-z-anchors.pug
include components/a-z-list.pug
include components/add-this.pug
include components/anchor-box.pug
include components/back-to-top.pug
include components/banner.pug
include components/button.pug
include components/breadcrumbs.pug
include components/call-out-box.pug
include components/catalogue.pug
include components/category-list.pug
include components/datepicker.pug
include components/download-box.pug
include components/drawer.pug
include components/education-banner.pug
include components/expanded-nav.pug
include components/events.pug
include components/featured-teaser.pug
include components/featured-teaser-variant.pug
include components/form-validate.pug
include components/section-footer.pug
include components/section-header.pug
include components/show-hide.pug
include components/image-with-caption.pug
include components/image-with-caption-matrix.pug
include components/iframe.pug
include components/landing-header.pug
include components/lead.pug
include components/link-tag.pug
include components/link-columns.pug
include components/linkgroup-list.pug
include components/login-link.pug
include components/maintenance-ribbon.pug
include components/navigation.pug
include components/news-teaser.pug
include components/newsletter-signup.pug
include components/notice-ribbon.pug
include components/page-metadata.pug
include components/pagination.pug
include components/radio-list.pug
include components/results-table.pug
include components/search-box.pug
include components/search-box-angular.pug
include components/search-results.pug
include components/select.pug
include components/side-navigation.pug
include components/sidebar-content.pug
include components/skip-link.pug
include components/social-media.pug
include components/social-media-post.pug
include components/table-of-contents.pug
include components/tabs.pug
include components/teaser-list.pug
include components/tag-list.pug
include components/tile-list.pug
include components/section-footer-partnership-variant.pug
include components/partnership-footer.pug
include components/secondary-anchor-box.pug