// -------------------
// Link group
//
// Provides set of styles for a linkgroup.
//
//  .gef-a-z-anchors    - container to anchors numbers and a-z
//  .active             - active anchors item
//  .inactive           - not available inactive anchors item
//
// -------------------


.gef-a-z-anchors {
  @include reset_list;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-bottom: 20px;


  @media #{$gef-mq-md}{
    position: relative;
    width: 500px;
    margin: 0 auto;
    height: 90px;

    [data-scroll-passed="true"] & {
      transform: translateX(-8px);
    }
  }

  @media #{$gef-mq-lg} {
    justify-content: space-between;
    width: 945px;
    margin: 0 auto;
    height: 62px;
    margin-bottom: 40px;

    [data-scroll-passed="true"] & {
      transform: translateX(1px);
    }

    li {
      flex-grow: 1;
      margin-right: 0;
      max-width: 29px;

    }
  }

  li {
    margin-right: 5px;
    width: 29px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    font-size: 0.875rem;
    font-weight: normal;
    //text-transform: uppercase;

    .gef-ie9  & {
      display: inline-block;
      margin-right: 1px;
    }

    a {
      display: block;
      width: inherit;
      height: inherit;
      border: solid 1px #000;
      border-radius: 2px;
      font-weight: 600;
      text-decoration: none;

      &:hover, &:focus {
        color: $gef-white;
        background-color: $gef-medium-grey;
        text-decoration: underline;
        transition: background-color 0.2s;
        outline: 0 !important;
      }

      &.active {
        color: $gef-white;
        background-color: $gef-medium-grey;
        font-weight: bold;

        &:focus {
          outline: 2px solid black !important;
          outline-offset: 2px !important;
          transition: background-color 0.2s;
        }

      }

    }

    span.inactive {
      display: block;
      width: inherit;
      height: inherit;
      border: none;
      color: #777777;
      letter-spacing: 0.03em;
    }
  }
}