// -------------------
// A to Z list
//
// Provides set of styles for an A to Z list group.
//
//  .gef-a-z-list       - container for A to Z list
//  .gef-a-z-list__content - styles for the text areas
//  .gef-a-z-list__content__heading - style for the heading of the text area
// -------------------


.gef-a-z-list{

  list-style: none;

  li{
    padding-left: 0;

    &:before{
      content: none;
    }
  }

  > li{

    border-top: solid 1px $a-z-list-border-color-bottom;
    margin-top: 0px;
  }

  p{
     margin-top: 0px;
  }

  h3{
    margin-bottom: 0px;
  }

  ul li:first-child div{
    padding-top: 0px;
  }

  ul li:last-child div{
    margin-bottom: 40px;

    @media #{$gef-mq-md} {
      margin-bottom: 0px;
    }
  }

  ul{
    width: 100%;
    display: inline-block;
  }
}

.gef-a-z-list__letter{
  top: -50px;
  position: absolute;
  margin-top: 31px;
  font-size: 1rem;
  font-weight: 300;
  line-height: 0.86;
  color: $a-z-list-alphabet-color;

  @media #{$gef-mq-md} {
    top: 0;
    font-size: 1.75rem;
    margin-top: 30px;
    line-height: 1.1;
  }
}

.gef-a-z-list__content {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.57;
  text-align: left;
  color: $a-z-list-content-color;
  padding-bottom: $a-z-list-content-padding-bottom;
  border-bottom: solid 1px $a-z-list-content-border-color-bottom;
  margin-top: $a-z-list-content-margin-top;

  @media #{$gef-mq-md} {
    margin-left: 181px;
    margin-top: 23px;
    padding-bottom: 23px;
  }

  @media #{$gef-mq-lg} {
    margin-left: 213px;
    margin-top: 30px;
    padding-bottom: 30px;
  }
}

.gef-a-z-list__content.noparagraph{
  border-bottom: 0;
}

.gef-a-z-list__content__heading {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5;
  color: $a-z-list-content-heading-color;
  display: inline-block;

  @media #{$gef-mq-lg} {
    font-size: 1rem;
  }
}

.gef-a-z-list__column{
  float: right;
  font-weight: 300;
  width: 20%;
}

.gef-a-z-list__column__ul{

  li:last-child{
    div{
      border-bottom: 0;
    }
  };
}

.gef-a-z-list__column__ol{
  margin-top: 0;
}


.glossary-heading {
  font-size: 1rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  text-align: left;
  margin-top: 13px !important;
  margin-bottom: 5px !important;

  @media #{$gef-mq-md}{
    font-size: 1.375rem;
    margin-bottom: 18px !important;
  }

  @media #{$gef-mq-lg}{
    font-size: 1.75rem;
    margin-top: 50px !important;
    font-weight: 300;
  }
}

.gef-glossary{

  .a-z-list-edu{

    margin-bottom: 40px;
    height: auto;

    @media #{$gef-mq-md}{
      margin-bottom: 10px;
    }
  }

  @media #{$gef-mq-md}{

    .gef-a-z-anchors {
      height: auto;
    }
  }

  [data-scroll-passed=true]{

    @media #{$gef-mq-md}{
     height: 90px;
     top: 0;
     position: fixed;
     background-color: $gef-white;
     z-index: 20000;
     transform: translateY(0);
     transition: all 0.2s;
     text-decoration: none;
     left: 0;
     width: 100%;
     border-bottom: solid 1px $a-z-list-border-color-bottom;
     box-shadow: 0px 5px 5px 0 rgba(0,0,0,0.1);

      ol{
       width: 500px;
      }
    }

    @media #{$gef-mq-lg}{
      margin-left: auto;
      height: 50px;
      width: 100%;
      padding: 10px 0 13px;

      ol{
       width: 945px;
      }
    }
  }

  .gef-a-z-list__letter {
    padding-top: 70px;
    margin-top: -50px;

    @media #{$gef-mq-md}{
      padding-top: 90px;
      margin-top: -50px;
    }
  }

  .gef-a-z-list__column{
    width: 150px;
    float: none;

    @media #{$gef-mq-md}{
    float: right;
    }
  }

  .a-z-list-edu {

    @media #{$gef-mq-md}{
      height: 104px;
    }

    @media #{$gef-mq-lg}{
      height: 50px;
    }
  }
}


