.gef-add-this {
  padding: 10px;
  overflow: hidden;
  border: 1px solid $gef-dark-grey;
  margin: 1rem 0;

  a,
  a:hover {
    text-decoration: none !important;

    .gef-external-link {
      @extend .show-on-sr;
    }
  }
  @media #{$gef-mq-md} {
    padding: 15px;
  }
}

.gef-add-this__title {
  display: inline-block;
  margin-bottom: 0;
  line-height: 35px;
  font-weight: 600;
}

.gef-add-this__toolbox {
  height: 30px;
  float: right;
}
