//
// Anchor box
//
// Styling for Anchor Boxes
//
// .gef-anchor-box - container
// .gef-anchor-box__title - header of the anchor box
//
//
//

.gef-anchor-box {
  display: inline-block;
  margin: 30px 0;
  background-color: $gef-lighter-grey;
  padding: 13px 60px 15px 20px;
}

.gef-anchor-box__title {
  color: $gef-content-header;
}