.gef-article {
  img {
    margin-bottom: 1rem;
  }
}

.gef-article__date {
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 600;

  @media #{$gef-mq-xl} {
    font-size: 1rem;
  }
}

.gef-article__lead {
  margin: 2rem 0;
  font-size: 1rem;
  font-weight: 300;

  @media #{$gef-mq-md} {
    margin-bottom: 27px;
    font-size: 0.9375rem;
  }

  @media #{$gef-mq-lg} {
    font-size: 1.25rem;
  }
}