.gef-back-to {
  position: relative;
  font-size: 0.85rem;
  margin-top: 20px;
  padding-left: 20px;

  i {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0.35em;

    &:before {
      color: $gef-back-to-icon-color;
    }
  }

  a {
    display: inline;
    font-weight: normal;
  }

  @media #{$gef-mq-lg} {
    font-size: 1rem;
    padding-left: 30px;

    i {
      top: 4px;
    }
  }
}