// Back to top link.  Banner with attached up arrow for smaller screens. Button styling for larger screens.

// .fixed  - used only on mobiles to keep to bottom of screen
// .active - displayed
// .uk-icon-angle-up  - large upwards ^.  Hidden on smaller screens
// :hover - only change in larger screens.  Background change
// :after - included in @arrow.  Used to hide in larger screens

// No styleguide reference

.gef-btt {
  display: none;
  position: fixed;
  background: $btt-background;
  width: 38px;
  height: 38px;
  text-align: center;
  z-index: 20000;
  transform: translateY(200px);
  transition: all 0.2s;
  text-decoration: none;

  @media #{$gef-mq-lg} {
    display: block;
    padding: 0;
    margin: 0;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    border: 3px solid $btt-border;

    &[data-show="true"] {
      visibility: visible;
      transform: translateY(0);
    }

    &[data-stick="true"] {
      visibility: visible;
      position: absolute;
      transform: translateY(0);
    }

    .uk-icon-angle-up {
      display: inline;
      font-size: 2.5em;
      line-height: 0.8;
      color: $btt-arrow;
      transition: color 0.2s;
    }

    &:hover,
    &:focus {
      outline: 0 !important;
      border-color: $btt-border-action;
      background: $btt-background-action;

      .uk-icon-angle-up {
        color: $btt-arrow-action;
      }
    }
  }
}
