// Banner Image

// .gef-banner__content            - Banner text content
// .gef-banner-container           - Support for out of article background colour change and content move

// No styleguide reference

.gef-banner-container {
  position: relative;
  z-index: 0;
  top: 0;
  bottom: 0;
  margin-bottom: 30px;

  &.gef-banner-container--small  {
    display: none;
  }

  @media #{$gef-mq-lg} {

    &.gef-banner-container--small {
      display: block;

      img {
        display: inline-block;
        position: static;
      }
    }
  }

  .gef-ie9 & {
    overflow: hidden;
  }
}

.gef-banner {
  position: relative;
  margin: 0 -25px;

  .gef-banner__content {
    display: block;
    padding-top: 25px;
    padding-bottom: 25px;
    background: $gef-white;
    box-sizing: border-box;

    .gef-banner__content__title {
      margin: 0;
      color: $gef-content-header;
      font-weight: 600;
      letter-spacing: 0.03em;
    }

    p {
      margin: 11px 0 20px;
    }

    .uk-button {
      display: inline-block;
      font-weight: 600;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .gef-banner-container--small & {
    max-height: 250px;
    overflow: hidden;
  }

  @media #{$gef-mq-md} {

    .gef-banner__content {
      font-size: 1.15rem;
    }
  }

  @media #{$gef-mq-lg} {
    margin: 0 -40px;

    .gef-banner__content {
      position: absolute;
      top: 30px;
      left: 0;
      width: 60%;
      padding-top: 40px;
      padding-bottom: 40px;
      background: rgba(255,255,255,0.8);

      .uk-button {
        padding-left: 48px;
        padding-right: 48px;
      }
    }
  }

  @media #{$gef-mq-lg} {
    .gef-banner__content {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
}
