// -------------------
// BREADCRUMBS (ENHANCED)
//
// Provides set of breadcrumb styles with JS enhancements
//
//  .gef-breadcrumbs.enhanced     - the container
//  .gef-breadcrumbs.activated    - when the breadcrumbs have been truncated by JS
//  .gef-breadcrumbs__link        - mobile parent link only
//  .gef-breadcrumbs__item        - list item
//  .gef-breadcrumbs__dropdown    - secondary list for extra items that need to be hidden
//  .gef-breadcrumbs__tooltip     - custom 'tooltip' for truncated items
//
// -------------------

.gef-breadcrumbs.enhanced {
  overflow: hidden;

  &.activated {
    overflow: visible;
  }
}

.gef-breadcrumbs__link {
  display: block;
  margin: 15px 0;
  font-weight: 600;
  text-decoration: underline;
  font-size: 0.9rem;
  padding: 0 0 0 18px;
  position: relative;
  overflow: hidden;

  i {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.35rem;
  }

  .gef-external-link {
    display: none;

    &:before {
      content: none;
    }
  }

  @media #{$gef-mq-lg} {
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.gef-breadcrumbs__item {

  .enhanced & {
    white-space: nowrap;
  }
}

.gef-breadcrumbs__dropdown {

  &:after {
    content: '...';
    display: block;
    position: relative;
    width: 40px;
    height: 55px;
    background-color: #eee;
    margin-left: 30px;
    cursor: pointer;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 800;
    color: $breadcrumbs-dropdown-area-color;
    background-color: $breadcrumbs-dropdown-area-bg;
    line-height: 55px;
  }

  div {
    display: block;
    overflow: hidden;
    padding-left: 0;
    list-style: none;
    position: absolute;
    left: 30px;
    top: 40px;
    margin-top: 15px;
    height: 0;
    background-color: $breadcrumbs-dropdown-bg;
    width: $breadcrumbs-dropdown-width;
  }

  p {
    display: block;
    position: relative;
    margin-top: 0;
    padding-left: 0;
    margin-bottom: 6px;
    white-space: normal;
    width: auto;
  }

  p:before {
    @include breadcrumb-angle;
    top: 0;
    line-height: 1;
    padding-left: 17px;
    color: $breadcrumbs-dropdown-color;
  }

  a {
    color: $breadcrumbs-dropdown-color;
    font-weight: 400;
    padding-left: 40px;
    padding-right: 15px;
    padding-top: 0;
    padding-bottom: 0;
    white-space: normal;
    overflow: visible;
    text-overflow: default;
  }

  &:hover,
  &.active-clicked,
  &.active-hovered,
  &.active-focused {

    div {
      height: auto;
      padding-top: 18px;
      padding-bottom: 15px;
    }

    &:after {
      color: $breadcrumbs-dropdown-area-hover-color;
      background-color: $breadcrumbs-dropdown-area-hover-bg;
    }
  }
  } /* /.dropdown */

.gef-breadcrumbs__truncate {

  &:after {
    content: attr(data-tooltip);
    opacity: 0;
    position: absolute;
    display: inline-block;
    top: 53px;
    left: 40px;
    max-width: 330px;
    height: 0;
    overflow: hidden;
    padding: 8px 10px;
    border: 1px solid $breadcrumbs-tooltip-stroke;
    background-color: $breadcrumbs-tooltip-bg;
    background-repeat: no-repeat;
    border-radius: 1px;
    white-space: normal;
    z-index: 10000;
    color: $breadcrumbs-tooltip-color;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.2;
    transition: opacity 0;
  }

  &:hover:after {
    content: attr(data-tooltip);
    opacity: 1;
    height: auto;
    transition: opacity 0.2s #{$breadcrumbs-tooltip-delay};
  }

  &:first-child:hover:after {
    left: 20px;
  }

  &:last-child,
  &:nth-last-child(2) {

    &:after {
      left: auto;
      right: 40px;
    }

    a:after, span:after {
      left: auto;
      right: 20%;
    }
  }

  & a,
  & span {
    position: relative;
    z-index: 10001;
  }

  & a:after,
  & span:after  {
    content: '';
    opacity: 0;
    display: block;
    position: absolute;
    bottom: 2px;
    left: 20%;
    background-repeat: no-repeat;
    width: 20px;
    height: 8px;
    background-image: $breadcrumbs-tooltip-arrow-path;
    transition: opacity 0;
  }

  &:hover a:after,
  &:hover span:after {
    opacity: 1;
    transition: opacity 0.2s $breadcrumbs-tooltip-delay;
  }
} /* /.tooltip */
