// -------------------
// BREADCRUMBS
//
// Provides a standardised set of breadcrumb styles.
//
//  .gef-breadcrumbs       - parent container that wraps everything that has to do with breadcrumbs. Specific to GEF template structure
//  .gef-breadcrumbs__back - back button, displayed when small size screen
//  .gef-breadcrumbs__list - styles for the list of breadcrumbs
//  .gef-breadcrumbs__item - styles for breadcrumb items
//
// -------------------

@mixin breadcrumb-angle {
  @include fontAwesome;
  content: "\f105";
  display: block;
  position: absolute;
  left: 0;
  padding: 0 12px;
  font-size: 1.375rem;
  top: 13px;
  cursor: default;
}

@mixin breadcrumb-angle-left {
  @include fontAwesome;
  content: "\f104";
  display: block;
  position: absolute;
  left: 0;
  padding: 0 12px;
  font-size: 1.375rem;
  top: 13px;
  cursor: default;
}

.gef-breadcrumbs {
  width: 100%;

  @media #{$gef-mq-lg} {
    height: 50px;
    margin: 0 0 1rem;
    overflow: visible;
    z-index: 9999;

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
}

.gef-breadcrumbs__back {
  //text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 0.7rem;

  i {
    padding: 0 8px 0 0;
  }
}

.gef-breadcrumbs__list {

  @media #{$gef-mq-lg} {
    overflow: visible;
    margin-top: 0;
  }
}

.gef-breadcrumbs__item {
  position: relative;
  display: block;
  float: left;
  margin-top: 0;
  width: auto;
  padding-left: 0;

  &:before {
    @include breadcrumb-angle;
  }

  &:first-child:before {
    content: none;
  }

  &:first-child {

    &:after {
      left: 10px;
    }

    > a {
      padding-left: 0;
      width: 100% !important;

      i {
        font-size: 1.25rem;
        margin-top: -1px;
      }

      i,
      span {
        cursor: pointer;
      }
    }
  }

  a, span {
    box-sizing: border-box;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    font-weight: 600;
    padding-left: 30px;
    font-size: 0.875rem;
    color: $breadcrumbs-color;
    padding-top: 20px;
    padding-bottom: 15px;
  }

  span {
    font-weight: 400;
    cursor: default;
  }
}

.gef-breadcrumbs{
  a:focus {
    outline: 1px solid black !important;
    outline-offset: 0px !important;
  }

  p a:focus{
    color: $gef-black;
    background: rgb(255,255,255);
    outline: 0 !important;
  }
}

.gef-home-mobile-breadcrumb{
  position: relative !important;
  font-size: 1.2rem !important;
  margin-top: 1px;
  margin-left: 5px;
}