.gef-button, .gef-button:visited {
  padding: $button-default-padding;
  min-height: $button-default-height;
  border-radius:  $button-default-radius;
  border-color: $button-border-color;
  border-width: $button-border-width;
  font-size: $button-default-font-size;
  font-weight: $button-default-font-weight;
  letter-spacing: $button-default-letter-spacing;
  margin-top: auto;
  margin-bottom: auto;

  &:hover,
  &:focus {
    border-color: $button-border-color-highlight;
  }

  &.gef-button--alt1 {
    color: $button-alt1-color;
    background: $button-alt1-background;
    border-color: $button-alt1-border-color;
    border-width: $button-alt1-border-width;

    &:hover,
    &:focus {
      outline: 0;
      color: $button-alt1-color-highlight;
      background: $button-alt1-background-highlight;
      border-color: $button-alt1-border-color-highlight;
    }
  }
}

.gef-button--print {
  display: none;

  @media #{$gef-mq-lg}{
    display: inline-block;
  }
}

.gef-button-x-small {
  padding: $button-x-small-padding;
  min-height: $button-x-small-height;
  font-size: $button-x-small-font-size;
}

.gef-button-small {
  padding: $button-small-padding;
  min-height: $button-small-height;
  font-size: $button-small-font-size;
}

.gef-button-large {
  padding: $button-large-padding;
  min-height: $button-large-height;
  font-size: $button-large-font-size;
}

.gef-button-x-large {
  padding: $button-x-large-padding;
  min-height: $button-x-large-height;
  font-size: $button-x-large-font-size;
}
