//
// Button Submit
//
// Alternatives for styling the submit button.
// These additional styles can be passed in when calling the button
//
//

.gef-button-submit {

}

.gef-button-submit-inverse {
  background-color: transparent;
  border: solid $button-alt-border-width $gef-dark-grey;
  color: $gef-dark-grey;
}
