//
// Call Out Box
//
// The call out box styles a section for better visibility.
//
//

.gef-call-out-box,
.call-out {
  padding: 20px;
  margin: 20px 0;
  background-color: $gef-highlight-panel-bg;
  border-bottom: 10px solid $gef-decoration;

  @media #{$gef-mq-lg} {
    padding: 25px;
    margin: 25px 0;
  }

  .gef-call-out-box__heading {

  }
}

.gef-call-out-box--lite {
  @extend .gef-call-out-box;

  position: relative;
  background-color: transparent;
  border: 1px solid $gef-decoration;
  padding-top: 40px;

  .gef-call-out-box__heading {
    background: $gef-decoration;
    color: $gef-primary-text;
    padding: 10px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.9rem;
    //text-transform: uppercase;

  }

  :last-child {
    margin-bottom: 0;
  }
}
