/* default block variation styles - also used for parent .gef-flex-grid--columns */
@mixin gef-catalogue-teaser--block {
  border: 1px solid $gef-lighter-grey;
  transition: border 0.2s;
  padding-bottom: 0;

  .get-catalogue-teaser_thumbnail {
    width: 100%;
    float: none;
    border-bottom: 1px solid $gef-lighter-grey;
    transition: border 0.2s;

    img {
      width: 100%;
      height: auto;
      margin: 0;
      border: 0 !important;
    }
  }
}

/* default block variation styles for content - also used for parent .gef-flex-grid--columns */
@mixin gef-catalogue-teaser--block_content {
  width: 100%;
  float: none;
  padding: 12px 8px;

  h1 {
    font-size: 1rem;
    width: 100%;
  }

  p {
    font-size: 0.75rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}


.gef-catalogue-teaser {
  padding-bottom: 20px;
  border-bottom: 1px solid $catalogue-teaser-border;
  overflow: auto;
  cursor: pointer;

  .get-catalogue-teaser_thumbnail {
    width: 30%;
    height: auto;
    float: left;

    img {
      border: 1px solid $catalogue-image-border;
      transition: border 0.2s;
    }
  }

  &.gef-catalogue-teaser--block {
    @include gef-catalogue-teaser--block;

    /* displays full width on mobile, but not with .gef-flex-grid parent */
    *:not(.gef-flex-grid) & {
      .get-catalogue-teaser_thumbnail {
        width: 100%;
        float: none;
      }
    }
  }

  &:hover,
  &:focus {

    &:not(.gef-catalogue-teaser--block) {

      .get-catalogue-teaser_thumbnail {

        img {
          border: 1px solid $gef-decoration;
        }
      }
    }

    &.gef-catalogue-teaser--block {
      border: 1px solid $gef-decoration;
    }

    a {
      text-decoration: underline;
    }
  }


  @media #{$gef-mq-md} {

    .gef-flex-grid--columns & {
      @include gef-catalogue-teaser--block;
    }

    &:hover,
    &:focus {

      .gef-flex-grid--columns & {
        border: 1px solid $gef-decoration;

        .get-catalogue-teaser_thumbnail {
          border: 0;
          border-bottom: 1px solid $gef-decoration;
        }
      }
    }
  }

  @media #{$gef-mq-lg} {

    .get-catalogue-teaser_thumbnail {
      width: 23.5%;
    }
  }
}

.gef-catalogue-teaser_content {
  width: 100%;
  float: left;
  padding-left: 10px;
  box-sizing: border-box;

  h1 {
    font-size: 0.85rem;
    line-height: 1.4;
    margin-bottom: 1em;

    a {
      color: $gef-content-header;
      text-decoration: none;
    }
  }


  p {
    margin: 0.8em 0;
    font-size: 0.75rem;
    color: $gef-black;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .get-catalogue-teaser_thumbnail + & {
    width: 70%;
  }

  *:not(.gef-flex-grid) .gef-catalogue-teaser--block & {
    @include gef-catalogue-teaser--block_content;
  }

  @media #{$gef-mq-md} {
    position: relative;
    padding-left: 20px;

    h1 {
      font-size: 1rem;
      width: 65%;
    }

    p {
      font-size: 0.8rem;
      width: 65%;
    }

    .gef-catalogue-teaser--block &,
    .gef-flex-grid--columns & {
      @include gef-catalogue-teaser--block_content;

      p {
        font-size: 0.8rem;
        width: 100%;
      }
    }
  }

  @media #{$gef-mq-lg} {

    .get-catalogue-teaser_thumbnail + & {
      width: 76.4%;
    }

    .gef-catalogue-teaser--block &,
    .gef-flex-grid--columns & {
      @include gef-catalogue-teaser--block_content;
    }
  }
}

.gef-catalogue-teaser_data {

  .gef-catalogue-teaser_content & {
    color: $gef-dark-grey;
    font-weight: 600;

    @media #{$gef-mq-md} {
      position: absolute;
      width: 25%;
      top: 0;
      right: 0;
      margin-top: 0;
      text-align: right;
    }
  }

  .gef-catalogue-teaser--block &,
  .gef-flex-grid--columns & {

    @media #{$gef-mq-md} {
      position: relative;
      width: auto;
      text-align: left;
    }
  }
}