/*

GEF Category List

*/

.gef-category-list {
  @include reset_list();
  margin-bottom: 50px;

  li {
    margin-top: 0.6em;
  }

  a {
    font-weight: normal;
    text-decoration: none;

    &:hover,
    &:focus,
    &.active {
      text-decoration: underline;
    }
  }
}