// Datepicker - This CSS has been taken from UI Kit and has been modified to GEF styles.

// .uk-datepicker  - Container for the date picker.
// .uk-datepicker-nav - Contains 'previous' and 'next' links & Month and Year title.
// .uk-datepicker-table - Contains the numbers which represent days of the month.

.uk-datepicker {

  width: 313px;
  border-radius: 3px;
  background-color: $gef-white;
  border: solid 1px rgb(224,224,224);
  z-index: 1050;
  -webkit-animation: uk-fade .2s ease-in-out;
  animation: uk-fade .0s ease-in-out;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;

  td,th{
    border-bottom: none;
    text-align: center;
  }

  th{
    color: $gef-mine-shaft;
    background-color: $gef-white;
  }
}

.uk-datepicker-nav {
  margin-bottom: 15px;
  text-align: center;
  line-height: 20px;
  //text-transform: uppercase;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  text-align: center;
  color: $gef-mine-shaft;
}

.uk-datepicker-nav:after,
.uk-datepicker-nav:before {
  content: "";
  display: table;
}
.uk-datepicker-nav:after {
  clear: both;
}
.uk-datepicker-nav a {
  color: $gef-mine-shaft;
  text-decoration: none;
}
.uk-datepicker-nav a:hover {
  color: $gef-mine-shaft;
}
.uk-datepicker-nav a:focus {
  outline-offset: 0px !important;
} 
.uk-datepicker-previous {
  float: left;
}
.uk-datepicker-next {
  float: right;
}
.uk-datepicker-next:after,
.uk-datepicker-previous:after {
  width: 20px;
  font-family: FontAwesome;
}
.uk-datepicker-previous:after {
  content: "\f053";
}
.uk-datepicker-next:after {
  content: "\f054";
}
.uk-datepicker-table {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  display: table;
}
.uk-datepicker-table td,
.uk-datepicker-table th {
  padding: 2px;
}
.uk-datepicker-table th {
  font-size: 12px;
}
.uk-datepicker-table a {
  display: block;
  line-height: 24px;
  text-align: center;
  color: rgb(86,90,92);
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-origin: border-box;
  font-weight: inherit;
}
a.uk-datepicker-table-muted {
  color: rgb(180,180,180);
}
.uk-datepicker-table a:focus,
.uk-datepicker-table a:hover {
  background-color: $gef-mine-shaft;
  color: $gef-white;
  outline: 0;
  border-color: rgba(0, 0, 0, .2);
  text-shadow: 0 1px 0 $gef-white;
}
.uk-datepicker-table a:active {
  background-color: $gef-mine-shaft;
  color: $gef-mine-shaft;
  border-color: rgba(0, 0, 0, .2);
  border-top-color: rgba(0, 0, 0, .3);
  background-image: none;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, .1)
}
.uk-datepicker-table a.uk-active {
  background: $gef-mine-shaft;
  color: $gef-white;
  border: 1px solid rgba(0, 0, 0, .2);
  background-origin: border-box;
  background-image: -webkit-linear-gradient(top, $gef-mine-shaft, $gef-mine-shaft);
  background-image: linear-gradient(to bottom, $gef-mine-shaft, $gef-mine-shaft);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
}



