// -------------------
// DIALOGUE
//
// A popup modal which appears after a user interaction
//
// -------------------

[data-gef-dialogue] {
  display: none;
  visibility: hidden;
}

[data-gef-dialogue--mobile-only] {
  @media #{$gef-mq-md} {
    display: none;
    visibility: hidden;
  }
}

[role=dialogue] {
  position: fixed;
  display: none;
  visibility: hidden;
  opacity: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(51,51,51,0.87);
  transition: opacity 1s, visibility 0 1s;
  overflow: auto;

  &[aria-hidden=false] {
    display: block;
    visibility: visible;
    opacity: 1;
    transition: all 1s;
  }

  [role=document] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    opacity: 0;
    background-color: #fff;
    padding: 15px;
    border-radius: $gef-radius;
  }

  br {
    margin: 0 -15px;
  }

  [role=banner] {

  }
}


