//------------------------
// DIAGNOSTIC HEADS UP DISPLAY (HUD)
//
// .gef-diagnostic-hud                 - Container element to display
//
//------------------------

.gef-diagnostic-hud {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  bottom: 0;
  right: 0;
  color: white;
  padding: 5px 10px;
  font-size: 0.625rem; // 10px
  z-index: 9999;
  max-width: 320px;
  max-height: 100px;
  overflow: auto;
  overflow-wrap: break-word;

  .gef-diagnostic-hud__update {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
    padding: 5px 0;
  }

  .gef-diagnostic-hud__update-module {
    font-weight: bold;
  }

  .gef-diagnostic-hud__update-timestamp {

  }

  .gef-diagnostic-hud__update-message {
    font-style: italic;
    display: block;
  }

  .gef-diagnostic-hud__text-success {
    color: rgba(140, 198, 61, 1)
  }

  .gef-diagnostic-hud__text-danger {
    color: rgba(247, 33, 29, 1);
    
  }

  .gef-diagnostic-hud__text-info {
    color: rgba(15, 172, 243, 1);
  }

  
}
  