//
// Download Box
//
// A box that contains download links
// .gef-download-box                      - A container for the download box.
// .gef-download-box-heading              - The heading that appears within the download box.
// .gef-download-box-links-container      - A container for the download links
// .gef-download-box-links--bold          - Font weight for the download links.
//

.gef-download-box {
  border-radius: $download-box-border-radius;
  background-color: $download-box-background;
  padding: $download-box-padding;
  color: $download-box-color;
  font-size: 1rem;
  margin: 20px 0;

  ul{
    margin-top: 0;
  }

  li{
    padding-left: 30px;

    &:before{
      content: "\f016";
      font-family: 'FontAwesome';
      display: inline-block;
      margin-top: 2px;
      color: #565a5c;
      font-size: 1.5rem;
      vertical-align: bottom;
    }
  }
}

.gef-download-box-heading {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.38;
  color: $download-box-heading-color;
}

.gef-download-box-links-container {
  line-height: 1.5;
}

.gef-download-box-links--bold {
  font-weight: 600;
}