// -------------------
// DRAWER
//
// A user activated tab and panel which sits at the bottom of the screen with a hidden panel. With JS, the panel is shown or hidden by clicking the tab.
//
// -------------------

$gef-drawer-tab-height: $drawer-tab-height;

.gef-drawer {
  position: absolute;
  top: 100%;
  margin-top: -$gef-drawer-tab-height;
  transition: transform 0.4s, margin 0.4s;

  [role="tab"] {
    display: inline-block;
    height: $gef-drawer-tab-height;
    padding: 0 18px;
    line-height: $gef-drawer-tab-height;
    vertical-align: middle;
    color: $drawer-tab-color;
    background-color: $drawer-tab-bg;
    font-weight: normal;
    text-decoration: none;
    transition: background-color 0.2s;

    &:hover,
    &:focus {
      outline: 0 !important;
      background-color: $drawer-tab-bg-action;
      text-decoration: underline;
    }
  }

  [role="tabpanel"] {
    display: block;
    padding: 18px 20px;
    background-color: $gef-off-white;
    max-width: 300px;
    border: $drawer-panel-border;
  }

  &.active {
    transform: translateY(-100%);
    margin-top: 0;
  }


  @media #{$gef-mq-lg} {

    [role="tab"] {
      transform: translateY(5px);
      transition: transform 0.2s;

      &:hover,
      &:focus {
        transform: translateY(0);
      }
    }

    &.active {
      [role="tab"] {
        transform: translateY(0);
      }
    }
  }
}
