// -------------------
// EDUCATION BANNER
//
// The Education home page search banner
//
// .gef-education-banner                    - The Education Banner container
// .gef-education-banner__lead              - Welcoming statement
// .gef-education-banner__header            - Header text
// .gef-education-banner__search            - The search area
// .gef-education-banner__tips              - List of links which are useful to the user
//
// -------------------

.gef-education-banner {
  padding: 25px 0;
  background-color: $gef-edu-banner-bg;

  .gef-corporate-logo__image {
    width: 100px;
    padding-bottom: 13px;
  }

  .gef-corporate-logo__link {
    float: left;
  }

  .gef-corporate-logo__link:focus {
    outline: $gef-focus-inverse !important;
  }

  .gef-corporate-logo__link:focus:hover {
    outline: 0 !important;
  }

  @media #{$gef-mq-md} {
    padding: 65px 0 50px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.08);

    .gef-corporate-logo__image {
      width: 150px;
    }
  }
}

.gef-education-banner__lead {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 800;
  color: $gef-edu-banner-color;
  margin-bottom: -3px;
  clear: left;

  @media #{$gef-mq-md} {
    margin: 10px 0 0;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: -10px;
  }
}

.gef-education-banner__header {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 400;
  color: $gef-edu-banner-color;

  @media #{$gef-mq-md} {
    font-size: 2.9rem;
    letter-spacing: 0.05rem;
  }

  @media #{$gef-mq-lg} {
    font-size: 2.9rem;
  }
}

.gef-education-banner__search {
  margin: 10px 0 0;

  div {
    position: relative;
    max-width: 780px;
  }

  input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid $gef-edu-banner-bg;
    padding: 0 45px 0 10px;
    font-size: 0.8rem;
    font-family: $gef-font-family;
    line-height: 45px;
    height: 47px;
    transition: border 0.2s;

    &::placeholder {
      color: $gef-black;
      opacity: 1;
    }

    &:focus {
      outline: 0;
      border: 2px solid $gef-edu-banner-input-active-border-color;
    }
  }

  button {
    position: absolute;
    right: 0;
    top: 2px;
    display: block;
    width: 45px;
    height: 45px;
    overflow: hidden;
    border: 0;
    padding: 0;
    background-color: transparent;
    text-align: center;
    cursor: pointer;

    &:before {
      content: '\f002';
      font-family: fontAwesome;
      display: block;
      width: 45px;
      line-height: 45px;
      color: $gef-dark-grey;
      font-size: 1.2rem;
      transition: color 0.2s;
    }

    &:hover,
    &:focus {
      outline: 0;

      &:before {
        color: $gef-black;
      }
    }
  }

  @media #{$gef-mq-md} {
    margin: 30px 0 0;

    input {
      line-height: 55px;
      height: 57px;
      font-size: 1rem;
    }

    button {

      @media #{$gef-mq-md} {
        height: 55px;
        width: 55px;

        &:before {
          width: 55px;
          line-height: 55px;
          font-size: 1.4rem;
        }
      }
    }
  }
}

.gef-education-banner__tips {
  margin-top: 15px;

  h2 {
    display: inline-block;
    font-size: 0.8rem;
    margin-right: 1em;
    color: $gef-dark-grey;
  }

  ul {
    @include reset-list;
    margin: 0;
    display: inline-block;
  }

  li {
    display: inline-block;
  }

  a {
    font-weight: 400;
    margin-right: 1em;
    font-size: 0.8rem;
    color: $gef-dark-grey;
  }

  @media #{$gef-mq-lg} {
    h2 {
      font-size: 1rem;
    }

    a {
      font-size: 1rem;
    }
  }
}