// -------------------
// Events Component
//
//  Events Component styles. Normally present in page body
// -------------------

.gef-events-complete {
  margin-top: 15px;
  margin-bottom: 15px;
}

.gef-event-more-icon {
  float: right;
  margin-top: 0 !important;
  margin-right: -35px;

  &:after {
    content: '';
    font-family: 'FontAwesome';
    text-decoration: none;
    display: inline-block;
    top: 41%;
    //revision SWR-1425
    padding-right: 25px;

  }

}
.gef-events-full-width {
  @media #{$gef-mq-md} {
    .gef-single-event {
      width: 50% !important;
    }
  }
  .gef-single-event {
    @media #{$gef-mq-re-s} {
      width: 100% !important;
    }
    @media #{$gef-mq-re-m} {
      width: 50% !important;
      .gef-event-more-icon {
        display: none !important;
      }
    }
  }
  .gef-single-event {
    @media #{$gef-mq-re-l} {
      width: 33.3333% !important;
      cursor: default;
      .gef-event-desc{
        cursor: pointer;
      }
    }
    .gef-event-date {

      @media #{$gef-mq-lg} {
        width: 41%;
      }

    }

    .gef-event-desc {
      @media #{$gef-mq-lg} {
        width: 59%;
      }
    }
  }
}

//scenario with 66% container
.gef-container-width-66 {
    @media(min-width: $gef-lg) {
      .uk-width-1-3{
        width:50% !important;
      }
        }
    }
.gef-container-width-33 {
    @media(min-width: $gef-lg) {
      .uk-width-1-3{
        width: 100% !important;
      }
        }
    }


.gef-single-event {
  margin-top: 30px;
  @media screen and (min-width: 1024px) {
    margin-right: 20px;
  }
  @media screen and (max-width: 768px) {
    margin-right: 20px;
  }
}
.gef-event-desc {
  padding-left: 18px;
  @media (max-width: 768px) and (min-width:600px) {
    padding-left: 0 !important;
  }
  @media (max-width: 768px) and (min-width:620px) {
    padding-left: 8px !important;
  }
  h3 {
    font-size: 1.25rem;
    font-weight: 700;
    @media screen and (max-width: 420px) {
      margin-bottom: 0;
    }
    @media(max-width:$gef-md){
      font-size: 1rem;
    }
    a {
      text-decoration: none;
      &:focus, &:hover {
        text-decoration: underline;
      }
    }
  }
}
.gef-events-heading {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.43;
  text-align: left;
  padding-top: 5px!important;
  padding-right: 10px;
  margin-top: 0!important;
  margin-bottom: 0!important;
  padding-right: 15px!important;
  display: inline-block;
  .gef-events-heading-icon:before {
    content: '\f017';
    font-family: 'FontAwesome';
    text-decoration: none;
    display: inline-block;
    padding-right: 3px;
  }
}
.gef-event-date-period {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.43;
  text-align: left;
  padding-top: 5px!important;
  margin-top: 0!important;
  margin-bottom: 0!important;
  padding-right: 5px!important;
  display: inline-block;
  .gef-event-date-period-icon:before {
    content: '\f073';
    font-family: 'FontAwesome';
    text-decoration: none;
    display: inline-block;
    padding-right: 3px;
  }

}
.gef-event-location {
  text-decoration: none;

  .gef-event-location-icon:before {
    content: '\f041';
    font-family: 'FontAwesome';
    text-decoration: none;
    display: inline-block;
    padding-right: 3px;
  }
  display:inline-block;
  overflow: hidden;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.23;
  padding-top:5px!important;

}
.gef-char-length-100{

  margin-top: 0;
  padding-top: 5px;
  text-align: left;
  overflow: hidden;
  @media screen and (max-width: 620px) {
    display: none;
  }
}
.gef-char-lenth-100__wrapper {
  max-width: 282px;
}
.gef-single-event-square {
  width: 95%;
  height: auto;
  background: #ccc;
  margin-left: 5px;
  margin-right: 5px;
  display: block;
  position: relative;
  z-index: 1;
  cursor: pointer;
  @media screen and (max-width: $gef-md) {
    width: 85%;
  }
  // @media (max-width: 768px) and (min-width:600px) {
  //  width: 90%;
  // }
}
.gef-single-event-square:before {
  content: "";
  display: inline-block;
  position: absolute;
  //border:10px solid black;
  border-color: transparent transparent transparent black;
  top: 40%;
}
.gef-single-event-square:after {
  content: "";
  display: inline-block;
  position: absolute;
  border: 7px solid white;
  border-color: transparent transparent transparent white;
  top: 41%;
  left: -1px;
}
.gef-single-event-square_inside:before {
  content: "";
  display: inline-block;
  position: absolute;
  //border:10px solid black;
  border-color: transparent transparent transparent black;
  top: 40px;
}
.gef-single-event-square_inside:after {
  content: '';
  display: block;
  position: absolute;
  top: 51%;
  margin-top: -10px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid white;
  border-bottom: 7px solid transparent;
  border-left: 7px solid transparent;
  right: -1px;
}
.gef-single-event-square_inside {
  p {
    text-align: center;
    font-weight: bold;
  }
  p.gef-event-day {
    font-size: 14px;
    line-height: 1.43;
    padding-top: 5px;
    @media screen and (max-width: 420px) {
      font-size: 12.2px;
      margin-bottom: 0;
    }
  }
  p.gef-event-day-date {
    font-size: 36px;
    margin: 0 ;
    height: auto;
    line-height: 1.11;
    @media screen and (max-width: 420px) {
      font-size: 31.3px;
    }
  }
  p.gef-event-month {
    font-size: 16px;
    margin: 0 ;
    text-transform: uppercase;
    @media screen and (max-width: 420px) {
      font-size: 13.9px;
    }
  }
}
.gef-container-width-33 {
    .gef-events-full-width .gef-single-event {
        display: none;
    }
    .gef-events-full-width .gef-single-event:nth-child(-n+4) {
        display: unset;
  }
  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    .gef-events-full-width .gef-single-event:nth-child(-n+4) {
            display: inherit;
        }
   }
}
.gef-container-full-width {
    @media screen and (max-width: 420px) {
        .gef-events-full-width .gef-single-event {
            display: none;
        }
        .gef-events-full-width .gef-single-event:nth-child(-n+4) {
            display: unset;
        }
  }
  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    .gef-events-full-width .gef-single-event:nth-child(-n+4) {
            display: inherit;
        }
   }
}
.gef-container-width-66 {
    @media screen and (max-width: 420px) {
        .gef-events-full-width .gef-single-event {
            display: none;
        }
        .gef-events-full-width .gef-single-event:nth-child(-n+4) {
            display: unset;
        }
  }
  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    .gef-events-full-width .gef-single-event:nth-child(-n+4) {
            display: inherit;
        }
   }
}
.gef-latest-events-header{
  margin: 10px 10px;
    a {
        text-decoration: none;
    }
    .gef-latest-news-header__button {
        display: table;
        border: 1px solid grey;
        padding: 0px 15px;
        border-radius: 20px;
        font-size: 0.75rem;
        font-weight: 500;
    }
  margin-left:3px;
}

//Style below can be used to hide a content
//from sighted user yet make available for screen readers
.gef-event-desc--definition
{
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
.gef-event-date-period--definition{
  float: left;
  margin-right: 15px;
}
.events-article-wrapper__main{
    max-width: 689px;
  }

  .gef-event-date {

    max-width: 133px;
  }