// -------------------
// TILE LIST
//
// Provides a container for multiple tiles.
// The width control is set on the container not tile wrappers for CMS integration.
//
//  .gef-expanded-nav                        - The list item container
//  .gef-expanded-nav__item                  - The separate items within the list
//  .gef-expanded-nav__item--alt1            - Item without the description on mobile
//
// -------------------

.gef-expanded-nav {
  margin-top: 0;

  .gef-block--primary-hub & {
    margin-left: 25%;
    padding-left: 15px;
  }

  @media #{$gef-mq-md} {
    margin: 0 0 0 -25px !important; // override uikit grid stuff
    display: flex;
    flex-wrap: wrap;

    .gef-block--primary-hub & {
      width: 67.5%;
      margin: 0 !important;
    }

    .gef-ie9 .gef-block--primary-hub & {
      width: 67.5%;
      float: left;
    }
  }

  @media #{$gef-mq-lg} {
    margin: 0 0 0 -40px !important; // override uikit grid stuff

    .gef-ie9 .gef-block--primary-hub & {
      width: 68%;
      float: left;
      margin: 0 !important;
    }
  }
}

.gef-expanded-nav__item {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 0;

  &:before {
    content: none;
  }

  h3 {
    margin-bottom: 0;
  }

  h3 a {
    display: block;
    font-weight: 800;
    color: $gef-content-header;
    font-size: 0.9rem;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  p {
    margin-bottom: 0;
    margin-top: 8px;
    font-size: 0.9rem;
    color: $gef-dark-grey;
  }

  &.gef-expanded-nav__item--alt1 {
    padding-top: 0;
    padding-bottom: 8px;
    padding-left: 20px;

    &:before {
      content: '\f105';
      font-family: 'FontAwesome';
      display: inline-block;
      color: $gef-decoration;
      font-size: 1.5rem;
      line-height: 1.5rem;
      vertical-align: middle;
      font-weight: 400;
    }

    h3 {
      margin-bottom: 0;
      line-height: 1.5;
    }

    h3 a {
      font-weight: 600;
      font-size: 1rem;
    }

    p {
      display: none;
    }
  }

  @media #{$gef-mq-md} {
    margin-top: 20px;
    float: left;
    padding: 0 0 0 25px;
    width: 33.33333%;

    .gef-block--primary-hub & {
      width: 33.33333% !important;
      margin-top: 40px;
    }

    &:only-child {
      width: auto;
    }

    &.gef-expanded-nav__item--alt1 {
      padding: 0 0 0 25px;


      &:before {
        content: none;
      }

      h3 a {
        font-weight: 800;
        font-size: 0.9rem;
      }

      p {
        display: block;
        margin-top: 12px;
      }
    }

    // ie9 force a clear left
    &:nth-child(3n+4) {
      .gef-ie9 & {
        clear: left;
      }
    }
  }

  @media #{$gef-mq-lg} {
    padding: 0 0 0 40px;

    h3 a {
      margin-top: 0;
      font-size: 1rem;
    }

    p {
      font-size: 1rem;
    }

    &.gef-expanded-nav__item--alt1 {
      padding-left: 40px;

      h3 a {
        margin-top: 0;
        font-size: 1rem;
      }

      p {
        font-size: 1rem;
      }
    }

    // 1. ie9 undo the clear left rule above
    &:nth-child(3n+1) {
      .gef-ie9 & {
        clear: none;
      }
    }

    // 2. multiples of 4n+2 e.g. (10, 14 etc)
    &:nth-last-child(4n+2):first-child,
    &:nth-last-child(4n+2):first-child ~ & {
      width: 25%;
    }

    // 3. ie9 force clear on what should be the first item of each row
    &:nth-last-child(4n+2):first-child ~ &:nth-child(4n+5) {
      .gef-ie9 & {
        clear: left;
      }
    }

    // 4. Multiples of 3 or 3n+2 (3, 5, 6, 9 etc)
    &:nth-last-child(3n):first-child,
    &:nth-last-child(3n):first-child ~ &,
    &:nth-last-child(3n + 2):first-child,
    &:nth-last-child(3n + 2):first-child ~ & {
      width: 33.3333%;
    }

    // 5. ie9 undo the force clear on 3
    &:nth-last-child(3n):first-child ~ &:nth-child(4n+1),
    &:nth-last-child(3n + 2):first-child ~ &:nth-child(4n+1) {
      .gef-ie9 & {
        clear: none;
      }
    }

    // 6. ie9 force clear on what should be the first item of each row
    &:nth-last-child(3n):first-child ~ &:nth-child(3n+4),
    &:nth-last-child(3n + 2):first-child ~ &:nth-child(3n+4) {
      .gef-ie9 & {
        clear: left;
      }
    }

    // 7. Multiples of 4 or 4n+3 (4, 7, 8, 11, 12 etc)
    &:nth-last-child(4n):first-child,
    &:nth-last-child(4n):first-child ~ &,
    &:nth-last-child(4n+3):first-child,
    &:nth-last-child(4n+3):first-child ~ & {
      width: 25%;
    }

    // 8. ie9 undo the force clear on 6
    &:nth-last-child(4n):first-child ~ &:nth-child(3n+1),
    &:nth-last-child(4n+3):first-child ~ &:nth-child(3n+1) {
      .gef-ie9 & {
        clear: none;
      }
    }

    // 9. ie9 force clear on what should be the first item of each row
    &:nth-last-child(4n):first-child ~ &:nth-child(4n+5),
    &:nth-last-child(4n+3):first-child ~ &:nth-child(4n+5) {
      .gef-ie9 & {
        clear: left;
      }
    }
  }
}