.gef-featured-teaser_variant{
    @extend .gef-featured-teaser;
    border-bottom:0;
    &:hover{
        border-bottom:0;
    }
}

.gef-featured-teaser__content_variant {
  background-color: $gef-white;
  padding: 10px;
  margin-top:35px;
  margin-left: 5px;
  h2 {
    line-height: 1.2;
    margin-bottom: 0.5em;
  }

  a {
    text-decoration: none;
    color: $gef-content-header;
    display: block;
  }

  @media #{$gef-mq-lg} {
    //position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px;
    background-color: rgba(255,255,255,0.8);
    transition: background-color 0.2s;
    margin-top:25px;
    margin-left:10px;
    h2 {
      font-size: 1.4rem;
    }

    .gef-featured-teaser:hover & {
      background-color: #fff;
    }
  }
}
.gef-featured-teaser__date_variant {
  font-size: 0.8rem;
  font-weight: 400;

  @media #{$gef-mq-xl} {
    font-size: 0.8rem;
  }
}
.gef-featured-teaser_highlight{
        position:absolute;
       // bottom: 0;
        background-color: $gef-bright-grey;
        color: #fff;
        font-weight: 600;
        font-size: .875rem;
        left: 25px;
        margin-right: 25px;
        padding: 5px 10px;
        line-height: 1.4;
        margin-left:-10px;
        margin-top:0;
         @media #{$gef-mq-lg} {
            margin-left:10px;
         }

}