/*

GEF Featured Teaser pattern

*/

.gef-featured-teaser {
  position: relative;
  border-bottom: 3px solid $gef-decoration;
  cursor: pointer;
  transition: border-color 0.2s;

  &:hover,
  &:focus {
    border-bottom: 3px solid $gef-decoration;

    a {
      text-decoration: underline;
    }
  }
}

.gef-featured-teaser__header {
  margin: 1.5em 0 0 !important;  
  font-size: 0.9rem;
  font-weight: 800;
}

.gef-featured-teaser__content {
  background-color: $gef-white;
  padding: 10px;

  h2 {
    line-height: 1.2;
    margin-bottom: 0.5em;
  }

  a {
    text-decoration: none;
    color: $gef-content-header;
    display: block;
  }

  @media #{$gef-mq-lg} {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px;
    background-color: rgba(255,255,255,0.8);
    transition: background-color 0.2s;


    h2 {
      font-size: 1.4rem;
    }

    .gef-featured-teaser:hover & {
      background-color: #fff;
    }
  }
}

.gef-featured-teaser__date {
  font-size: 0.9rem;
  font-weight: 600;

  @media #{$gef-mq-xl} {
    font-size: 1rem;
  }
}