.gef-form-validate {

  a {
    overflow-wrap: break-word;
    word-wrap: break-word; 
  }
  
  fieldset {
    margin-top: 25px;
  }

  .gef-form-group {
    font-weight: 700;
    margin: 10px 0;
    padding-bottom: 10px;

    abbr.sq-form-required-field {
      text-decoration: none;
      border-bottom: none;
    }

    legend {
      margin-bottom: -10px;
    }

    ul {
      li {
        padding-left: 10px;          
        
        &:before {
          content: "";
        }          
      }
    }

    input[type="radio"],  input[type="checkbox"] {
      margin-left: 0;
      vertical-align: middle;
      clip: rect(1px, 1px, 1px, 1px);
      border-radius: 15px;
      cursor: pointer;
      margin-top: -5px;
      width: 15px;

      @media #{$gef-mq-md} {
        width: 17px;
      }

      &.sq-form-field.error {    
        margin-bottom: 0;
        display: inline-block;
      }
    }


    input, select, text, textarea  {        
      max-width: 300px;     
      @media #{$gef-mq-md} {
        max-width: 98%;
      }
      
      border: 1px solid #cccccc;
      border-radius: 0.25rem;    
      
      font-size: 0.875rem;
      padding: 0.625rem;        

      &:focus {

        border: 1px solid #8061f6 !important;
        outline-offset: 3px !important;
        outline: 1px solid #000 !important;

      }
    }

    input, text {
      height: 1.25rem;
    } 

    select {
      border: 1px solid #cccccc !important;
      outline: none;
      background: #f8f8f8;
    }
  }

  label.error {
    display: none;
  }

  .error {
    display: block;
    color: #a20000;
    margin-bottom: 10px;
    font-weight:600;
    padding: 10px 10px 10px 0;
  }

  .hide {
    display: none;
  } 

}