.gef-form {
  display: block;

  label {
    display: block;
    width: 100%;
    font-weight: 800;
    margin-bottom: 5px;
    font-size: 0.9rem;
  }

  select {
    display: block;
    width: 100%;
    font-family: montserrat, sans-serif;
    border: 0;
    outline: 1px solid $gef-black;
    height: 38px;
    background: $gef-white;
    margin-bottom: 15px;
    font-size: 0.9rem;

    &:focus {
      outline: -webkit-focus-ring-color auto 5px;
    }
  }

  p {
    font-size: 0.8rem;
  }

  @media #{$gef-mq-lg} {

    label {
      display: inline-block;
      width: auto;
      margin-right: 7px;
      margin-bottom: 0;
      font-size: 1rem;
    }

    select {
      display: inline-block;
      width: auto;
      margin-right: 7px;
      min-width: 238px;
      margin-bottom: 1rem;
    }

    p {
      margin: 0;
      display: inline-block;
      width: auto;
      font-size: 0.9rem;
    }

    &.gef-form--inline {

      > * {
        display: inline-block;
        width: auto;
        margin-right: 14px;

        &:last-child {
          margin: 0;
        }
      }

      label {
        margin-bottom: 0;
      }
    }
  }
}