// -------------------
// GLOBAL HEADER
//
// Provides set of global header styles.
//
//  .gef-global-header-container  - parent container that wraps global header elements and search elements
//  .gef-global-header            - gef-global-header--altparent container that wraps global header elements
//  .gef-global-header--alt       - inverse colour variation
//  .gef-global-header__header    - clickable logo element
//  .gef-global-header__search    - optional search section
//  .gef-global-header__search [role="tab"]      - the trigger to show the tab
//  .gef-global-header__search [role="tabpanel"] - the panel containing the search form
//  .gef-global-header__search__toggler-opened__close-icon - [X] icon on search
//  .gef-global-header__search-form                       - search form
//  .gef-global-header__search-form input[type="text"]    - search input field
//  .gef-global-header__search-form button[type="submit"] - search form submit button
//
// -------------------



.gef-global-header-container {
  position: relative;
  z-index: 10001;
}

.gef-global-header {
  background: $gef-global-header-bg;
  padding: 11px 0;
  overflow: visible;
  z-index: 20000;
  border-bottom: $gef-global-header-border;

  .gef-global-header--alt & {
    background-color: $gef-global-header-alt-bg;
    border-bottom: $gef-global-header-alt-border;
  }

  abbr {
    border: none;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.3;
  }

  @media #{$gef-mq-md} {
    padding: 12px 0;
    padding-top: 10px
  }

  @media #{$gef-mq-lg} {
    padding: 9px 0;
  }
}




.gef-global-header__header {
  font-weight: 400;
  text-decoration: none;
  font-size: 0.75rem;
  line-height: 1;
  float: left;
  color: $gef-global-header-color;
  padding-top: 5px;
    @media #{$gef-mq-lg} {
    padding-top: 0;
  }

  .gef-global-header--alt & {
    color: $gef-global-header-alt-color-highlight;
  }

  @media #{$gef-mq-md} {

    font-size: 0.75rem;
    font-weight: 400;

    &:before {
      content: attr(title);
      //text-transform: uppercase;
      line-height: 1.8;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    abbr {
      display: none;
    }
  }

  @media #{$gef-mq-lg} {
    font-size: 0.95rem;

    &:before {
     // line-height: 1.3;
    }
  }
}





.gef-global-header__search {
  background-color: $gef-global-header-search-bg;

  .gef-global-header--alt & {
    background-color: $gef-global-header-alt-search-bg;
  }
}




.gef-global-header__search [role="tab"] {
  position: absolute;
  top: 6px;
  right: 15px;
  display: block;
  border: 0;
  padding: 5px;
  background-color: $gef-global-header-bg;
  font-family: $gef-font-family;
  font-size: 0.875rem;
  line-height: 1.3;
  text-decoration: underline;
  cursor: pointer;
  color: $gef-global-header-color;
  transition: color 0.2s, background-color 0.2s;

  &:hover,
  &:focus {
    color: $gef-global-header-color-highlight;
    background-color: $gef-global-header-bg-highlight;
  }

  &:focus {
    outline-offset: -2px !important
  }

  .gef-global-header--alt & {
    color: $gef-global-header-alt-color;
    background-color: $gef-global-header-alt-bg;

    &:hover {
      color: $gef-global-header-alt-color-highlight;
      background-color: $gef-global-header-alt-bg-highlight;
    }
  }

  i {
    display: inline-block;
    margin-left: 0.5rem;
    font-size: 1rem;
    text-decoration: none;
    font-weight: normal;
  }

  @media #{$gef-mq-md} {
    line-height: 1.4;
    top: 7px;
  }

  @media #{$gef-mq-lg} {
    font-size: 0.95rem;
    line-height: 1.3;
    left: 50%;
    right: auto;
    margin-left: $gef-max-width/2 - 30px;
    transform: translateX(-100%);
    white-space: nowrap;

    i {
      font-size: 1.3rem;
    }
  }
}


// Tab not activated
.gef-global-header__search [role="tab"][aria-expanded="false"] .gef-global-header__search__toggler-closed {
  visibility: visible;
  display: block;
}

// Tab is activated
.gef-global-header__search [role="tab"][aria-expanded="true"] .gef-global-header__search__toggler-closed {
  visibility: hidden;
  display: none;
}

// Tabpanel not activated
.gef-global-header__search [role="tab"][aria-expanded="false"] .gef-global-header__search__toggler-opened {
  visibility: hidden;
  display: none;
}

// Tabpanel is activated
.gef-global-header__search [role="tab"][aria-expanded="true"] .gef-global-header__search__toggler-opened {
  visibility: visible;
  display: block;
}



.gef-global-header__search__toggler-opened__close-icon {
  @include gef-close-icon($gef-global-header-color, $gef-global-header-color-highlight, 2px, 18px, 2px);

  .gef-global-header--alt & {
    @include gef-close-icon($gef-global-header-alt-color, $gef-global-header-alt-color-highlight, 2px, 18px, 2px);
  }

  @media #{$gef-mq-lg} {
    @include gef-close-icon($gef-global-header-color, $gef-global-header-color-highlight, 2px, 20px, 2px);

    .gef-global-header--alt & {
      @include gef-close-icon($gef-global-header-alt-color, $gef-global-header-alt-color-highlight, 2px, 20px, 2px);
    }
  }
}



.gef-global-header__search [role="tabpanel"] {
  visibility: hidden;
  display: block;
  height: 0;
  overflow: hidden;
  background-color: transparent;
  margin: 0 -25px;
  width: auto;
  padding: 0 20px;
  transition: height 0.3s, visibility 0.3s 0s;

  &[aria-hidden="false"] {
    visibility: visible;
    height: 62px;
    transition: height 0.3s;
  }

  @media #{$gef-mq-md} {

    &[aria-hidden="false"] {
      height: 82px;
    }
  }

  @media #{$gef-mq-lg} {
    margin: 0 -40px;
    padding: 0 34px;

    &[aria-hidden="false"] {
      height: 102px;
    }
  }
}




.gef-global-header__search-form {
  position: relative;
  border: 1px solid $gef-global-header-search-border;
  margin: 10px 0;
  border-radius: 4px;

  .gef-global-header--alt & {
    border-color: $gef-global-header-alt-search-border;
  }

  @media #{$gef-mq-md} {
    margin: 15px 0;
  }

  @media #{$gef-mq-lg} {
    margin: 20px 0;
  }
}



.gef-global-header__search-form input[type="text"] {
  display: block;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  margin: 0;
  height: 40px;
  width: 90%;
  line-height: 2;
  vertical-align: middle;
  padding: 1px 25px 1px 15px;
  font-size: 1rem;
  font-family: $gef-font-family;
  letter-spacing: 0;
  color: $gef-global-header-color-highlight;
  background-color: $gef-global-header-search-bg;
  border-radius: 4px;

  &:focus {
    box-shadow: none;
    animation: none;

    &::placeholder {
      border-left-color: transparent;
    }
  }

  &::placeholder {
    color: $gef-global-header-color;
    opacity: 1;

    .gef-global-header--alt & {
      color: $gef-global-header-alt-color;
    }
  }

  .gef-global-header--alt & {
    background-color: $gef-global-header-alt-search-bg;
    color: $gef-global-header-alt-color-highlight;
  }

  @media #{$gef-mq-md} {
    height: 50px;
    width: 92%;
    padding-left: 20px;
  }

  @media #{$gef-mq-lg} {
    font-size: 1.125rem;
    height: 60px;
    padding-left: 25px;
  }
}

.gef-global-header__search-form button[type="submit"] {
  display: block;
  width: 50px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  border: 0;
  padding-right: 15px;
  color: $gef-global-header-color;
  background-color: $gef-global-header-search-bg;
  font-size: 1.3rem;
  text-align: right;
  line-height: 1.5;
  cursor: pointer;
  border-radius: 4px;

  .gef-global-header--alt & {
    background-color: $gef-global-header-alt-search-bg;
    color: $gef-global-header-alt-color;
  }

  &:active {
    outline: dotted 1px $gef-black;
  }

  @media #{$gef-mq-md} {
    height: 50px;
    line-height: 1.9;
    font-size: 1.5rem;
    padding-right: 20px;
    padding-left: 15px;
    width: 50px;
  }

  @media #{$gef-mq-lg} {
    font-size: 1.7rem;
    line-height: 1;
    height: 60px;
    transition: color 0.2s;
    padding-right: 30px;
    padding-left: 18px;
    width: 60px;

    &:hover,
    &:focus {
      color: $gef-global-header-color-highlight;

      .gef-global-header--alt & {
        color: $gef-global-header-alt-color-highlight;
      }
    }

    &:focus,
    &:active {
      outline: dotted 1px $gef-black;
    }
  }
}

//styles for global header login
.global-header-right-nav {
    float: right;
    margin-right: -12px;
    @media #{$gef-mq-md}
    {
        margin-right: 5px;
    }
}
.gef-global-links {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    //padding-top: 5px;
    li:before,ul:before {
    display: none
}
}

.gef-global-links-dropdown {
    display: none;
    position: absolute;
    z-index:9000;
    top: 100%;
    float: left;
    min-width: 160px;
    padding: 0;
    margin: 2px 0 0;
    font-size: 12px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    left: auto;
    right: 0;

     @media #{$gef-mq-md} {
      font-size: 14px;
     }

    li {
        padding-left: 0;
        padding: 0 20px;

        ul {
          margin-top: 10px;
          margin-bottom: 10px;
          li {
            padding: 0 20px;
          }
        }

        h4 {
          font-size: 1rem;
        }

        a {
            display: block;
            clear: both;
            white-space: nowrap;
            text-decoration: none;
            font-weight: 600;
            &:focus {
                text-decoration: underline;
                outline-offset: 0;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &>li {
      border-bottom: $gef-global-header-alt-border;
      padding: 7px 20px;
      font-weight: bold;
    }
}
.gef-global-link-button {
    background-color: $gef-zircon;
    font-size: 12px;
    font-weight: 600;
    border-width: 0;
    width: 80px;
    height: 100%;
    display: inline-block;
    //font-size: 14px;
    line-height: 1.38;
    text-align: center;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    @media #{$gef-mq-md}
    {
        padding: 0 12px;
    }
    &:hover {
        background-color: $gef-section-footer-bg;
    }
        &:focus {
        outline-offset: 1px !important;
    }
    &:after {
        padding-left: 10px;
        content: '\f107';
        font-family: 'FontAwesome';
        font-size: 16px;
        font-weight: 700;
    }
    .global-link-button-txt {
        display: none!important;
        vertical-align: text-bottom;
        @media #{$gef-mq-md}
        {
            display: inline!important;
        }
    }
}
.gef-global-link-button {


}
.gef-link-icon {
    &:before {
        content: '\f007';
        font-family: 'FontAwesome';
        display: inline!important;
        font-size: 1.75em;
    }
}
.gef-global-link-button.rotate {
    &:after {
        padding-left: 10px;
        content: '\f106';
        font-family: 'FontAwesome';
        font-size: 16px;
        font-weight: 700;
    }
}
.global-header-links-right {
    padding-left: 0;
}