$gef-header-logo-width-small: 180px;

.gef-corporate-logo {

  &:after {
    content: none !important;
  }
}

.gef-corporate-logo__link {
  display: block;
  background: transparent;
}

.gef-corporate-logo__image {
  width: $gef-header-logo-width-small;
  height: auto;

  @media #{$gef-mq-lg} {
    width: 170px;
  }
}