// -------------------
// Google translator css
//
// Overiding the styles
//
//
// -------------------

div#google_translate_element.gef_google_translate {
    display: none;

    @media #{$gef-mq-lg} {
        display: inline-block;
        vertical-align: middle;
    }

    .goog-te-gadget-simple {
        background: transparent!important;
        border: none!important;
        padding-left: 10px;
        padding-right: 6px;
        padding-top: 0!important;
        padding-bottom: 1px!important;

        .goog-te-gadget-icon {
          margin-top: -2px!important;
        }

        .goog-te-menu-value span:nth-child(1) {
          font-family: montserrat,Arial,sans-serif;
          font-weight: 600;
          font-size: 12px;
          display: inline-block;
          text-transform: lowercase;

          &:first-letter {
              text-transform: capitalize;
          }
        }

        .goog-te-menu-value span:nth-child(3) {
            display: none;
        }

        .goog-te-menu-value span:nth-child(5){
            color: transparent!important;
        }

        .goog-te-menu-value span:nth-child(5):after {
            content: "\f107";
            font-family: FontAwesome;
            font-size: 16px;
            font-weight: 700;
            color: black!important;
        }

        .goog-te-menu-value img {
            margin-left: -1px!important;
            margin-right: -1px!important;
        }

    }

    div:hover.goog-te-gadget-simple {
        background-color: $gef-section-footer-bg !important;

    }

}
