.gef-GJ-container {
  @media #{$gef-mq-md} {
    display: flex;
  }
}

.gef-GJ-index {
  .uk-icon-chevron-left {
    position: absolute;
    top: 0;
    left: 0;
    margin: 17px 0 0 15px !important;
    transform: rotate(-90deg) scaleX(-1);

    &:before {
      content: "\f112";
    }
  }

  .gef-side-navigation {
    @media #{$gef-mq-md} {
      margin-top: 74px;
    }
  }

  &[data-scroll-passed=true] {
    padding-top: 120px;

    @media #{$gef-mq-lg} {
      padding-top: 0;
    }

    nav.uk-visible-small {
      position: fixed;
      top: 0;
      left: 0;
      padding: 5px;
      // height: 59px;
      height: 85px;
      width: 100%;
      background-color: $gef-white;
      box-shadow: 0 2px 7px 0 rgba(0,0,0,0.3);
      box-sizing: border-box;
      z-index: 1;

      select {
        float: left;
        margin: 0;
        width: calc(100% - 145px);
      }

      button {
        float: right;
        margin: 0;
        padding: 4px;
        min-height: 40px;
      }
    }
  }

  select {
    padding-left: 14px;
    padding-right: 34px;
    margin-bottom: 20px;
  }
}

.gef-GJ-main {
  margin-top: 30px;

  @media #{$gef-mq-md} {
    margin-top: 60px;
    padding-bottom: 30px;
  }

  *:first-child[tabindex="0"] {
    outline: none;
  }

  .gef-pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

    @media #{$gef-mq-md} {
      display: block;
      margin-top: 60px;
    }

    &__prev {
      padding-left: 38px;

      @media #{$gef-mq-md} {
        padding-left: 45px;
      }
      
      i { left: 20px; }
    }

    &__next {
      padding-right: 38px;

      @media #{$gef-mq-md} {
        padding-right: 45px;
      }

      i { right: 20px; }
    }

    .uk-button {
      position: relative;
      margin-top: 0;
      text-transform: none;
      width: calc(50% - (45px / 2)) !important;
      font-size: 1.125rem;
      font-weight: $button-font-weight;

      @media #{$gef-mq-md} {
        width: auto !important;
      }
    }

    i {
      position: absolute;
      top: 50%;
      font-size: 1.5rem;
      transform: translateY(-50%);
    }
  }

  .lead {
    margin-bottom: 45px;
    padding-bottom: 0;

    @media #{$gef-mq-md} {
      margin-bottom: 60px;
    }    
  }

  h3 {
    margin-top: 1.875rem;

    @media #{$gef-mq-md} {
      margin-top: 2.81rem;
    }
  }

  h4 {
    margin: 1.875rem 0 1.25rem;

    @media #{$gef-mq-md} {
      margin: 2.81rem 0 1.875rem;
    }
  }

  *+p {
    margin-top: 1.25rem;

    @media #{$gef-mq-md} {
      margin-top: 1.875rem;
    }
  }
}

.gef-GJ-title {
  margin: 45px 0 30px;

  .gef-main article & {
    @media #{$gef-mq-md} {
      margin-top: 74px;
    }
  }
}