// -------------------
// ICON and LABEL
//
// A label and an icon to represent a section of a site. Uses as CSS background image for the icon
//
//  .gef-icon-and-label                 - parent container that wraps the required elements
//  .gef-icon-and-label--secured        - displays a secured icon on the label
//  .gef-icon-and-label__icon           - The icon
//  .gef-icon-and-label__label          - The label
//
// -------------------


.gef-icon-and-label {
  margin-top: 25px;
  margin-bottom: 10px;

  @media #{$gef-mq-md} {
    margin-top: 40px;
    float: left;

    .gef-block--primary-hub & {
      width: 30%;
    }
  }
}

.gef-icon-and-label__icon {
  margin-right: 15px;
  width: 25%;
  padding-top: 25%;
  display: block;
  background-image: url("../images/gef-logo.svg");
  background-size: 80% auto;
  background-repeat: no-repeat;
  float: left;

  @media #{$gef-mq-md} {

    margin-right: 0;
    margin-bottom: 10px;
    padding: 0;
    width: auto;
    float: none;
    width: 70px;
    height: 70px;
    background-size: 100% auto;
  }
}

.gef-icon-and-label__label {
  margin: 0;
  font-size: 0.9rem;
  line-height: 1.3;
  //text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.03em;

  &:after {
    content: none;

    .gef-icon-and-label--secured & {
      content: '\f023';
      font-family: 'FontAwesome';
      display: inline-block;
      margin-top: 2px;
      margin-left: 3px;
      color: $gef-dark-grey;
      font-size: 0.8rem;
      line-height: 1;
      vertical-align: middle;
    }
  }


  @media #{$gef-mq-md} {
    font-size: 1rem;
    font-weight: 600;

    &:after {

      .gef-icon-and-label--secured & {
        font-size: 1.05rem;
      }
    }
  }

  @media #{$gef-mq-lg} {
    font-size: 1.125rem;
  }
}

.gef-icon-and-label__subtitle {
  margin-top: 0;
  //text-transform: uppercase;
  color: $gef-dark-grey;
  font-size: 0.8rem;
}