// -------------------
// GEF IFRAME
//
// Provides iframe styling.
//
// .gef-iframe - parent container that wraps an iframe
//
// -------------------

.gef-iframe {
  position: relative;
  padding: 25px 0 56.25%;
  height: 0;
  margin: 0 0 30px;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
