//
// GEF Image With Caption
//

.gef-image-with-caption {
  box-sizing: border-box;
  margin: 1.06rem 0 0 0 ;

  p , figcaption {
    font-size: 0.7778rem;
    line-height: 1.111rem;
    margin-top: 12px;
  }

  @media #{$gef-mq-lg} {
    padding-right: 25%;
  }
}

.caption {
  font-size: 0.7778rem;
  line-height: 1.111rem;
  margin-top: 12px;
}
