// -------------------
// LANDING HEADER
//
// Provides set of styles for a landing header.
//
// .gef-landing-header                - container to list teasers
//
// -------------------


.gef-landing-header {
  position: relative;

  h1 {
    color: $gef-content-header;
    font-weight: 800;
    font-size: 1.25rem;
    line-height: 1.375rem;
    margin-bottom: 0;
  }

  @media #{$gef-mq-md} {
    h1 {
      line-height: 1.6rem;
    }
  }

  @media #{$gef-mq-lg} {
    h1 {
      font-size: 1.75rem;
      line-height: 2.25rem;
    }
  }
}

.gef-landing-header__lead {
  color: $gef-black;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 8px;

  @media #{$gef-mq-md} {
    margin-top: 15px;
  }

  @media #{$gef-mq-lg} {
    font-size: 1.375rem;
    line-height: 1.875rem;
  }
}