.gef-main {
  padding: 0 0 88px;
  position: relative;
  overflow: hidden;

  article > h1,
  .gef-main_header {
    margin-top: 50px;
  }

  @media #{$gef-mq-lg} {
    padding: 0 0 60px;
  }

  &#content {
    outline: 0;
  }

  .home & {
    padding: 0 0 40px;
  }

  &--GJ {
    padding: 0 0 60px;
  }
}

.gef-lhs {
  @media #{$gef-mq-md} {
    padding-right: 10%;
  }
}

.gef-rhs {
  margin: 80px 0 0;

  @media #{$gef-mq-lg} {
    margin-top: 0;
    padding-left: 10%;
  }
}

.gef-external-link {
  @extend .uk-icon-external-link;

  &:before {
    font-family: 'FontAwesome';
    margin-top: 2px;
    padding-left: 9px;
  }
}