//
// Link List
//
// Styling for link lists
//
// @extend .uk-icon-chevron-right   - Takes UIKIT's right chevron icon and applies it to the list item's before attribute
// :before                          - Adds font styling, colour and margin to chevron icon
//
//

.gef-link-list {
  margin: 0;
  padding: 0;

  li {
    @extend .uk-icon-angle-right;
    padding-left: 18px;

    &:before {
      font-family: 'FontAwesome';
      display: inline-block;
      color: $gef-decoration;
      font-size: 1.2em;
      margin-top: -1px;
    }
  }

  a {
    display: inline-block;
    font-weight: 400;
    vertical-align: middle;
  }

}