//
// Link Tag
//
// Styling for Link Tag
//
//
//

.link-tag {
  margin-left: 0.7em;
  width: $link-button-width;
  height: $link-button-height;
  border-radius: 4px;
  background-color: $gef-medium-grey;
  color: $gef-white;
  font-size: 0.5625rem;
  font-weight: normal;
  padding: $link-button-padding;
  border-radius: 4px;
  white-space: nowrap;

    @media #{$gef-mq-md} {
      font-size: 0.8125rem;
    }
}

.link-tag-no-icon {
  @extend .link-tag;
  margin-left: 5px;
}

.link-tag-icon {
  font-style: normal;

  &:before{
	font-family: 'FontAwesome';
    display: inline-block;
    padding: 2px 5px 2px 3px;
    margin-top: 2px;
    content: "\f023";

    @media #{$gef-mq-md} {
      padding: 2px 5px 2px 5px;
    }
  }
}

.link-tag-icon {
  background-color: $gef-medium-grey;
  color: $gef-white;
}

.link-tag-icon--left-margin{
  margin-left: 5px;

  @media #{$gef-mq-md} {
    margin-left: 15px;
  }
}


.gef-section-header h1 a{
  display: inline;
}

.gef-section-header .link-tag-icon , .gef-section-header .link-tag {
  background-color: $gef-white;
  color: $gef-medium-grey;
  white-space: nowrap;
  position: relative;
  margin-left: 0;
  top: 0;
}

.gef-section-header .link-tag {
  top: -4px;
}

.gef-link-tag-box {
  border-radius: $download-box-border-radius;
  background-color: $download-box-background;
  padding: $download-box-padding;
  color: $download-box-color;
  font-size: 1rem;
  margin: 20px 0;

  a {
   font-weight: 300;
   font-style: normal;
   font-stretch: normal;
   line-height: 1.5;
   letter-spacing: normal;
   text-align: left;
   }

   .link-tag-container{
   padding-bottom: 10px;
   }
}

.gef-link-tag-box--bold-text {
  font-weight: 800 !important;
}