//
// Link Columns - Link List split into columns which read in an top down direction
//
// .gef-link-columns - the containing div
// .gef-link-columns__items - list container with .gef-link-list styles
// .gef-link-columns__{2 or 3}col - class to split links into 2 or 3 columns
// .gef-link-columns__condensed - reduced margins and padding between links
//
//

.gef-link-columns {

  .gef-link-columns__items {


    li {
      position: relative;
      padding-left: 30px;
      margin-top: 0;
      margin-bottom: 20px;
      display: inline-block;
      break-inside: avoid;
      break-before: avoid;
      break-after: avoid;

      &:before {
        position: absolute;
        line-height: 1em;
        top: 4px;
        margin-top: 0;
      }
    }

    a {
      line-height: 1.6;
      vertical-align: baseline;
    }

    .gef-link-list__sub-link {
      font-size: 0.875em;
      color: $gef-bright-grey;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .gef-link-columns--2col {

    @media #{$gef-mq-md} {
      column-count: 2;
      vertical-align: top;
    }
  }

  .gef-link-columns--3col {

    @media #{$gef-mq-md} {
      column-count: 3;
      vertical-align: top;
    }
  }

  .gef-link-columns--condensed {

    li {
      margin-bottom: 10px;
      padding-left: 25px;
    }
  }
}

