// -------------------
// Link group
//
// Provides set of styles for a linkgroup.
//
//  .gef-linkgroup-list                - container to list linkgroups
//  .gef-linkgroup                     - linkgroup container
//  .gef-linkgroup__category           - linkgroup category
//  .gef-linkgroup__heading            - linkgroup heading
//
// -------------------


.gef-linkgroup-list {
  @extend .gef-teaser-list;
}

.gef-linkgroup {
  margin-top: 10px;
  padding-bottom: 20px;

  li {
    padding-left: 30px;

    &:before {
      margin-top: -3.5px;
    }
  }

  a {
    display: block;
    margin-top: 20px;
    font-weight: normal;
    font-size: 0.9em;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

  }

  @media #{$gef-mq-md} {
    margin-top: 30px;
  }
  @media #{$gef-mq-lg} {
    padding-bottom: 10px;
  }
}

.gef-linkgroup__category  {
  @extend .gef-teaser__category;
  margin-bottom: 0;
  border-bottom: 0 !important;
  padding-bottom: 0;
}

.gef-linkgroup__heading {
  @extend .gef-teaser__heading
}