.livefyre-mosaic {
  display: flex;
  .livefyre-item {
    border: 1px solid $gef-grey-v2;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.56);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.56);
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.56);
    border-radius: 4px;
    position: relative;
    width: 316px;
    margin-right: 25px;
    margin-top: 25px;
    &:last-child {
      margin-right: 0px;
    }
    .livefyre-image-location {
      text-align: center;
      border-bottom: 1px solid $gef-grey-v2;
      img {
        overflow: hidden;
        height: 316px;
        border: 0;
        padding: 0;
        margin: auto;
        max-width: 316px;
      }
    }
    .livefyre-branding {
      background-position: center center;
      background-repeat: no-repeat;
      background-image: url("https://education.nsw.gov.au/__data/assets/image/0011/834950/Instagram_Logo_NSW_Gov_72x72-01-01-copy.png");
      min-height: 72px;
      width: 72px;

      position: absolute;
      padding: 0;
      left: 0;
      right: 0;
      margin: auto;
      top: 280px;
    }
    .livefyre-wording {
      padding: 56px 15px;
      border: none;
      overflow: hidden;
      p {
        font-size: $base-body-font-size;

      }
    }
    .livefyre-footer {
      padding: 5px 15px;
      border-top: 1px solid $gef-grey-v2;
      font-color: $gef-grey-font-v2;
      font-size: 0.85rem;
      position: absolute;
      bottom: 0;


    }
    .livefyre-twitter {
      @include fontAwesomeStandard("\f099", $gef-grey-font-v2, 1.45em, 7px);
    }
    .livefyre-facebook {
      @include fontAwesomeStandard("\f09a", $gef-grey-font-v2, 1.45em, 7px);
    }
    .livefyre-instagram {
      @include fontAwesomeStandard("\f16d", $gef-grey-font-v2, 1.45em, 7px);
    }
    .livefyre-date-and-type, .livefyre-share, .livefyre-type, .livefyre-date {
      display: inline-block;
    }
    .livefyre-share {
      @include fontAwesomeStandard("\f14d", $gef-grey-font-v2, 1.45em, 7px);

    }
  }
}
