// -------------------
// Loader
//
// Animated loading indicator
//
//  .gef-loader               - container to list linkgroups
//
// -------------------

.gef-loader {
  &, &:before, &:after {
    border-radius: 50%;
    width: 1em;
    height: 1em;
    animation-fill-mode: both;
    animation: load7 1.8s infinite ease-in-out;
  }
}

.gef-loader {
  color: $gef-magnesium;
  font-size: 10px;
  margin: 10px auto;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;

  &:before, &:after {
    content: '';
    position: absolute;
    top: 0;
  }

  &:before {
    left: -2em;
    animation-delay: -0.32s;
  }

  &:after {
    left: 2em;
  }

  &[aria-hidden=true] {
    display: none;
  }

}

@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}