// LOGIN LINK
//
//  A link to the SSO login page
//
//  .gef-login-link  - main container
//
// -------------------

.gef-login-link {
  font-size: 0.9rem;

  // font awesome icon
  i {
    color: $gef-dark-grey;
    line-height: 1;
    font-size: 1.2rem;
  }

  p {
    margin: 0;
  }

  a {
    display: block;
  }

  @media #{$gef-mq-lg} {
    font-size: 1rem;
  }

}
