// -------------------
// Long Document Anchor Index
//
// Provides set of styles for the long document anchor index
//
//  .gef-LD-main                   - container used to generate anchors
//  .gef-LD-index                  - container for the anchor index
//  .gef-anchor-index              - container to anchors
//  .active                        - active anchors item
// -------------------

.gef-LD-index {
  order: 0;

  &[data-scroll-passed=true] {
    // padding-top: 62px;
    padding-top: 120px;
  }
}

.gef-LD-main {
  // order: 1;
  padding-top: 30px;
}

.gef-anchor-index {
  z-index: 1;

  @media #{$gef-mq-md} {
    padding: 30px 20px 30px 0;
    border-right: 1px solid $gef-lighter-grey;
  }

  [data-scroll-passed=true] & {
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px;
    // height: 59px;
    height: 85px;
    width: 100%;
    background-color: $gef-white;
    box-shadow: 0 2px 7px 0 rgba(0,0,0,0.3);
    box-sizing: border-box;

    &.hide {
      display: none;
    }

    @media #{$gef-mq-md}{
      padding: 30px 20px 30px 0;
      left: auto;
      width: 26%;
      height: auto;
      max-height: 100vh;
      overflow: auto;
      box-shadow: none;
    }

    @media #{$gef-mq-lg} {
      width: 255px;
    }

    select {
      float: left;
      margin: 0;
      width: calc(100% - 145px);
    }

    button {
      float: right;
      margin: 0;
      padding: 4px;
      min-height: 40px
    }
  }

  .active {
    font-weight: bold;
  }

  li {
    &:before {
      display: none;
    }

    i {
      @extend .uk-icon-angle-right;
      position: absolute;
      left: 0;
      display: inline-block;
      margin-top: -1px;
      font-family: 'FontAwesome';
      font-size: 1.2em;
      font-style: normal;
      color: $gef-decoration;
    }
  }
}
