// -------------------
// RIBBON
//
// A thin box which displays important information in a show-hide format designed to inform the user.
//
// .gef-maintenance-ribbon                          - Container for the header and content
// .gef-maintenance-ribbon__message               - The main message and title for the ribbon
//
// -------------------


.gef-maintenance-ribbon {
  background-color: $gef-light-grey;
  position: relative;
  overflow: hidden;
  padding: 6px 0 9px;
  border-bottom: 1px solid #fff;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: $gef-medium-grey;
  }

  @media #{$gef-mq-md} {
    padding: 8px 0;
  }
}

.gef-maintenance-ribbon__message {
  font-size: 0.8rem;
  margin-bottom: 0;
  font-weight: 600;
  cursor: pointer;

  @media #{$gef-mq-lg} {
    font-size: 0.875rem;
  }
}