//
// GEF Main Navigation
//
// .active                    - Expands mobile version using max-height and transitions.
// &:first-child              - Adds a border to the top of the first menu item.
// &:after                    - Adds chevron icon to menu items.
// .gef-section-header &      - Dims the button to indicate it cannot be used.
// .uk-active                 - Active menu item styles
//

.gef-nav-container {
  background: $gef-lighter-grey;
  position: relative;
}

.gef-nav {
  display: block;
  overflow: hidden;
  width: 100%;
  background: $gef-highlight-panel-bg;
  border-bottom: 2px solid $gef-decoration;
  position: absolute;
  top: auto;
  left: 0;
  z-index: 1000;
  transform: translateY(-100%);
  transition: transform 0.3s;

  &.active {
    transform: translateY(0%);
  }

  > ul {
    width: 100%;
    padding: 20px;
    @include reset_list;
    box-sizing: border-box;

    > li {
      display: block;
      width: 100%;
      list-style: none;
      padding: 0;
      margin: 0;

      &:before {
        content: none;
      }

      &:first-child {
        > a {
          border-width: 1px 0;
        }
      }

      > a,
      > a:visited {
        display: block;
        width: 100%;
        text-align: left;
        color: $gef-black;
        //text-transform: uppercase;
        border: 0 dotted $gef-black;
        border-width: 0 0 1px;
        padding: 16px 20px 15px 0;
        overflow: hidden;
        cursor: pointer !important;

        &:after {
          content: "\f105";
          font-family: "FontAwesome";
          float: right;
          margin: -1px -20px 0 0;
        }
      }

      > a:focus {
        outline-offset: -3px !important;
      }
    }
  }

  @media #{$gef-mq-lg} {
    position: static;
    overflow: visible;
    background: none;
    transform: none;
    border-bottom: none;

    > ul {
      display: flex;
      width: 100%;
      padding: 0;

      > li {
        display: flex;
        flex: 1 1 auto;
        width: 100%;

        &:first-child {
          > a {
            border: none;
          }
        }

        &.uk-active {
          a,
          a:visited {
            background: $gef-secondary-bg;
            @include arrow($gef-secondary-bg, 20, bottom);
            text-decoration: underline;
            color: $gef-secondary-text;
            font-weight: 700;

            &:hover,
            &:focus {
              background: $gef-secondary-bg-action;
              @include arrow($gef-secondary-bg-action, 20, bottom);

              &:after {
                border-color: $gef-secondary-bg-action transparent transparent transparent;
              }
            }

            &:after {
              transition: border-color 0.2s;
            }
          }
        }

        > a,
        > a:visited {
          display: inline-block;
          text-align: center;
          transition: background-color 0.2s;
          overflow: visible;
          border: 0 none;
          position: relative;
          padding: 20px;
          cursor: pointer;

          &:hover,
          &:focus {
            background: $gef-secondary-bg-action;
            text-decoration: underline;
            color: $gef-secondary-text-action;
          }

          &:after {
            content: none;
          }
        }
      }

      .gef-ie9 & {
        display: block;
        text-align: center;
        font-size: 0;

        > li {
          width: auto;
          min-width: 200px;
          display: inline-block;
          float: none;
          margin: 0;
        }
      }
    }
  }
}

.gef-nav__toggle {
  position: absolute;
  bottom: 0px;
  right: 0px;
  float: right;
  height: 43px;
  width: 43px;
  text-align: right;
  line-height: 23px;
  border: 0;
  background: transparent;
  cursor: pointer;
  z-index: 100000;
  padding-right: 15px;
  padding-left: 5px;
  box-sizing: border-box;
  color: $gef-black;
  cursor: pointer;

  &.active {
    &:after {
      content: "\f00d";
    }
  }

  span {
    @extend .show-on-sr;

    @media #{$gef-mq-lg} {
      display: none;
    }
  }
}
