/*

GEF News Teaser pattern

*/

.gef-news-teaser {
  margin-bottom: 0;
  border-top: 1px solid $gef-lines;
  padding: 10px 10px 20px;
  transition: background 0.2s, border-color 0.2s;
  background-image: linear-gradient(to bottom, transparent, transparent);

  &:hover,
  &:focus {
    background-image: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 80%);
    border-top-color: $gef-decoration;
  }

  @media #{$gef-mq-md} {
    display: flex;
    padding: 15px;
  }

  @media #{$gef-mq-lg} {
    li:first-child & {
      margin-top: 50px;
    }
  }
}

.gef-news-teaser__date {
  font-size: 0.7rem;
  font-weight: 600;
  color: $gef-dark-grey;

  @media #{$gef-mq-md} {
    font-size: 0.8rem;
    width: 30%;
  }

  @media #{$gef-mq-xl} {
    font-size: 0.9rem;
  }
}

.gef-news-teaser__content {

  h1 {
    font-size: 1rem;
    margin-bottom: 0.5em;
    line-height: 1.4;
  }

  a {
    text-decoration: none;
    color: $gef-content-header;

    &:hover,
    &:focus,
    .gef-news-teaser:hover & {
      text-decoration: underline;
    }
  }

  p {
    font-size: 0.8rem;
    margin-bottom: 0;
  }

  @media #{$gef-mq-md} {
    width: 70%;

    h1 {
      font-size: 1.3rem;
    }

    p {
      font-size: 1rem;
    }
  }
}