// -------------------
// NOTICE RIBBON
//
// A thin box which displays important information in a show-hide format designed to inform the user.
//
// .gef-notice-ribbon                          - Container for the header and content
// [role="tab"]                               - The top strip of content, always visible
// [role="tabpanel"]                           - Contents of the show/hide
// .gef-notice-ribbon__title                   - The main message and title for the ribbon
// .gef-notice-ribbon__icon                    - The icon close and open interaction
// .gef-notice-ribbon__additional              - Additional content in the ribbon top
//
// -------------------



.gef-notice-ribbon {
  background-color: $gef-lighter-grey;
  position: relative;
  overflow: hidden;

  [role="tab"] {
    display: block;
    box-sizing: border-box;
    padding: 13px 50px 12px 0;
    overflow: hidden;
    border-bottom: 1px solid transparent;
    transition: border 0.6s;
    max-width: $gef-max-width;
    margin: 0 auto;

    &:focus {
      outline: 0;
    }
  }

  [role="tabpanel"] {
    visibility: hidden;
    box-sizing: border-box;
    height: auto;
    overflow: hidden;
    max-height: 0;
    font-size: 0.95rem;
    transition: max-height 0.6s, padding 0.4s 0.2s, border 0.6s, visibility 0.6s 0s;
    border-top: 1px solid transparent;

    p {
      color: $gef-dark-grey;
      font-weight: 400;
      font-size: 0.875rem;
    }

    &:focus {
      outline: 0;
    }

    // active styles
    &[aria-hidden="false"] {
      visibility: visible;
      max-height: 100vh;
      border-top: 1px solid $gef-light-grey;
      padding: 15px 0;
      transition: max-height 0.8s, padding 0.2s;
    }
  }

  @media #{$gef-mq-md} {



    [role="tab"] {
      position: relative;
      padding-right: 0;
      overflow: hidden;
    }

    [role="tabpanel"] {
      p {
        font-size: 1.25rem;
      }

      &[aria-hidden="false"] {
        padding: 30px 0;
        max-height: 50vh;
      }
    }
  }
}

.gef-notice-ribbon__title {
  font-size: 0.8rem;
  margin-bottom: 0;
  font-weight: 400;
  cursor: pointer;

  .link-tag {
    font-weight: 600;
  }

  @media #{$gef-mq-md} {
    float: left;
    padding-left: 35px;
    font-size: 0.875rem;

    .link-tag {
      font-size: 0.65rem;
      margin-left: 5px;
    }
  }
}

.gef-notice-ribbon__icon {
  position: absolute;
  right: 25px;
  top: 12px;
  width: 21px;
  height: 21px;
  background-image: url("../images/ribbon-down-both.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  transition: transform 0.2s;

  .gef-notice-ribbon__title:hover ~ &,
  .gef-notice-ribbon__title:focus &,
  &:hover,
  &:focus,
  [role="tab"]:focus & {
    background-image: url("../images/ribbon-down-both.svg");
    background-position: 0 -21px;
  }

  [aria-expanded="true"] & {
    transform: rotate(-180deg);
  }

  @media #{$gef-mq-md} {
    right: auto;
    left: 30px;
  }

  @media #{$gef-mq-lg} {
    left: 45px;
  }
}

.gef-notice-ribbon__cta {
  margin: 8px 0 15px;
  font-size: 0.9rem;
  float:left;
  background-color: transparent;
  color: $gef-notice-ribbon-cta-color;
  border: 2px solid $gef-notice-ribbon-cta-color;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 600;
  line-height: 1.6;

  @media #{$gef-mq-md} {
    margin: 15px 0;
  }
}

.gef-notice-ribbon__additional {
  margin-top: 0;
  clear: both;

  a {
    font-weight: 600;
  }

  @media #{$gef-mq-md} {
    position: absolute;
    right: 25px;
    top: 13px;
    display: block;
    font-size: 0.875rem;
    font-weight: 400;
  }

  @media #{$gef-mq-lg} {
    left: 50%;
    right: auto;
    margin-left: $gef-max-width/2 - 40px;
    transform: translateX(-100%);
    white-space: nowrap;
    font-size: 0.875rem;
  }
}