/*

GEF Pagination Pattern

:hover                         - Grey hover with a 0.2s transition
.gef-pagination__prev          - Provides padding and alignment given to the previous page button.
.gef-pagination__prev:before   - Adds the previous page button icon
.gef-pagination__next          - Provides padding and alignment given to the next page button.
.gef-pagination__next:before   - Adds the next page button icon

*/

.gef-pagination {
  @include reset-list;
  clear: both;
  margin-bottom: 0;
  text-align: center;

  li {
    display: none;
    padding: 0;
    margin-right: 3px;


    > a,
    > span {
      display: inline-block;
      box-sizing: border-box;
      margin: 0;
      overflow: visible;
      max-width: 32px;
      border: 1px solid $pagination-border-color;
      border-radius: 1px;
      text-align: center;
      background-color: $pagination-bg;
      color: $pagination-color;
      line-height: $pagination-line-height;
      font-weight: 400;
      font-size: $pagination-font-size;
      text-decoration: none;
      height: 34px;
      min-width: 29px;
      line-height: 1.8;
      max-width: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }

      .gef-ie9 & {
        width: 32px;
      }
    }

    .gef-ie9 & {
      width: 32px;
    }
  }

  @media #{$gef-mq-md} {
    text-align: left;

    li {
      display: inline-block;

       > a,
       > span {
          padding: $pagination-padding-lg;
          font-weight: 600;
          font-size: $pagination-font-size-lg;
          text-align: center;
       }
     }
  }

  @media #{$gef-mq-lg} {
    margin-top: 50px;
  }

}

.gef-pagination__prev,
.gef-pagination__next {
  width: auto !important;

  .gef-pagination & {
    display: inline-block;

    > a,
    > span {
      max-width: none;
      padding: $pagination-padding-vertical $pagination-padding-horizontal;


      .gef-ie9 & {
        width: auto;
      }
    }

  }

  @media #{$gef-mq-md} {

    > a,
    > span {
      display: inline-block;
      width: auto;
      border-radius: 0;
      border: 1px solid $pagination-border-color;
      padding: $pagination-padding;
      background-color: $pagination-bg;
      color: $pagination-color;

      &:hover,
      &:focus {
        color: $pagination-color-action;
        background-color: $pagination-bg-action;

      }
    }
  }


  &.uk-disabled {
    > a,
    > span {
      color: $pagination-color-disabled !important;
      background-color: $pagination-bg-disabled !important;
      border-color: $pagination-border-color-disabled !important;
      text-decoration: none !important;
      cursor: default !important;
      &:hover,
      &:focus {
        color: $pagination-color-disabled !important;
        background-color: $pagination-bg-disabled !important;
        border-color: $pagination-border-color-disabled !important;
        text-decoration: none !important;
        cursor: default !important;
      }
    }
  }
}

.gef-pagination__more {

  a,
  span {
    font-weight: bold;
    color: $pagination-color-disabled !important;
    background-color: $pagination-bg-disabled !important;
    border-color: $pagination-border-color-disabled !important;
    text-decoration: none !important;
      &:hover, &:focus {
        border: 1px red solid !important;
        color: $pagination-color-disabled !important;
        background-color: $pagination-bg-disabled !important;
        border-color: $pagination-border-color-disabled !important;
        text-decoration: none !important;
        cursor: default !important;
      }
  }
}

.gef-pagination__disabled {

  > a,
  > span {
    color: $pagination-color-disabled !important;
    background-color: $pagination-bg-disabled !important;
    border-color: $pagination-border-color-disabled !important;
    cursor: default !important;

    &:hover {
      color: $pagination-color-disabled !important;
      background-color: $pagination-bg-disabled !important;
      border-color: $pagination-border-color-disabled !important;
      text-decoration: none !important;
    }

    > span {
      color: $pagination-color-disabled !important;
      border-color: $pagination-border-color-disabled !important;
    }
  }
}
