// ********************************************
//-----------------------------
//    GEF PAGE METADATA
// -----------------------------
//
//  .gef-page-metadata    - Box for page metadata (last review / updated)
//
//**********************************************


.gef-page-metadata {
  background: $gef-lighter-grey;
  padding: 15px 15px 10px;
  max-width: 340px;
  margin-top: 40px;
  margin-bottom: 2em;
  font-size: 0.875rem;
  line-height: 1.111rem;
  display: inline-block;

  p {
   margin-bottom: 5px;
   margin-top: 0;
  }

  .home &,
  .landing & {
    background-color: #fff;
  }
}
