
// RADIO LIST
//
//  A list of radio buttons to be part of a form
//
//  .gef-radio-list      - main container
//  .gef-radio-list__row - grouping row to hold the input and label
//
// -------------------

.gef-radio-list {

}

.gef-radio-list__row {
  position: relative;
  margin-bottom: 10px;

  input[type="radio"] {
    position: absolute;
    display: inline;
    height: 0;
    width: 0;
    transform: translateX(-9999px);
  }

  label {
    display: inline-block;
    display: block;
    vertical-align: middle;
    margin-left: 30px;

    &:before {
      @include fontAwesome;
      content: "\f10c";
      position: absolute;
      left: 0;
      margin-top: 1px;
      color: $gef-radio-list-icon-color;
    }
  }


  input[type="radio"]:checked + label:before {
    content: "\f192";
  }

  input[type="radio"]:focus + label {
    outline: $gef-focus-outline;
  }

  @media #{$gef-mq-lg} {
    margin-bottom: 8px;
  }
}