//
// Results Table
//
// Styling for Results Table
//
// @extend .uk-icon-chevron-right   - Takes UIKIT's right chevron icon and applies it to the list item's before attribute
// .gef-results-table - Main container
//

.gef-results-table{

  color: $gef-results-table-color;
  font-family: $gef-results-table-font-family;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.57;
  text-align: left;
  margin-top: 0px;

  div.uk-grid{

    margin-top: 0;
    margin-left: 0;
    box-sizing: border-box;

    > * {
      padding-left: 12px; 
   }
  }

  ol{
    margin-top: 0;

    &:nth-child(n+2){
      > li{
          padding: 10px 0 10px 0;
          border-bottom: $gef-results-table-divider;
      }
    }
  }

  ul{
    padding-left: 0;
  }

  ol > li{
    &:before{
      content: none;
    }
    padding-left: 0;
    margin-top: 10px
  }

  .gef-results-table-secondary-content{    
    width: 40%;
    display: none;

    > div{
    min-height: 1px;
    }

    @media #{$gef-mq-md} {
      display: block;
    }
  }

  .gef-results-table-main-content{    
     width: 100% ;
  }


  ol:not(:first-of-type) > li > .uk-grid > .gef-results-table-main-content:first-of-type {    
    margin-bottom: 10px;
  }

  @media #{$gef-mq-md} {
    div.gef-results-table-secondary-content > div{    
       display: block;
       width: 29%;
       padding-left: 10px;
    }
    .gef-results-table-main-content{    
     width:57%;
    }
  }

  ul li{
    padding-left: 0px;

    &:before {
      @extend .uk-icon-chevron-right;

      font-family: 'FontAwesome';
      color: $gef-results-table-chevron-color;
      font-size: 0.75rem;
      padding-top: 3px;
      left: 12px;
    }
  }

}

.gef-results-table__heading {
  background-color: $gef-results-table-heading-bgcolor;
  color: $gef-results-table-heading-color;
  font-size: 0.75rem;
  font-weight: $gef-results-table-bold;
  line-height: 1.67;
  padding: 5px 0 5px;
  min-height: 35px;
}

.gef-results-table__link-text {
  font-size: 1rem;
  font-weight: $gef-results-table-bold;
  line-height: 1.5;
  color: $gef-results-table-link-text;
  display: inline-block;
  padding-right: 7px;
}

.gef-results-table__code-text {
  line-height: 1.29;
  color: $gef-results-table-link-text;
  display: block;
}

.gef-results-table__download-text {
  font-size: 0.875rem;
  font-weight: $gef-results-table-bold;
  line-height: 1.57;
  color: $gef-results-table-color;
  padding-right: 7px;
  display: inline-block;
}

span.gef-results-table__download-text{
  padding-left: 20px; 
}

.gef-results-table__download-text--light {
  font-weight: 300;
  display: block;
}

.gef-results-table__AtoZ {
  font-weight: $gef-results-table-bold;
  line-height: 1.36;
  text-align: left;
  color: $gef-results-table-letter-color;
  margin-bottom: 0px;
}


.gef-results-table-search-results{

  border-bottom: 0 !important;
  padding: 0 !important;
  margin: 0 !important;

  > div:first-child{
    padding-top: 20px !important;
  }

  > div {
    padding: 30px 0 30px 0;
    border-bottom: solid 1px #e0e0e0;
  }

}  

.gef-results-table-link-container{

  @media #{$gef-mq-md} {
    padding-bottom: 15px;
  }

}
