//
// GEF Main Navigation
//
// .active                   - Expands mobile version using max-height and transitions.
// &.gef-search--body        - Applies styles to search box in body content
//

.gef-search {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 100;
  overflow: hidden;
  transform: translateY(-100%);
  transition: transform 0.3s;
  background: $gef-secondary-bg;
  box-sizing: border-box;

  &.active {
    transform: translateY(0%);
  }

  fieldset {
    padding: 15px;
  }

  legend {
    position: absolute;
    left: -999em;
  }

  input[type="text"] {
    width: 100%;
    padding: 10px 60px 10px 10px;
    border-color: $gef-black;
    background: $gef-white;
    font-size: 18px;
    font-weight: normal;

    &::placeholder {
      color: $gef-black !important;
    }

    &:focus {
      background: $gef-white;
      color: $gef-black;
      border-color: $gef-black;
    }

    .gef-ie9 & {
      color: $gef-white;
    }
  }

  button[type="submit"] {
    display: inline-block;
    appearance: none;
    cursor: pointer;
    outline: none;
    margin: 0;
    width: 50px;
    height: 50px;
    border-color: $gef-black;
    border-width: 1px;
    font-weight: 700;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 1;
    font-size: 24px;
    font-family: $gef-font-family;
    letter-spacing: 0.0625em;
    background: $gef-primary-bg;
    color: $gef-primary-text;
    transition: background-color 0.2s, color 0.2s;

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:focus,
    &:hover{
      color: $gef-primary-text-action;
      border-color: $gef-primary-bg-action;
      background: $gef-primary-bg-action;
    }
  }

  @media #{$gef-mq-lg} {
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 35px;
    background: none;
    box-sizing: border-box;
    z-index: 1000;
    overflow: visible;

    &.active {
      transform: none;
    }

    fieldset {
      padding: 0;
      position: absolute;
      top: -80px;
      right: 40px;
    }

    input[type="text"] {
      color: $gef-white;
      max-width: 400px;
      border-color: $gef-primary-text;
      background: $gef-primary-bg;
      font-size: 14px;

      &::placeholder {
        color: $gef-primary-text !important;
      }

      &:focus {
        border-color: $gef-primary-text;
        background: $gef-black;
        color: $gef-primary-text;
      }
    }

    button[type="submit"] {
      top: 0;
      right: 0;
      background: $gef-primary-text;
      color: $gef-primary-bg;
      border-color: $gef-primary-text;

      &:focus,
      &:hover {
        background: $gef-primary-text-action;
        color: $gef-primary-bg-action;
        border-color: $gef-primary-text-action;
      }
    }
  }
}

.gef-search--body {
  max-height: none;
  margin: 25px 0 20px;
  position: relative;
  background: none;
  max-width: none;
  transform: none;
  top: auto;
  left: auto;
  padding: 0;

  fieldset {
    position: relative;
    padding: 0;
  }

  input[type="text"] {
    border-color: $search-box-body-input-border;
    border-radius: $search-box-body-input-radius;
    background: transparent;
    font-size: 1rem;
    color: $search-box-body-input-color;
    height: 40px;
    padding:0 45px 0 10px;

    &:focus {
      border-color: $search-box-body-input-border-action;
      background: transparent;
      color: $search-box-body-input-color-action;
    }

    &::placeholder {
      color: $search-box-body-input-placeholder !important;
    }

    .gef-ie9 & {
      color: $search-box-body-input-color !important;
    }
  }

  button[type="submit"] {
    top: 0;
    right: 0;
    font-size: 18px;
    height: 40px;
    width: 35px;
    color: $search-box-body-button-color;
    border-color: $gef-black;
    border-left: 1px solid $gef-black;
    border-top: 1px solid $gef-black;
    background: $search-box-body-button-bg;
    border-radius: $search-box-body-input-radius;
    transition: background-color 0.2s, color 0.2s;

    span {
      visibility: hidden;
    }

    &:focus,
    &:hover {
      background: $search-box-body-button-bg-action;
      border-color: $search-box-body-button-bg-action;
      outline: $gef-focus-inverse !important;

      i:before {
        color: $search-box-body-button-color-action;
      }
    }

    i {
      line-height: 45px;
      color: $search-box-body-button-color;

      &:hover {
        color: $search-box-body-button-color-action;
      }
    }
  }

  //Firefox fix
  button[type="submit"]:hover i , button[type="submit"]:active i , button[type="submit"]:focus i{
      color: $search-box-body-button-bg;
  }

  @media #{$gef-mq-md} {
    margin-top: 30px;

    input[type="text"],
    button[type="submit"] {
      height: 50px;
      line-height: 50px;
    }

    input[type="text"] {
      font-size: 1.1rem;
      border-radius: $gef-radius-lg;
      padding:0 50px 0 20px;
    }

    button[type="submit"] {
      width: 50px;
      border-radius: 0 $gef-radius-lg $gef-radius-lg 0;

      i {
        line-height: 50px;
        font-size: 24px;
      }
    }
  }

  @media #{$gef-mq-lg} {
    max-width: none;
    width: 100%;
    float: none;
    margin-top: 0;

    fieldset {
      position: relative;
      top: auto;
      right: auto;
    }

    input[type="text"],
    button[type="submit"] {
      height: 60px;
      line-height: 60px;
    }

    input[type="text"] {
      max-width: none;
      display: block;
      padding:0 80px 0 20px;
      width: 100%;
    }

    button[type="submit"] {
      width: 60px;
      line-height: 20px;

      i {
        font-size: 28px;
      }
    }
  }
}


.gef-search__heading {
  font-size: 1.1rem;
  margin-bottom: 10px;

  > span {
    position: relative;
    vertical-align: top;
    margin-left: 0.5em;
    top: -2px;
  }

  @media #{$gef-mq-md} {
    font-size: 1.8rem;
    margin-top: 25px !important;
    margin-bottom: 25px;
  }

  @media #{$gef-mq-lg} {
    margin-top: 15px !important;

    > span {
      top: -3px;
    }
  }
}

.gef-search__helper {
  font-size: 0.825rem;

  a {
    display: inline-block;
    margin-left: 0.5em;
  }

  @media #{$gef-mq-md} {
    margin-top: 25px;
    font-size: 0.9rem;
  }
}


.gef-search__toggle {
  position: absolute;
  bottom: 17px;
  right: 10px;
  height: auto;
  width: 50px;
  float: right;
  line-height: 23px;
  border: 0;
  background: transparent;
  cursor: pointer;
  color: $gef-white;
  font-size: 20px;
  outline: 0 none;
  z-index: 100000;
  padding: 0;
  font-weight: 300;
  text-align: center;
  vertical-align: middle;

  @media #{$gef-mq-lg} {
    bottom: auto;
    top: -2px;
  }


  &:after {
    display: inline-block;
    content: "\f002";
    font-family: FontAwesome;
    vertical-align: middle;
  }

  &.active {
    &:after {
      font-size: 1.3rem;
      content: "\f00d";
    }
  }
}

.gef-search__spelling-suggestion {
  font-size: 0.9rem;

  a {
    font-weight: normal;
  }
}
