//------------------------
// SEARCH RESULTS
//
//  .gef-search-results                 - Starting ordered list of search results with display style none
//  .gef-search-results__item           - list item listing details of each search result list item
//  .gef-search-results__itemheader     - heading of each search result list item
//  .gef-search-results__url            - Url of the search result list item
//  .gef-search-refine-results-header   - used for GSA refined results
//
//------------------------

//Reset results list

.gef-search-results__list {
  margin-top: 20px;

  @include reset_list;

  @media #{$gef-mq-md} {
    padding-right: 0;
  }
}

.gef-search-results__info {
  margin: 10px 0 20px !important;
  font-size: 0.9rem;
  color: $gef-dark-grey;

  &:focus {
    text-decoration: underline;
  }


  &:first-child {
    margin-top: 30px
  }

  @media #{$gef-mq-lg} {
    font-size: 1rem;
    margin-top: 30px !important;
  }
}

.gef-search-results__item {
  margin-bottom: 18px;
  padding-bottom: 15px !important;
  border-bottom: 2px solid #f2f2f2;

  &:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0 !important;
  }

  p {
    margin: 4px 0 3px;
    font-size: 0.825rem;
    color: $gef-dark-grey;
  }

  @media #{$gef-mq-md} {
    border-bottom: 0;
    padding-bottom: 0 !important;
    margin-bottom: 20px;

    p {
      font-size: 0.9rem;
      margin: 6px 0;
    }
  }

   @media #{$gef-mq-lg} {
    margin-bottom: 22px;
   }
}


// header of each search list

.gef-search-results__itemheader {
   margin: 0px;
   font-size: 0.9rem;

  & a {
    text-decoration: underline;
    font-weight: 600;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  @media #{$gef-mq-lg} {
    font-size: 1rem;
  }
}

//Url text of the search result

.gef-search-results__url {
  margin: 5px 0;
  line-height: 1.4;
  font-size: 0.825rem;
  color: $gef-dark-grey;
  word-break: break-word;
  font-weight: 600;

  @media #{$gef-mq-md} {
    font-size: 0.9rem;
  }
}

// check for ng-cloak

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}



// SEARCH RESULTS HEADER

.gef-search-refine-results-header {
  font-weight: 600;
  font-size: 0.875rem;
  margin-bottom: 20px;

  @media #{$gef-mq-lg} {
    font-size: 1rem;
    font-weight: 800;
    margin-top: 30px !important;
  }
}


.gef-search-results {
  .gef-external-link {
    display: none;
  }
}

.gef-search-results__mobile-refine {

}

.gef-search-results__links {

  h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 0.875rem;
  }

  p {
    margin: 0;
    font-size: 0.875rem;
  }

  a {
    font-weight: normal;
  }

  i {
    display: inline-block;
    font-size: 1.1rem;
    margin-right: 0.5rem;
    vertical-align: middle;
  }

  &.gef-search-results__links--boxed {
    margin-top: 30px;
    text-align: center;
    background-color: $gef-off-white;
    padding: 5px 10px 10px;

    @media #{$gef-mq-md} {
      padding: 10px 20px;
      text-align: left;

      h3 {
        display: inline-block;
      }

      p {
        display: inline-block;
        margin-left: 1em;
      }
    }
  }

  @media #{$gef-mq-md} {

    h3 {
      margin-top: 20px !important;
    }

    &.gef-search-results__links--boxed {

      h3 {
        margin-top: 0 !important;
      }
    }
  }

  @media #{$gef-mq-lg} {
    h3 {
      font-size: 1rem;
      font-weight: 800;
      margin-bottom: 15px;
      margin-top: 5px;
    }

    p {
      font-size: 1rem;
    }

    &.gef-search-results__links--boxed {
      padding: 15px 20px 5px;
    }
  }
}


li.gef-search-results__item {

  .gef-fa-aligntext {
    margin-left: 45px;
  }

  .gef-icon-file-pdf,
  .gef-icon-file-doc,
  .gef-icon-file-xls,
  .gef-icon-file-ppt {
    margin-right: 15px;
    float: left;

    &:before {
      margin-top: 0.13em;
      font-family: 'FontAwesome';
      display: inline-block;
      font-weight: 400;
      font-style: normal;
      line-height: 1;
      font-size:  2rem;
      color: $gef-medium-grey;
    }
  }

  .gef-icon-file-pdf:before {
    content: "\f1c1";
  }

  .gef-icon-file-doc:before {
    content: "\f1c2";
  }

  .gef-icon-file-xls:before {
    content: "\f1c3";
  }

  .gef-icon-file-ppt:before {
    content: "\f1c4";
  }

  .gef-search-map {
    margin: 20px auto 5px;
    display: flex;
    flex-wrap: wrap;

    @media #{$gef-mq-md} {
      display: flex;
      flex-direction: row;
      margin: 25px auto;
      flex-wrap: nowrap;
    }

    @media #{$gef-mq-lg} {
      margin: 28px auto;
    }

    div.gef-map {
      margin-right: 5px;
      @media #{$gef-mq-md} {
        min-height: 11rem;
      }
    }

    .gef-map--static {
      flex-grow: 1;
      overflow: hidden;
      background: center no-repeat;
      position: relative;
      height: 175px;
      width: 100%;

      @media #{$gef-mq-md} {
        width: 50%;
      }

      .gef-map__img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 640px;
        height: 175px;
        margin-top: -87px;
        margin-left: -320px;
        max-width: none;
      }
    }

    div.gef-map-details {
      margin-bottom: 20px;
      flex-grow: 1;
      width: 100%;

      @media #{$gef-mq-md} {
        width: 50%;
        margin: auto 15px auto 0;
      }

      @media #{$gef-mq-lg} {
        margin-right: 20px;
      }

      h2.gef-search-results__itemheader {
        margin-bottom: -10px;
      }
      p {
        margin-top: 10px;
      }
    }
  }

  //Events Overrides

  .gef-single-event {

    width: 100%!important;
    margin-top: 5px;
    margin-bottom: -10px;

    @media #{$gef-mq-md} {
      margin-top: 0;
      margin-bottom: 5px;
    }
  }

  .gef-event-date {
      margin-right: -25px;

      @media #{$gef-mq-md} {
        width: 22%;        
      }
  }

  .gef-event-desc {
    padding-left: 0;
    width: 70%!important;
    margin-left: 35px;
    margin-right: -25px;

   @media #{$gef-mq-md} {
      width: 75%!important; 
      margin-top: auto;
      margin-bottom: auto;
    }

    @media #{$gef-mq-lg} {
      width: 80%!important;     
      margin-left: 42px;
     
    }

    .gef-event-more-icon {
      display:none;
    }

    h3 {

      font-size: 0.9rem;

      & a {
        text-decoration: underline;
        font-weight: 600;

        &:hover,
        &:focus {
          text-decoration: none;
        }
      }

      @media #{$gef-mq-lg} {
        font-size: 1rem;
      }
    }

    dl {

      margin-top: 8px;
      margin-bottom: -8px;

      dt, dd {
        vertical-align: top;
        display: inline-block;
        margin-top: -5px;
      }

      dd p, dd span {
        font-weight: 400;
      }

    }
  }

  .gef-single-event-square {

    background: linear-gradient(to top, #999 50%, #666 50%);

    .gef-single-event-square_inside p {
      color: white;
    }
  }
}


