// -------------------
// SECTION FOOTER
//
// Section footer styles. Normally present between the page body and global footer
//
// .gef-section-footer       - parent container that wraps everything that has to do with footer
// .gef-section-footer__list - footer link listing
//
// -------------------

.gef-section-footer {
  padding: 40px 0 25px 0;
  background: $gef-section-footer-bg;
  text-align: center;

  @media #{$gef-mq-lg} {
    padding: 25px 0;
    text-align: left;

  }
   h3{
   text-align: left;   
   font-size: 0.75rem;
   line-height: 1.33;
    @media #{$gef-mq-md} {
      margin-left:0;
      font-size: 1rem;
      line-height: 1.43;
    }
 }
}

.gef-section-footer__list {
  @include reset_list;
  font-size: 0.75rem;
  margin-bottom: 0;
  li{
    margin: 10px 0 0;
    padding:0;
    text-align: left;
  }
  a {
      color: $gef-section-footer-link-color;
      text-decoration: none;      
      font-weight: normal;
      border-bottom: none;
      padding-bottom: 3px;
    }

    a:visited,
    a:hover,
    a:focus {
      text-decoration: underline;

    }


  @media #{$gef-mq-md} {
    font-size: 0.85rem;
    li {
    margin-top: 0;
    display: inline-block;
    padding: 5px 10px 0 0;
    float:left;
    a {
      color: $gef-section-footer-link-color;
      text-decoration: none;      
      font-weight: normal;
      border-bottom: none;
      padding-bottom: 3px;
    }

    a:visited,
    a:hover,
    a:focus {
      text-decoration: underline;

    }

    li {
      padding-left: 0;
      padding-right: 50px;
    }
  }
}

  @media #{$gef-mq-lg} {
    li {
    margin-top: 0;
    display: inline-block;
    padding: 3px 40px 0 0;
    a {
      color: $gef-section-footer-link-color;
      text-decoration: none;      
      font-weight: normal;
      border-bottom: none;
      padding-bottom: 3px;
    }

    a:visited,
    a:hover,
    a:focus {
      text-decoration: underline;

    }

    li {
      padding-left: 0;
      padding-right: 50px;
    }
  }
}
}
.gef-section-footer_variant{
  border-top: 1px solid $gef-section-footer-link-color;
  margin-top: 25px;

 h3{
   margin-top: 25px;
   text-align:left;
   
 }
 p{
  font-size: 14px;
  line-height: 1.43;
  text-align: left;
  display: block;

 }
 .gef-section-footer_variant__list {
 @include reset_list;
  font-size: 0.85rem;
  margin-bottom: 0;
  overflow: hidden;
  ul{
    width:100%;
  }

  li{
    margin: 10px 0 0;
    padding-right:20px;
    float: left;
   &:nth-child(2n+1){
    clear:left}
  }

@media #{$gef-mq-md} {
li
{
    margin-top: 0;
    display: inline-block;
    padding: 5px 30px 0 0;
       &:nth-child(2n+1){
    clear:none}


 }
}


  }
}