//
// GEF Section header
//
// :hover, :focus, :visited    - Uniform treatment of logo link styles
//

.gef-section-header {
  background: $gef-section-header-bg;
  padding: 19px 0 17px;
  position: relative;
  z-index: 900;

  @media #{$gef-mq-lg} {
    padding: 39px 0 40px;
    border: none;
  }
}

.gef-section-header__logo {
  color: $gef-section-header-logo-color;
  font-size: 1rem;
  line-height: 1.2;
  max-width: 90%;

  a,
  a:visited {
    color: $gef-section-header-link-color;
    text-decoration: none;
    font-weight: normal;
    max-width: 70%;
    display: block;
    margin-right: 10px;

    span {
      font-weight: 400;
      margin: 0;
    }
  }

  @media #{$gef-mq-lg} {
    line-height: 1;
    font-size: 1.875rem;
    max-width: none;

    a,
    a:visited {
      max-width: none;
      display: inline;
      margin-right: 15px;
    }
  }
}
