//
// Anchor box
//
// Styling for Anchor Boxes
//
// .gef-anchor-box - container
// .gef-anchor-box__title - header of the anchor box
//
//
//
.gef-secondary-anchor-box {
  display: inline-block;
  margin:  0; //background-color: $gef-lighter-grey;
  padding: 0 60px 15px 0px;
}

.gef-anchor-box__title {
  color: $gef-content-header;
}

.gef-secondary-link-list li {
  padding-left:0;
  a {
    vertical-align: middle;
    font-weight: 600;
  }
  &:before {
    content:none;
    //font-weight: 600;
   /* font-family: 'FontAwesome';
    display: inline-block;
    color: #565a5c;
    font-size: 1.2em;
    margin-top: -1px;
    content: "\f105"; */
  }
}

.anchor-level1 ul li:before {
  content: none;
}

.gef-secondary-link-list-child{
  padding-left:20px
}