@import "uikit/scss/components/accordion";

.gef-show-hide {
  margin: 22px 0 30px;

  &.gef-show-hide--alt {
    margin-bottom: 20px;
  }

  @media #{$gef-mq-lg} {
    margin: 26px 0 52px;
  }
}

.uk-accordion-title {
  @include accordionHeader;

  div + & {
    margin: 15px 0 0;
  }

  .gef-show-hide--alt & {
    background-color: transparent;
    border: 1px solid $gef-light-grey;
    transition: border 0.3s;
    text-transform: none;
    font-weight: 600;
    font-size: 0.875rem;
    padding-top: 8px;
  }

  &[aria-expanded=true] {

    .gef-show-hide--alt & {
      border-bottom: 1px solid transparent;
    }

    i {

      &.vertical {
        transform: rotate(180deg);
      }
    }
  }

  i {
    display: block;
    position: absolute;
    right: 15px;
    top: 50%;
    width: 12px;
    height: 4px;
    margin: -2px 0 0;
    background: $gef-black;
    transition: transform 0.5s;
    transform-origin: 6px 2px 0;

    &.vertical {
      transform: rotate(90deg);

      .gef-ie9 & {
        margin: -2px 0 0;
      }
    }

    .gef-ie9 & {
      margin: -2px 0 0 -2px;
    }
  }

  @media #{$gef-mq-lg} {
    font-size: 18px;
    padding: 13px 45px 13px 14px;
    transition: background-color 0.2s;

    &:hover, &:focus {
      background: $gef-lighter-grey;
      color: $gef-secondary-text-action;

      span {
        border-color: $gef-secondary-text-action;
      }
    }

    div + & {
      margin: 20px 0 0;
    }

    span {
      border-bottom: 3px solid transparent;
      transition: border-color 0.2s;
    }

    i {
      width: 16px;
      transform-origin: 8px 2px 0;
    }
  }
}

.uk-accordion-content {
  @include accordionContent;
  padding: 25px 15px;

  .gef-show-hide--alt & {
    background-color: transparent;
    border: 1px solid $gef-light-grey;
    border-top: 0;
    padding: 0 15px 15px;
  }
}

.gef-show-hide [role=tabpanel][aria-hidden=false]:focus {
    outline: $gef-focus-outline !important;
    outline-offset: 0px !important;
}