.gefSideMenu {
  counter-reset: step;
  margin-top: 30px;
  margin-bottom: 30px;

  &:not(.end) {    
    border-left:2px solid $gef-black; 
    margin-left:25px;       
  }

  li:not(.gef-side-navigation-upper) {
    list-style-type: none;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
    margin-left:-25px;
    min-height: 45px;

    &:before {
      display: none;
    }

    i {
      counter-increment: i;
      content: counter(i) ".";
      position: absolute;
      top: 0;
      left: 0;
      width: 45px;
      height: 40px;
      content:'';
      counter-increment: step;
      border: 2px solid $gef-black;
      display: inline-block;
      text-align: center;
      margin: 0 10px 10px 0px;
      border-radius: 50%;
      background-color: $gef-white;
      font-size: 20px;
      padding-top: 5px;
    }

    &:hover,
    &.active {
      i {
        background-color: $gef-black;
      }

      a {
        font-weight: bold;
      }
    }

    a {
      display: inline-block;
      padding-left:20px;
      text-decoration:none;
      margin: 0px 2px 0px 25px;
      padding-top: 5px;
      background-color: $gef-white;
      font-weight:400;

      &:hover {
        text-decoration: underline;
        background: $gef-white;
        color:$gef-black;
      }
    }
  }

  li:last-child {
    background-color: $gef-white;
  }
}
