// -------------------
// SIDE NAVIGATION
//
// Can sit on either in a left or right hand side column
//
//  .gef-side-navigation      - start of side navigation with list style none
//  .uk.parent                - parent link of side navigation
//  .uk-active                - active/visited state of a parent or child link
//  .uk-icon-chevron-right    - fontawesome chevron facing right in inactive state
//  .uk-icon-chevron-down     - fontawesome chevron facing down in active/visited state
//
// -------------------

.gef-side-navigation {
  @include reset_list;
  font-size: 1rem;

  > li {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid $side-nav-border;

    &.uk-parent {
      > a,
      > a:visited {
        position: relative;
      }

      &.gef-side-navigation-upper {
        background-color: $side-nav-parent-bg;

        > a {
          padding: 15px 15px 13px 36px;

          i {
            float: left;
            margin: 3px 0 0 -24px;
          }
        }
      }

      &.uk-active {

        > ul {
          height: auto;
          overflow: visible;
          padding-bottom: 6px;
          @include reset_list;

          > li {
            margin: 0;
            padding: 0 15px 14px 30px;

            a,
            a:visited {
              font-size: 0.875rem;
              font-weight: 400;
              padding: 0;
              text-decoration: none;
            }
          }
        }
      }
    }

    &.uk-active {
      > a,
      > a:visited {
        font-weight: 800;
        line-height: 1.55em;
        border-right: 6px solid $gef-decoration;
        padding-top: 20px;
      }
    }

    > ul {
      margin: 0;
      padding: 0;
      height: 0px;
      overflow: hidden;
      @include reset_list;
    }

    > a,
    > a:visited {
      padding: 16px 15px 13px 10px;
      transition: background-color 0.2s;
      font-weight: 400;
      letter-spacing: 0.02em;
    }

    ul ul {
      @include reset_list;

      > li {
        margin-top: 0;
      }
    }
  }

  @media #{$gef-mq-lg} {
    margin-top: 50px;
    max-width: 270px;

    > li {

      &.uk-parent {

        &.gef-side-navigation-upper {

          > a {

            &:hover,
            &:focus {
              background-color: transparent;
              border-color: transparent;

              &:before {
                content: none;
              }

              > i {
                margin: 18px 0 0 15px;              }
            }

            > i {
              transform: rotate(-90deg) scaleX(-1);
              position: absolute;
              top: 0;
              left: 0;
              margin: 17px 0 0 15px;

              &:before {
                content: "\f112";
              }
            }
          }
        }

        &.uk-active {
          > a {

            &:hover,
            &:focus {
              font-weight: 800;
              line-height: 1.55em;
              letter-spacing: 0.02em;
              text-decoration: none;
              transform: none;
              cursor: default;

              &:before {
                content: none;
              }
            }

            &:focus {
              text-decoration: underline;
            }
          }

          > ul {

            > li {

              a,
              a:visited {

                &:hover,
                &:focus {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }

      > a,
      > a:visited {
        border-right: 6px solid transparent;

        &:hover,
        &:focus {
          font-weight: 600;
          border-color: $gef-decoration;
          text-decoration: underline;
          letter-spacing: 0.015em;
          transform: translateY(-1px);

          &:before {
              content: '';
              display: block;
              width: 6px;
              height: 1px;
              background-color: $gef-decoration;
              position: absolute;
              right: -6px;
              bottom: -1px;
            }
        }
      }
    }
  }
}
