.gef-social-media {
  margin-top: -9px;
  @media #{$gef-mq-lg} {
    text-align: left;
  }
}
.gef-social-media-text {
  position: relative;
  padding-left: 25px;
  font-size: 0.75rem;
  line-height:0.5;
  font-family: $gef-font-family;
   @media #{$gef-mq-md} {
     font-size: 12px;
     padding-left: 20px;
   }
    @media #{$gef-mq-lg} {
     font-size: 14px;
     padding-left: 20px;
   }
}
.social_links{
  @include reset_list;
  //margin-left:-5px;
  li{
    margin: 10px 0 0;
    padding: 0;
    text-align: left;
  }
    @media #{$gef-mq-md} {
      margin-left: -5px ;
    li {
    //display: inline-block;
    margin: 0;
    padding: 3px 15px 0 5px;
    text-align: left;
    float:left;
  }
}
    @media #{$gef-mq-lg} {
     margin-left:-1px;
    li {
    //display: inline-block;
    padding: 5px 40px 5px 0;
    text-align: left;
    float:left;
  }
}
}

.gef-social-media__link,
.gef-social-media__link:visited {
  display: inline-block;
  position: relative;
  //width: 64px;
  //height: 35px;
  //background: $gef-secondary-text;
  text-align: left;
  margin: 0 0 0 15px;
  border-radius: 50%;
&:hover,&:focus{
  text-decoration: underline;
}
  &:before {
    display: block;
    font-family: 'FontAwesome';
    position: absolute;
    width:18px;
    height:18px;
    font-size: 1em;
    transition: color 0.2s;
  }

  &:first-of-type {
    margin: 0;
  }

  &.uk-icon-yammer {
    background: transparent;
    &:before {
      content: '';
    width:15px;
    height:15px;
      background-image: url(../images/yammer.svg);
      background-size: 15px 15px;
      background-repeat: no-repeat;
      background-color: $gef-secondary-bg;
      transition: background-color 0.2s;
    }
  }
   @media #{$gef-mq-md} {
 &.uk-icon-facebook {
      .gef-social-media-text {
        padding-left:12px;
      }
    }
    &.uk-icon-google-plus {
      .gef-social-media-text {
        padding-left:27px;
      }
    }
    &.uk-icon-instagram {
      .gef-social-media-text {
        padding-left:18px;
      }
    }
        &.uk-icon-yammer {
      &:before {
          vertical-align: middle;
    margin-top: 3px;
    }
   }
   }
  @media #{$gef-mq-lg} {
    width: 50px;
    height: 50px;
    transition: background-color 0.2s;
    margin-left: 30px;

    &:before {
      font-size: 1em;
    }



    &.uk-icon-yammer {

      &:before {
        content: '';
        width: 15px;
        height: 18px;
        background-size: auto;
        vertical-align: middle;
    margin-top: 3px;
      }
 .gef-social-media-text {
        padding-left:20px;
      }
      &:hover,
      &:focus {

        &:before {
          text-decoration: underline;
        }
      }
    }

    &.uk-icon-facebook {
      width:95px;
      .gef-social-media-text {
        padding-left:15px;
      }
    }
    &.uk-icon-twitter {
      width:83px;
    }
    &.uk-icon-linkedin {
      width:87px;
    }
    &.uk-icon-youtube-play,&.uk-icon-yammer {
      width:90px;
    }

    &.uk-icon-google-plus {
       width:92px;
      .gef-social-media-text {
        padding-left:27px;
      }
    }
  }

  @media #{$gef-mq-lg} {
    margin-left: 20px;
    width:105px;
    height:18px;
  }

  @media #{$gef-mq-xl} {
    margin-left: 30px;
    height:18px;
  }


}