.gef-social-media-post {
  padding: 10px;
  overflow: hidden;
  border: 1px solid $gef-dark-grey;
  flex-grow: 1;

}

.gef-social-media-post--minimalist {
  @extend .gef-social-media-post;
  padding: 0;
}

.gef-social-media-post__metadata {
  display: flex;
  position: relative;
  font-size: 0.875rem; // 14px

  .gef-social-media-post__metadata-viewfeed {
      margin-top: 10px;
      & span {
        text-transform: capitalize;
      }
   }


  .gef-social-media-post--minimalist & {
    padding: 0 10px;
    margin: 20px 0;
    .gef-social-media-post__metadata-viewfeed {
      margin-top: -5px;
    }
  }

  .gef-social-media-post__name {
    font-size: 1rem; // 16px
    margin-bottom: 0;
  }
 a.gef-social-media-post__link:focus-within i{
       outline: 1px solid black !important;
       outline-offset: 2px !important;
  } 
  a.gef-social-media-post__link:focus{
    outline:0 !important;
  }


}

.gef-social-media-post__metadata-content {
  margin-right: 25px;
  width: 75%;
  word-wrap: break-word;
}

.gef-social-media-post__metadatum {
  margin: 0;
  font-size: 0.75rem; // 12px
}

.gef-social-media-post__avatar {
  padding: 0 10px 0 0;

  img {
    max-width: 50px!important;
    height: auto;
  }
}

.gef-social-media-post__icon {
  position: absolute;
  right: 0;
  color: $gef-medium-grey;
  font-size: 1.5rem; // 24px
  padding-right: 2px;

  &.uk-icon-facebook {
    padding-left: 5px;
    font-size: 1.125rem; // 18px
    color: $gef-white;
    background: $gef-medium-grey;
    border-radius: 5px;
    border: 1px solid $gef-medium-grey;

    .gef-social-media-post--minimalist & {
      margin-top: -1px;
    }
  }

  .gef-social-media-post--minimalist & {
    margin-right: 10px;
    margin-top: -2px;
  }
}

.gef-social-media-post__media {
  margin: 20px -10px;
  height: auto;

  .gef-social-media-post--minimalist & {
    margin: 0;
  }


  iframe {
    width: 100% !important;
    height: auto !important;
    background-color: $gef-black;
  }
  &-img-twitter{
    width:100%;
  }
  &-img-facebook{
    padding-left:15px;
    padding-right:15px;
  }
}

.gef-social-media-post__content {
  margin: 20px 0;

  .gef-social-media-post--minimalist & {
    padding: 0 10px;
  }
  a{
    font-weight:400;
    word-wrap:break-word;
  }
}
.gef-remove-external-link {
  .gef-external-link {
    display: none
}
}