.gef-toc {
  @include reset_list;
  margin: 0;

  &.top-border:before {
    content: '';
    display: block;
    width: 100%;
    margin: 22px auto;
    height: 3px;
    background-color: #f7f8f9;
  }

  @media #{$gef-mq-md} {
    overflow: auto;
  }
}

.gef-toc_item {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
  overflow: visible;

  a,
  a:visited {
    position: relative;
    display: inline-block;
    text-decoration: underline;
    color: $gef-secondary-text;
    position: relative;
    font-weight: 600;
    font-size: 1rem;
    padding-left: 0 !important;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    i {
      position: absolute;
      left: -40px;
      top: 5px;
      color: $gef-decoration;
    }
  }

  @media #{$gef-mq-md} {
    width: 50%;
    float: left;
  }

  @media #{$gef-mq-lg} {
    margin-bottom: 15px;

    a,
    a:visited {
      font-size: 1.25rem;
      line-height: 1.4;
      padding-left: 35px;


      i {
        top: 7px;
        font-size: 0.9em;
      }
    }
  }
}
