.gef-tag-list {

}

.gef-tag-list__title {
  display: inline-block;
}

.gef-tag-list__list {
  @include reset_list;
  margin: 0.3rem 0 0;
  display: inline-block;

  li {
    margin: 0;
    display: inline-block;

    &:after {
      content: ',';
    }

    &:last-child {
      &:after {
        content: none;
      }
    }
  }
}
