// -------------------
// TEASER
//
// Provides set of styles for a teaser.
//
//  .gef-teaser-list                - container to list teasers
//  .gef-teaser                     - teaser container
//  .gef-teaser__category           - teaser category
//  .gef-teaser__heading            - teaser heading
//
// -------------------


.gef-teaser-list {
  @include reset_list;
  display: block;
  width: auto;

  > li {
    padding-left: $gef-normal-horizontal-spacing;
    width: 100%;
    box-sizing: border-box;
  }

  @media #{$gef-mq-md} {
    margin-top: 0;

    > li:only-of-type {
      width: 40%;
    }

    > li:nth-last-child(even):first-child,
    > li:nth-last-child(even):first-child ~ li {
      width: 49%;
    }

    > li:nth-last-child(even):first-child ~ li:nth-child(odd) {
      clear: left;
    }


    > li:nth-last-child(3):first-child,
    > li:nth-last-child(3):first-child ~ li {
      width: 33.333333%;
    }
  }

  @media #{$gef-mq-lg} {

    > li {
      padding-left: $gef-large-horizontal-spacing;
    }
  }
}

.gef-teaser {
  padding-top: 50px;

  li:first-child & {
    padding-top: 0;
  }

  img {
    margin-top: 20px;
    margin-bottom: 0px;
    max-width: 100%;
    height: auto;
  }

  a {
    display: block;
    margin-top: 20px;
    font-weight: normal;
    font-size: 0.9em;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

  }

  @media #{$gef-mq-md} {
    padding: 0;
    border: 0;
  }
}

.gef-teaser__category  {
  padding-bottom: 10px;
  margin-bottom: 8px;
  color: $gef-content-header;
  border-bottom: 2px solid $gef-decoration;
  font-size: 0.9rem;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }

.gef-teaser__heading {
  color: $gef-content-header;
  display: block;
  margin: 0;
  overflow: hidden;
  font-size: $teaser-description-font-size !important;
  font-weight: 800;

  @media #{$gef-mq-md} {
    height: 46px;
  }

  @media #{$gef-mq-lg} {
    height: 52px;
    margin-bottom: 4px;
  }
}