// -------------------
// TILE
//
// Provides set of styles for a tile.
//
//  .gef-tile                             - A tile
//  .gef-tile--thumb                      - Tile with thumbnail variation
//
// -------------------

.gef-tile {
  padding-top: 10px;
  padding-bottom: 10px;

  p {
    // padding-top: 5px;
    overflow: hidden;
    margin-top: 9px;
  }

  img {
    margin-top: 5px;
    margin-bottom: -3px;
    max-width: 175px;
    padding-top: 15px;
  }

  h3 {
    a {
      display: block;
      //border-top: 2px solid $gef-decoration;
      // padding-top: 13px;
      font-weight: 800;
      color: $gef-content-header;
      font-size: 1.1rem;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  @media #{$gef-mq-md} {
    padding-top: 30px;
    padding-bottom: 0;

    h3 a {
      font-size: 1.2rem;
    }
  }

  @media #{$gef-mq-lg} {

    p {
      min-height: 72px;
      margin-bottom: 0;
    }

    h3 {
      a {
        margin-top: 0;
      }
    }

    img {
      margin-top: 20px;
      max-width: 100%;
    }
  }
}

.gef-tile--thumb {

  border-top: 1px solid $gef-lighter-grey;

  *:first-child > & {
    border-top: 0;
  }

  a {
    color: $gef-color-font-dark;
    border-top: 0;
    margin-top: 28px;
    margin-bottom: 0;
    padding-top: 0;
    font-size: $base-body-font-size + 2;
  }

  p {
    font-size: $base-body-font-size + 2;
    margin-top: 0;
    padding-top: 0;
  }

  @media #{$gef-mq-lg} {
    border: none;
  }
}

.gef-ie9 {
  .gef-tile {
    min-height: 250px;
  }

  .gef-tile--3colp {
    min-height: 200px;
  }
}
