// -------------------
// TILE LIST
//
// Provides a container for multiple tiles.
// The width control is set on the container not tile wrappers for CMS integration.
//
//  .gef-tile-list                        - The list item container
//  .gef-tile-list--4/7/8                 - Variations for quarter width instead of third width tiles
//  .gef-tile-list_item                   - The separate items within the list
//
// -------------------

.gef-tile-list {

  .gef-tile-list_item {
    box-sizing: border-box;
    width: 100%;

    &:before {
      content: none;
    }
  }

  @media #{$gef-mq-lg} {
    margin-bottom: 10px;

    &.gef-tile-list--4,
    &.gef-tile-list--7,
    &.gef-tile-list--8 {

      > .gef-tile-list_item {
        width: 25%;

        .gef-tile {
          a {
            padding-left: 0;
            padding-right: 0;
          }

          p {
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }

    > .gef-tile-list_item {
      width: 33.333%;
    }
  }
}