// ----------------------
// VISUAL CONTROL ICONS
//
// Provides set of options for display control.
//
//  .gef-vc-icons               - container of icons
//  .gef-vc-btn                 - visual control button
//  .uk-active                  - button active state
//
// ---------------------

.gef-vc-icons {
  display: none;
  height: 0;

  @media #{$gef-mq-lg} {
    position: absolute;
    display: block;
    right: 0;
    top: 5px;
    height: auto;

    .gef-vc-btn {
      color: $gef-dark-grey;
      margin: 0 0 0 6px;
      height: 27px;
      width: 30px;
      font-size: 1.7rem;
      padding: 0;
      cursor: pointer;
      background: none;
      border: 0 none;
      outline: none;

      &.uk-active {
        color: $gef-decoration;
      }
    }
  }
}