//--- *************** ---//
//--- FLEX GRID ---//
//--- *************** ---//

- var name = "Flex Grid"

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin description
  p
    Displays a custom mixin in a either a list or column format. Single column on mobile.

mixin usage
  h4 Using pug:
  p
    | @param {int}    num           - number of items to display
  p
    | @param {string} display       - determine which list layout you would like to use. Options are "simple" and "columns"
  p
    | @param {int}    grid_columns  - if type = "columns", then we can choose between a 3 column grid or 4 column grid, though this is for media queries with the SCSS variable $gef-mq-lg

  pre
    code.language-pug
      | mixin gef_flex_grid_mixin
      |   +your_mixin
      |   p
      |     | or your html
      | +gef_flex_grid(12, "columns")


mixin output
  +gef_flex_grid(12, "columns", columns)


//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin gef_flex_grid(num, type, grid_columns)

  ul(class="gef-flex-grid gef-flex-grid--" + type + " gef-flex-grid--columns-" + grid_columns + " uk-margin-bottom")

    - var count = 0;

    while count < num
      li
        +gef_flex_grid_mixin

      -count++