//--- *************** ---//
//--- BACK TO ---//
//--- *************** ---//

- var name = "Back to"

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin description
  p
    | A link with a back icon

mixin usage
  h4 Using pug:
  pre
    code.language-pug
      | +gef_back_to("block")

mixin output
  +gef_back_to("block")


//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin gef_back_to

    p.gef-back-to
      i.uk-icon-chevron-left(aria-hidden="true")
      | Back to&nbsp;
      a(href="#")
        +lipsum(5, "words")

