//--- *************** ---//
//--- CATALOGUE TEASER ---//
//--- *************** ---//

- var name = "Catalogue teaser"

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin description
  p
    | A 'teaser' for the catalogue component, consists of a thumbnail, heading, text and money amount

mixin usage
  h4 Using pug:
    | @param {int} type - determine which teaser layout you would like to use. Options are "default" and "block"

  pre
    code.language-pug
      | +gef_catalogue_teaser("block")


mixin output
  +gef_catalogue_teaser("block")


//--- MIXINS ---//
//---------------------------------------------------------


//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin gef_catalogue_teaser(type)

  article(class="gef-catalogue-teaser gef-catalogue-teaser--#{ type }" data-pseudo-link)

    div.get-catalogue-teaser_thumbnail
      img(src="https://placehold.it/228x152" alt="")

    div.gef-catalogue-teaser_content

      h1
        a(href="#")
          +lipsum(5, "words")

      p
        +lipsum(15, "words")

      p.gef-catalogue-teaser_data
        | $XXX.XX (exc. GST)
