//--- *************** ---//
//--- Global Header links ---//
//--- *************** ---//

//- Links for login dropdown in global headder

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +gef_global_link
mixin usage
  pre
    code.language-jade
      +documentation

//--- OUTPUT ---//
//---------------------------------------------------------

mixin gef_global_link()

    div.gef-global-links
        button.gef-global-link-button(id='logindropdownbtn',type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false',aria-label="Login Menu")
            span.global-link-button-txt(aria-hidden='false')|Log in
            span.gef-link-icon.uk-visible-small(aria-hidden='true')
        ul.gef-global-links-dropdown
          li
            <h4>Staff</h4>
            ul.gef-link-list
              li
                a(href="#" title="")
                  | Staff portal
              li
                a(href="#" title="")
                  | Inside the department
                  br
                  | (staff intranet)
          li
            <h4>Students</h4>
            ul.gef-link-list
              li
                a(href="#" title="")
                  | Student portal
          li
            <h4>Other users</h4>
            ul.gef-link-list
              li
                a(href="#" title="")
                  | Extranet


