//--- *************** ---//
//--- Global Header links ---//
//--- *************** ---//

//- Generated code Website Translator - Google Translate for  https://education.nsw.gov.au/
//-
//- <div id="google_translate_element"></div><script type="text/javascript">
//- function googleTranslateElementInit() {
//-   new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
//- }
//- </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
//-
//-
//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +gef_google_translate
mixin usage
  pre
    code.language-jade
      +documentation 

//--- OUTPUT ---//
//---------------------------------------------------------

mixin gef_google_translate
  div#google_translate_element.gef_google_translate
    script(type="text/javascript").
      function googleTranslateElementInit() {
        if(!(/iPhone|iPad|iPod|Android|webOS|BlackBerry|Opera Mini|IEMobile/i.test(navigator.userAgent) )) {
          new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
        }
      }
    script(type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit")