//--- *************** ---//
//--- Icon and Label ---//
//--- *************** ---//

- var name = "Icon and Label"

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin description
  p
    A label and an icon to represent a section of a site. Uses as CSS background image for the icon.

mixin usage
  h4 Using pug:
  pre
    code.lanaguage-pug
      | @param {boolean} secured - displays a secured version of the pattern
      | @param {string} extra_classes - additional classes to add
  pre
    code.language-pug
      | +label_icon


mixin output
  +icon_and_label

//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin icon_and_label(secured, extra_classes)

  -var classes = extra_classes

  if secured == true
    -classes = classes + " gef-icon-and-label--secured"

  div(class="gef-icon-and-label " + classes)

    div.gef-icon-and-label__icon

    h2.gef-icon-and-label__label
      +lipsum(5, "words")

    if secured == true
      p.gef-icon-and-label__subtitle
        +lipsum(4, "words")





