//--- *************** ---//
//--- linkgroup ---//
//--- *************** ---//

- var name = "linkgroup"

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin description
  p
    | Displays a single linkgroup container made of a heading, single paragraph and thumbnail with links.

mixin usage
  h4 Using pug:
  pre
    code.lanaguage-pug
      | @param {int} num - number of links
  pre
    code.language-pug
      | +gef_linkgroup(3)

mixin output
  +gef_linkgroup(3)

//--- MIXIN ---//
//---------------------------------------------------------

mixin gef_linkgroup(num)

  div.gef-linkgroup

    h3.gef-linkgroup__category
      +lipsum(3, "words")

    - var n  = 0

    ul.gef-link-list.gef-linkgroups-items
      while n < num
        li
          a(href="http://education.nsw.gov.au")
            +lipsum(6, "words", true)
        -n++