//--- ************************ ---//
//--- Guided Journey ---//
//--- ************************ ---//

mixin usage
  pre
    code.language-jade
      +documentation

//--- OUTPUT ---//
//---------------------------------------------------------

mixin gef_side_menu(num)
    - var n  = 1  

    ol.gefSideMenu
        while n <= num
            if n == 1
                - sideMenuItems = "Introduction"
                - hash = "#"
                - backToMenu = "back_"
                - assetId = 0
            else if n == 2
                - sideMenuItems = "Form a school team"
                - hash = "#subpage-2"
                - backToMenu = "back_subpage-2"
                - assetId = 2
            else if n === 3
                - sideMenuItems = "Engage the school community"
                - hash = "#subpage-1"
                - backToMenu = "back_subpage-1"
                - assetId = 1
            else if n === 4
                - sideMenuItems = "Develop a ‘statement of purpose'"
                - hash = "#subpage-4"
                - backToMenu = "back_subpage-4"
                - assetId = 4
            else if n === 5
                - sideMenuItems = "Develop a shared understanding"
                - hash = "#subpage-3"
                - backToMenu = "back_subpage-3"
                - assetId = 3
            else if n === 6
                - sideMenuItems = "Develop or revise the school Anti-bullying Plan"
                - hash = "#subpage-5"
                - backToMenu = "back_subpage-5"
                - assetId = 5
            else if n === 7
                - sideMenuItems = "Publication and promotion"
                - hash = "#subpage-6"
                - backToMenu = "back_subpage-6"
                - assetId = 6
            else
                - sideMenuItems = "Resources"
                - hash = "#subpage-7"
                - backToMenu = "back_subpage-7"
                - assetId = 7
            
            li.gefSideMenu__item(data-gef-asset-id=assetId)
                a(id=backToMenu href=hash)
                    span(class="show-on-sr")|This is step #{n} of #{num}
                    span(role="text")= sideMenuItems
                i(aria-hidden="true")

            -n++


