//--- *************** ---//
//--- TEASER ---//
//--- *************** ---//

- var name = "Teaser"

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin description
  p
    A mechanism to display a single teaser container made of a heading, single paragraph and thumbnail with a referal link.

mixin usage
  h4 Using pug:
  pre
    code.lanaguage-pug
       | @param {int} grid_class  - ui kit grid column width class
  pre
    code.language-pug
      | +gef_teaser

mixin output
  +gef_teaser

//--- MIXIN ---//
//---------------------------------------------------------

mixin gef_teaser

  div.gef-teaser(data-pseudo-link)

    p.gef-teaser__category
      +lipsum(3, "words")

    h2.gef-teaser__heading
      +lipsum(40, "characters", true)


    img(src="//placehold.it/300x200" srcset="//placehold.it/300x200 300w" sizes="(max-width: 300px) 200vw, 300px" alt="placeholder")

    a(href="#")
      +lipsum(1, "sentences")