//--- *************** ---//
//--- TILE ---//
//--- *************** ---//

- var name = "Tile"

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin description
  p
    A container with pre set number of thumbnails displayed horizontally.

mixin usage
  h4 Using pug:
  pre
    code.lanaguage-pug
      | @param {object} thumb_size    - thumbnail width and height, if not passed, no thumb will appear

  pre
    code.lanaguage-pug
      | +gef_tile({width: 300, height: 200})


mixin output
  +gef_tile({width: 300, height: 200})

//--- MIXINS ---//
//---------------------------------------------------------

mixin gef_tile_contents(thumb_size)

  if thumb_size

    img(src='https://placeholdit.imgix.net/~text?txtsize=20&txt=' + thumb_size.width + '%C3%97' + thumb_size.height + '&w=' + thumb_size.width + '&h=' + thumb_size.height alt="placeholder")
    h3
      a(href="#")
        +lipsum(3, "words")
    p
      +lipsum(100, "characters")
  else
    h3
      a.gef-tile__nothumbnail(href="#")
        +lipsum(3, "words")
    p
      +lipsum(12, "words", true)

//--- HTML OUTPUT ---//
//---------------------------------------------------------


mixin gef_tile(thumb_size)

  if thumb_size
    div.gef-tile(data-pseudo-link).gef-tile--thumb
      +gef_tile_contents(thumb_size)
  else
    div.gef-tile(data-pseudo-link)
      +gef_tile_contents


