p.gef-search-results__info.uk-margin-top.uk-margin-bottom.uk-visible-small(ng-hide="$parent.searchTerm == ''")
  | {{ range.total ? "Showing " + range.lower + " - " + range.upper + " of " + range.total : 0 }} results for
  b  {{ $parent.searchTerm }}
  br
  | in&nbsp;
  b {{ $parent.searchSiteName }}
