p.gef-search-results__info.uk-visible-small.uk-margin-top.uk-margin-bottom(id="search-results__summary" ng-hide="$parent.searchTerm == ''")
  | {{$parent.navigation.total_results? $parent.navigation.total_results : 0}} result
  span(ng-show="$parent.results.length != 1") s
  |  found for
  b  {{ $parent.searchTerm }}
  | .
  span(class="pagination" ng-show="$parent.results.length > 0")
    |  &nbsp;Displaying page {{ pagination.current }} of approximately {{ pagination.last }}.
