//--- ***************      ---//
//--- Pagination Template  ---//
//--- Displays the bottom pagination ---//
//--- Needs internal ng-controller to work ---//
//--- Each page needs pageChanged called to get new result set ---//
//--- ***************      ---//


ul(id="pagination" class="gef-pagination uk-pagination uk-pagination-left gef-search-list" ng-if="1 < pages.length || !autoHide")
  li(ng-if="boundaryLinks" ng-class="{ uk-disabled : pagination.current == 1 } gef-pagination__prev")
    a(href="" ng-click="setCurrent(1)") &laquo;
  li(ng-if="directionLinks" ng-class="{ 'uk-disabled' : pagination.current == 1 }" class="gef-pagination__prev")
    span(ng-show="pagination.current == 1") Previous
    a(href="" ng-click="setCurrent(pagination.current - 1)" ng-show="pagination.current != 1" title="Previous page" aria-label="Previous page") Previous
  li(ng-repeat="pageNumber in pages track by $index" ng-class="{'uk-active' : pagination.current == pageNumber, 'disabled gef-pagination__more' : pageNumber == '...', hidden : $last && pagination.current != pageNumber}")
    a(href="" ng-show="pagination.current != pageNumber" ng-click="setCurrent(pageNumber); pageChanged(pageNumber)" aria-label="Page {{pageNumber}}" title="Page {{pageNumber}}" id="Page {{pageNumber}}") {{ pageNumber }}
    span(ng-show="pagination.current == pageNumber" tabindex="0" role="link" aria-describedby="Current" aria-label="Page {{pageNumber}}, Current Page" id="Current" title="Current Page {{pageNumber}}") {{ pageNumber }}
  li(ng-if="directionLinks" ng-class="{ 'uk-disabled' : pagination.current == pagination.last }" class="gef-pagination__next")
    a(href="" ng-click="setCurrent(pagination.current + 1)" ng-show="pagination.current != pagination.last" title="Next Page" aria-label="Next page") Next
    span(ng-show="pagination.current == pagination.last") Next
  li(ng-if="boundaryLinks"  ng-class="{ disabled : pagination.current == pagination.last }")
    a(href="" ng-click="setCurrent(pagination.last)") &raquo;
