div#search-results__summary(tabindex="0")
  p.gef-search-results__info(id="" ng-hide="$parent.searchTerm == ''" aria-controls="ariaControls")
    | {{ range.total ? "Showing " + range.lower + " - " + range.upper : 0 }} results for "{{ $parent.searchTerm }}" in <strong>{{ $parent.searchSiteName }}</strong>
