div.gef-search-results#searchResults(ng-controller="ShowResultsCtrl")
  dir-pagination-controls(template-url="assets/js/apps/search/views/dirPaginationSummary.html")
  
  dir-pagination-controls.gef-search-pagination(template-url="assets/js/apps/search/views/dirPagination.html" on-page-change="pageChanged(newPageNumber)")

  ol.gef-search-results__list(ng-show="results.length > 0")
    li.gef-search-results__item(dir-paginate="result in results | itemsPerPage : resultsPerPage" total-items="navigation.total_results" current-page="pageNumber")
        h5(class="gef-search-results__itemheader")
          a(href="{{result.url}}" ng-bind-html="result.title | sanitize")
        p(class="gef-search-results__url") {{result.url}}
        p(ng-bind-html="result.summary | sanitize") &hellip;
  p(ng-hide="results.length > 0 || searchTerm == ''") No Results Found
  
  dir-pagination-controls.gef-search-pagination(template-url="assets/js/apps/search/views/dirPagination.html" on-page-change="pageChanged(newPageNumber)")
