form(name="searchForm" ng-submit="searchForm.$valid" novalidate class="gef-search uk-form gef-search--body gef-search--results")
  fieldset(data-gef-uk-margin)
    legend Global Search
    input(type="text" id="txtSearch" name="txtSearch" placeholder="Enter your site search..." required ng-model="keyword")
    button(type="submit" id="btnSearch" name="btnSearch" ng-click="newSearchTerm()")
      span Search
      i.uk-icon-search
