<ul>
  <li><a href="http://www.google.com.au" id="external-link">Google</a></li>
  <li><a href="some-other-page.html" id="local-link">Local link</a></li>
  <li><a href="http://dec.nsw.gov.au/" id="white-listed-dec">White listed link</a></li>
  <li><a href="http://education.nsw.gov.au/" id="white-listed-education">White listed link</a></li>
</ul>
