<button type="button" data-gef-dialogue-trigger="modal01" data-gef-dialogue--mobile-only>
<div data-gef-dialogue-content="modal01" data-gef-dialogue--mobile-only>
  <p>Content in the modal</p>
</div>

