//--- INCLUDES
//---------------------------------------------------------

include assets/pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Index"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include assets/pug/components/_global-head.pug

  body

    div.uk-container.uk-container-center.gef-main

      h1 Global Experience Framework (GEF)

      h3 Templates

      ul
        li
          a(href="template-section.html") Section Home

        li
          a(href="template-landing.html") Landing

        li
          a(href="template-standard.html") Standard content

        li
          a(href="template-long-document.html") Long document content

        li
          a(href="template-guided-journey.html") Guided Journey

        li
          a(href="template-catalogue.html") Catalogue

        li
          a(href="template-a-z.html") A-Z

        li
          a(href="template-news-index.html") News Index

        li
          a(href="template-news-article.html") News article

        li
          a(href="template-search-results.html") Search Results
        li
          a(href="template-search-results-old.html") Search Results old
        li
          a(href="template-standard-no-footer.html") Standard content no footer
        li
          a(href="template-standard-footer-onlycontactlinks.html") Standard Page partnership footer Variant
        li
           a(href="template-standard-secondary-index.html") Standard Page secondary index
        li
           a(href="template-standard-secondary-index-withoutparent.html") Standard Page secondary index - Without parent
        li
           a(href="template-form-validate.html") Form validate



      h3 Elements &amp; Components

      ul
        li
          a(href="default-elements.html") Default Elements
        li
          a(href="components.html") Components - width contained
        li
          a(href="components-full-width.html") Components - full width
        li
          a(href="components-unused.html") Components - unused
        li
          a(href="components-livefyre.html") Adobe Livefyre

      h3 Apps

      ul
        li
          a(href="search-spa.html") Search Single Page App v1
        li
          a(href="gsa-search-new.html") Search Single Page App v2
        li
          a(href="gsa-search-pagination.html") Search Single Page App with updated pagination
        li
          a(href="template-social-media.html") Social Media Feed
        li
          a(href="gsa-search-new.html") New Search Spa
        li
          a(href="gsa-search-pagination.html") Search Spa Pagination variation
        li
          a(href="health-safety-spa.html") Health &amp; Safety Single Page App
        li
          a(href="bushfire-register-spa.html") Bushfire Register Single Page App

      hr

      h2 Releases

      br

      h3 Upcoming

      br

      h3 Released

      h4 1.8.2
      ul
        li
          | Small bug fixes related to user.js module

      h4 1.8.1
      ul
        li
          | Version bump because of some strange tag conflict

      h4 1.8.0
      ul
        li
          | GXF-2809 Added new capability to user.js to track a user's last 10 visited pages. New historian.js module that build a HTML list from the user's last 10 visited pages

      h4 1.7.0
      ul
        li
          | GXF-2806 Added user.js and modified tabs.js to support basic personalisation 
        li
          | GXF-2781 Added searchIndexChecker.js module that allows you to check if a page has been crawled by OniSearch
      
      h4 1.6.18
      ul
        li
          | Lifefyre integration

      h4 1.6.16 and 1.6.17
      ul
        li
          | GXF-2651 Show Hides accessibility bug fixes

      h4 1.6.1

      ul
        li
          | GXF-2439 Guided Journey bug fixes
      
      h4 1.5.14
      
      ul
        li
          | SWR-1862 Updated pagination for Search

      h4 1.5.0
      
      ul
        li
          |  GXF-2439 Guided Journey release

      h4 1.4.0
      
      ul
        li
          |  GXF-2471 Long Document release 2    
      
      h4 1.3.4
      
      ul
        li
          |  GXF-2471 Long Document

      h4 1.2.0

      ul
        li
          | GXF-2429 Adding H&amp;S Bushfire Register single page React JS app
        li
          | GXF-2430 Adding H&amp;S Training Provider single page React JS app

      h4 1.1.43

      ul
        li
          | GXF-2227 Adding Social media js app

      h4 1.1.41

      ul
        li
          | GXF-2228 Introducing Social media post component

      h4 1.1.29 and 1.1.30

      ul
        li
          | GXF-2223 Introducing the 2 column featured news component

      h4 1.1.26 and 1.1.27 and 1.1.28

      ul
        li
          | GXF-2215 Global header update - Log in portal

      h4 1.1.22

      ul
        li
          | GXF-2089 Secondary hub - accessibility and standards issues (Fixed more issues)

      h4 1.1.21

      ul
        li
          | GXF-2174 - Fixed bug where "did you mean" was appearing in header

      h4 1.1.20

      ul
        li
          | GXF-2174 - Added spelling suggestion/did you mean to search results template
        li
          | GXF-2173 - Recommend search results call out box

      h4 1.1.19

      ul
        li
          | GXF-2089 Secondary hub - accessibility and standards issues

      h4 1.1.18

      ul
        li
          | GXF-1938 - New Local Footer and partnership footer variant

      h4 1.1.16

      ul
        li
          | GXF-2070 - Fix the security issue - restrict text limit for search boxes

      h4 1.1.15

      ul
        li
          | GXF-1994 - Fix the long content text from being cut off in a tab component

      h4 1.1.13/1.1.14

      ul
        li
          | GXF-1949 - Implement the accessible tab component

      h4 1.1.12

      ul
        li
          | footer changes issues - if social media links are present footer will be available.

      h4 1.1.11

      ul
        li
          | Fixed button incorrect padding
        li
          | Fixed secure label positioning

      h4 1.1.8 - 1.1.10

      ul
        li
          | footer changes -if footer elements are empty no footer is displayed
        li
          | If footer is not displayed a new class is set up for "back-tot-top" and "ask-help" functionality to work

      h4 1.1.7

      ul
        li
          | New component - link column
        li
          | New alternate button style
        li
          | Removed Tab keyboard trap

      h4 1.1.6

      ul
        li
          | Quick release to change the cookie time for notice ribbon

      h4 1.1.5

      ul
        li
          | Additional accessibility for search pages (wave errors, focus state)
        li
          | Notice ribbon Banner open on first view and use cookies
      h4 1.1.4

      ul
        li
          | updated the global header on education.nsw sections to link to education.nsw.gov.au homepage instead of Dec.nsw. and added DEC.NSW.GOV.AU to the footer


      h4 1.1.3

      ul
        li
          | Added cookieControl utility
        li
          | Notice ribbon is controlled by "has visited" cookie

      h4 1.1.2

      ul
        li
          | Various CSS tweaks to Notice Ribbon


      h4 1.1.1

      ul
        li
          | Improvements to Search SPA for the new EDU homepage

      h4 1.1.0

      ul
        li
          | Updated notice ribbon
        li
          | Updated education banner


      h4 1.0.99

      ul
        li
          |  UPDATED the package.json and karma-conf.js replaced 'karma-jasmine-jquery' to 'karma-jasmine-jquery-2' to fix Karma npm dependency bug that resulted in 'npm install' failing

      h4 1.0.97

      ul
        li
          | Updated Secure indicator

        li
          | Updated Results Table

        li
          | Updated Print Styles


      h4 1.0.8

      ul
        li
          | Updated print copyright statement

        li
          | Updated Secure indicator

      h4 1.0.7

      ul
        li
          | Updated images with new figure element

        li
          | Updated/Added ' aria-hiddden="false" ' to the table for screen reader accessibility issue

      h4 1.0.0 &rarr; 1.0.5

      ul
        li
          | Components restructure
        li
          | Folder restructure
        li
          | Templates added
        li
          | PUG documentation setup changed for the Pattern Library

      h4 0.4.11
      ul
        li
          a(href="https://dec-ce.atlassian.net/browse/GXF-1537") GXF-1537
        li
          a(href="https://dec-ce.atlassian.net/browse/GXF-1529") GXF-1529
        li
          a(href="https://dec-ce.atlassian.net/browse/GXF-1528") GXF-1528
        li
          a(href="https://dec-ce.atlassian.net/browse/GXF-1508") GXF-1508
        li
          a(href="https://dec-ce.atlassian.net/browse/GXF-1501") GXF-1501
        li
          | Added unit testing to automated deployment

      h4 0.4.10
      ul
        li
          | Various bug fixes related to GXF-1340
          ul
            li
              a(href="https://dec-ce.atlassian.net/browse/GXF-1340") GXF-1340

      h4 0.4.8

      ul
        li
          | Slight structure changes to work with the Pattern Library


      h4 0.4.7

      ul
        li
          ul
            li
              a(href="https://dec-ce.atlassian.net/browse/GXF-1279") GXF-1279
            li
              a(href="https://dec-ce.atlassian.net/browse/GXF-1340") GXF-1340
            li
              a(href="https://dec-ce.atlassian.net/browse/GXF-1239") GXF-1239

      h4 0.4.6

      ul
        li
          | Focus Changes and news width issue
          ul
            li
              a(href="https://dec-ce.atlassian.net/browse/GXF-1318") GXF-1318
            li
              a(href="https://dec-ce.atlassian.net/browse/GXF-1319") GXF-1319
            li
              a(href="https://dec-ce.atlassian.net/browse/GXF-1319") GXF-1375



      h4 0.4.5

      ul
        li
          a(href="https://dec-ce.atlassian.net/browse/GXF-1171") Submit on Event utility
        li
          a(href="https://dec-ce.atlassian.net/browse/GXF-1361") Radio button bugs
        li
          a(href="https://dec-ce.atlassian.net/browse/GXF-1340") Datepicker
        li
          a(href="https://dec-ce.atlassian.net/browse/GEFW-356") Change width of search results

      h4 0.4.4

      ul
        li
          a(href="https://dec-ce.atlassian.net/browse/GXF-1339") Updates to scrollToggle

      h4 0.4.2

      ul
        li
          a(href="https://dec-ce.atlassian.net/browse/GXF-1331") Fixes to a-z-anchors
        li
          a(href="https://dec-ce.atlassian.net/browse/GXF-1333") Bug fix for scrollToggle
        li
          | Id fixes for
          ul
            li
              a(href="https://dec-ce.atlassian.net/browse/GXF-1278")
                | GXF-1278

            li
              a(href="https://dec-ce.atlassian.net/browse/GXF-1279")
                | GXF-1279

      h4 0.4.1

      ul
        li
          a(href="https://dec-ce.atlassian.net/secure/RapidBoard.jspa?rapidView=41&view=planning&selectedIssue=GXF-1235&epics=visible&selectedEpic=GXF-1233") All Policy related tickets


      h4 0.3.5

      ul

        li
          a(href="https://dec-ce.atlassian.net/browse/GXF-1279") Results table Pattern

        li
          a(href="https://dec-ce.atlassian.net/browse/GXF-1239") A-Z index pattern

      h4 0.3.4

      ul

        li
          a(href="https://dec-ce.atlassian.net/browse/GXF-1278") A-Z Listing Pattern

        li
          a(href="https://dec-ce.atlassian.net/browse/GXF-1237") Download Callout

        li
          a(href="https://dec-ce.atlassian.net/browse/GXF-1284") AnchorFilter Utility

      h4
        a(href="https://dec-ce.atlassian.net/projects/GXF/versions/11101/tab/release-report-all-issues") 0.3.0
      ul
        li
          a(href="https://dec-ce.atlassian.net/browse/GXF-1246") EdConnect component


      h4 0.2.3

      ul
        li
          a(href="https://dec-ce.atlassian.net/browse/REP-366") Changes to AriaToggle for REP-366
        li
          a(href="https://dec-ce.atlassian.net/browse/GXF-1260") Skip Link fixes
        li
          a(href="https://dec-ce.atlassian.net/browse/GXF-1204") Google analytics events tracking

      h4 0.2.02-1

      ul
        li
          a(href="https://dec-ce.atlassian.net/projects/GXF/versions/11000/tab/release-report-all-issues") New release!


      h4 0.2.02

      ul
        li
          a(href="https://dec-ce.atlassian.net/projects/GXF/versions/11000/tab/release-report-all-issues") MVE Search Patterns

      h4 0.2.01

      ul
        li
          a(href="https://dec-ce.atlassian.net/issues/?filter=14802") MVE Patch
          ul
            li
              | Global footer tablet design improvement
            li
              | Global header search field design improvements
            li
              | Accessibility fixes
            li
              | Retrofixes
            li
              | Fixed Arrow on side navigation

      h4 0.2.00

      ul
        li
          a(href="https://dec-ce.atlassian.net/issues/?filter=14801") MVE Homepage
          ul
            li
              | New global header, EDU homepage, pattern updates etc&hellip;
            li
              | Grid updates
            li
              | Grey colours updates

      h4 v0.1.16b

      ul
        li
          a(href="https://bitbucket.org/dec-ce/gef/commits/a1782f4f6b96c3be4d8fb9d0c8b8a2b6e6bab919") Stealth improvements - additional conditions added to the AnchorBox pattern

      h4 v0.1.16a

      ul
        li
          a(href="https://bitbucket.org/dec-ce/gef/commits/08f3242d646d7aa18ff6bef183fcdffb42f9d53a") Stealth fix to section header mixin

      h4 v0.1.16

      ul
        li
          a(href="https://dec-ce.atlassian.net/browse/GXF-937") GXF-937 Decrease spacing on list items
        li
          a(href="https://dec-ce.atlassian.net/browse/GXF-899") GXF-899 Anchor box pattern
        li
          a(href="https://dec-ce.atlassian.net/browse/GXF-909") GXF-909 Landing page improvements
        li
          a(href="https://dec-ce.atlassian.net/browse/GXF-946") GXF-946 Minor spacing and font size issues

      h4 v0.1.15a - Stealth fix to some minor bugs which were affecting&nbsp;
        a(href="https://bitbucket.org/dec-ce/generator-gef")
          | Generator GEF

      h4 v0.1.15 - Visual improvements to established patterns &amp; templates

      ul
        li
          a(href="https://dec-ce.atlassian.net/browse/GXF-906") GXF-906
        li
          a(href="https://dec-ce.atlassian.net/browse/GXF-907") GXF-907
        li
          a(href="https://dec-ce.atlassian.net/browse/GXF-907") GXF-908
        li
          strike
            | GXF-909
          | - removed from release due to being blocked
        li
          h5 Bugs
          ul
            li
              a(href="https://dec-ce.atlassian.net/browse/GEFW-331") GEFW-331 (Pug Bug)
            li
              a(href="https://dec-ce.atlassian.net/browse/GXF-925") GXF-925 (Breadcrumbs wrap bug)
            li
              a(href="https://dec-ce.atlassian.net/browse/GXF-930") GXF-930 (Breadcrumbs cut off issue)

      h4 v0.1.14a

      ul
        li
          a(href="https://dec-ce.atlassian.net/browse/GXF-913") GXF-913 - Fix to spacing issues

      h4 v0.1.14

      ul
        li
          a(href="https://dec-ce.atlassian.net/browse/GXF-787") GXF-787 - Breadcrumbs (enhanced) MVP
        li
          a(href="https://dec-ce.atlassian.net/browse/GXF-869") GXF-869 - Jade to Pug upgrade

      h4 v0.1.13

      ul
        li
          a(href="https://dec-ce.atlassian.net/browse/GXF-786") GXF-786 - Side Navigation update
        li
          a(href="https://dec-ce.atlassian.net/browse/GXF-736") GXF-736 - Tab accessibility mobile fix
        li
          a(href="https://dec-ce.atlassian.net/browse/GXF-876") GXF-876 - Minor interaction bugs in sidenav
