script(src='assets/js/vendor/require.js?r=' + revision data-main='assets/js/main.js?r=' + revision data-site-config-path=siteConfigPath type='text/javascript')

script(type='text/javascript').
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  
  // UA-83551518-1 GA profile for dec-ce.bitbucket.org
  if (document.cookie.match(/UserID/)) {
    ga('create', 'UA-83551518-1', 'auto', {
      userId: document.cookie.match(new RegExp('UserID=([^;]+)'))[1]
    });
  } else {
    ga('create', 'UA-83551518-1', 'auto');
  }
  
  ga('send', 'pageview');
