//--- *************** ---//
//--- GLOBAL HEADER ---//
//--- *************** ---//

//- A container that serves primary global header content.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {boolean} alternate  - adds a alternate class for a display variance
  | //- @param {boolean} search     - adds a search show/hide
  | +global_header(false, true)


mixin usage
  pre
    code.language-jade
      +documentation


//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin global_header(alternate, search)

  -var classes = ''

  if alternate == true
    -classes = "gef-global-header-container gef-global-header--alt"
  else
    -classes = "gef-global-header-container"

  div(class=classes role="banner")

    div.gef-global-header

      div.uk-container.uk-container-center

        div.uk-grid.uk-grid-collapse

          div.uk-width-1-1

            a.gef-global-header__header(href="https://education.nsw.gov.au" title=corporateName)

              abbr(title=corporateName aria-hidden="true")
                =corporateNameShort
            div.global-header-right-nav.uk-grid
              div.global-header-links-right
                +gef_google_translate
                +gef_global_link

    if search == true

      div.gef-global-header__search(data-gef-global-header-search-toggle)

        div.uk-container.uk-container-center

          div.uk-grid.uk-grid-collapse

            div.uk-width-1-1

              button(id="search" type="button" role="tab" aria-controls="search-panel" aria-expanded="false" aria-selected="false" tabindex="0")
                span.gef-global-header__search__toggler-closed
                  | Search
                  i.uk-icon-search(aria-hidden="true")
                span.gef-global-header__search__toggler-opened
                  span.gef-global-header__search__toggler-opened__close-icon

              div(id="search-panel" role="tabpanel" aria-labelledby="search-tab" aria-hidden="true")

                form.gef-global-header__search-form(action="//search.uat.det.nsw.edu.au/search" method="get")
                  input(type="hidden" name="access" value="p")
                  input(type="hidden" name="client" value="alex_dl_test")
                  input(type="hidden" name="proxystylesheet" value="alex_dl_test")
                  input(type="hidden" name="site" value="gef_full_search")
                  label.show-on-sr.uk-visible-large(for="header-search")
                    | Search the department
                  div
                    input(id="header-search" name="q" type="text" placeholder="Search the department" maxlength="254")
                    //-- span.gef-global-header__search-form__search-line
                    button(type="submit")
                      span.show-on-sr
                        | Submit
                      i.uk-icon-search(aria-hidden="true")
