//--- *************** ---//
//--- GLOBAL FOOTER ---//
//--- *************** ---//

//- A container that serves global footer content.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +global_footer()

mixin usage
  pre
    code.language-jade
      +documentation


//--- MIXINS ---//
//---------------------------------------------------------

mixin gef_acknowledgement

  div.gef-acknowledgement
    div.uk-container.uk-container-center
      p
        |We acknowledge the homelands of all Aboriginal people and pay our respect to Country.

mixin global_footer 

  aside.gef-global-footer.uk-width-1-1(aria-label="globalFooter")

    +gef_acknowledgement
    
    h1.show-on-sr
      | #{corporateName}

    div.uk-container.uk-container-center

      div.gef-global-footer__inner.uk-grid

        div.gef-global-footer__inner__wrapper.uk-width-medium-6-10.uk-width-large-7-10

          nav.uk-grid

            h2.show-on-sr
              | Copyright, privacy and accessibility

            div.uk-width-medium-1-2.uk-width-large-1-2

              ul.uk-list
                li
                  a(href="#") Accessibility
                li
                  a(href="#") Information access
                li
                  a(href="#") Privacy
                li
                  a(href="#") Copyright

            div.uk-width-medium-1-2.uk-width-large-1-2

              ul.uk-list
                li
                  a(href="#") Policy library
                li
                  a(href="#") Department contacts
                li
                  a(href="#") Our Ministers

        div.gef-global-footer__inner__logo.uk-width-medium-4-10.uk-width-large-3-10

          +gef_corporate_logo

  div.uk-container.uk-container-center.gef-copyright-print
    p
      | This information is current as at DD/MM/YYYY hr:min am/pm, AEDT. For the most up-to-date information, go to https://education.nsw.gov.au/XXXXX.
    p
      | &copy; State of New South Wales (Department of Education), 2018. For more information go to https://education.nsw.gov.au/about-us/rights-and-accountability/copyright.
