//--- *************** ---//
//--- A-Z anchors ---//
//--- *************** ---//

//- A container that anchors numbers and A to Z alphabatically.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {boolean} show_inactive  - True if no listing exists for a character (1, A-Z) and add 'inactive' class to span otherwise no class added
  | //- @param {boolean} show_active  - True if selected character (1, A-Z) and add 'active' class to anchor otherwise no class added
  | +gef_a_z_anchors(false, false)


mixin usage
  pre
    code.language-jade
      +documentation


//--- MIXINX ---//
//---------------------------------------------------------

mixin gef_a_z_anchors(show_active, show_inactive)

  - var characters = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z"]

  ol.gef-a-z-anchors
    each val, index in characters

      if (val == "1")
        - var anchorId = "one"
      else
        - var anchorId = val

      - var displayClass = ""

      case index

        when 5
          if show_active
            -displayClass = "active"
          li(data-character-name="" + val)
            a(href="#" + anchorId class=displayClass)= val

        when 11
          if show_inactive
            -displayClass = "inactive"
            li(data-character-name="" + val)
              span(class=displayClass)= val

          else
            li(data-character-name="" + val)
              a(href="#" + anchorId)= val

        default
          li(data-character-name="" + anchorId)
            a(href="#" + anchorId)= val