//--- *************** ---//
//--- ADD THIS ---//
//--- *************** ---//

//- Inserts "AddThis" sharing widget.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +gef_add_this


mixin usage
  pre
    code.language-jade
      +documentation


//--- OUTPUT ---//
//---------------------------------------------------------

mixin gef_add_this

  div.gef-add-this

    p.gef-add-this__title
      | Share this

    div.gef-add-this__toolbox.addthis_sharing_toolbox

    script(type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5653ba85938e9d73" async="async")



