//--- ************************ ---//
//--- ANCHOR BOX ---//
//--- ************************ ---//

//- A list of in-page anchors presented in a box

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0 / Updated: 1.0.1
  | //- @param {int} num - number of links
  | +gef_anchor_box(num)

mixin usage
  pre
    code.language-jade
      +documentation

//--- OUTPUT ---//
//---------------------------------------------------------

mixin gef_anchor_box(num)

  nav.gef-anchor-box

    h2.uk-h6.gef-anchor-box__title
      | On this page

    +gef_link_list(num)

