//--- ************************ ---//
//--- BACK TO TOP ---//
//--- ************************ ---//

//- Back to Top Button/Link
//- Standard back to top links.  Fixed for mobile media.  Set to bottom of page for larger screens

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +gef_back_to_top


mixin usage
  pre
    code.language-jade
      +documentation


//--- MIXINS ---//
//---------------------------------------------------------

mixin div_back_to_top
    a.gef-btt(href="#top" data-gef-back-to-top)
      i.uk-icon-angle-up(aria-hidden="true")
      span.show-on-sr
        | Return to top of page

//--- OUTPUT ---//
//---------------------------------------------------------

mixin gef_back_to_top
  +div_back_to_top
