//--- ************************ ---//
//--- BANNER ---//
//--- ************************ ---//

//- Banner image pattern.
//- There are two types: large with content + CTA &amp; small narrow image banner only.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0 / Updated: 1.0.1
  | //- @param {object} image_src - banner image width and height
  | //- @param {boolean} small_banner - True if small banner otherwise big banner
  | +gef_banner(image_src, small_banner)

mixin usage
  pre
    code.language-jade
      +documentation


//--- OUTPUT ---//
//---------------------------------------------------------

mixin gef_banner(image_src, small_banner)

  - var additionalBannerClass =''

  if small_banner
    - var additionalBannerClass = 'gef-banner-container--small'

  aside.gef-banner-container(class=additionalBannerClass aria-label="banner")

    div.uk-container.uk-container-center

      <h2 class="show-on-sr">Featured page</h2>

      div.gef-banner

        img(src=image_src alt="placeholder banner")

        if !small_banner

          div.uk-container.gef-banner__content(tabindex="0")

            h3.gef-banner__content__title
              +lipsum(3, "words", true)

            p
              +lipsum(2, "sentences")

            a.uk-button.gef-button.gef-button-x-large.gef-button-submit-inverse(href="#" title="banner link" aria-label="banner link")
              +lipsum(2, "words")
