//--- *************** ---//
//--- BREADCRUMBS ---//
//--- *************** ---//

//- A mechanism that provides the information about a user’s location within a set of web pages. Breadcrumbs are a single line of text to show a page's location in the site hierarchy.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {int}     num      - number of links to display
  | //- @param {boolean} enhanced - added JS functionality to force breadcrumbs on one line
  | //- @param {boolean} homeicon - choose to show the home icon or not
  | +gef_breadcrumbs(6, true, false)

mixin usage
  pre
    code.language-jade
      +documentation

//--- MIXINS ---//
//---------------------------------------------------------

mixin breadcrumbs_link(words)
  li.gef-breadcrumbs__item
    a(href="#")
      +lipsum(words, "words")


mixin breadcrumbs_current(words)
  li.gef-breadcrumbs__item
    span
      +lipsum(words, "words")


mixin breadcrumbs_mobile(enhanced,homeicon)

  if enhanced

    if homeicon
      a.gef-breadcrumbs__link.uk-hidden-large(title="Go to NSW Department of Education homepage", href="#")
        i.uk-icon-angle-left(aria-hidden="true")
        i.uk-icon-home.gef-home-mobile-breadcrumb(aria-hidden="true")
        span.uk-hidden home

    else
      a.gef-breadcrumbs__link.uk-hidden-large(title="Go back to parent page", href="#")
        i.uk-icon-angle-left(aria-hidden="true")
        +lipsum(6, "words")

  else
    a.gef-breadcrumbs__back.uk-hidden-large(title="Go back to previous page", href="#")
      i.uk-icon-angle-left(aria-hidden="true")
      | Back



//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin gef_breadcrumbs(amount, enhanced , homeicon)

  - var num = 1

  if enhanced
    - var words = "7"
    - var extraClass = "enhanced"

  else
    - var words = "2"
    - var extraClass = ""

  nav(class="gef-breadcrumbs " + extraClass)

    h2.show-on-sr
      | Breadcrumb navigation

    +breadcrumbs_mobile(enhanced,homeicon)

    ul.gef-breadcrumbs__list.uk-visible-large(role="menubar")
      while num < amount

        //- ACTIVATE THE BELOW CODE TO USE HOME PAGE ICON AS BREADCRUMB
        if homeicon
          //- show home icon
          li.gef-breadcrumbs__item
             a(href="#" title="Go to NSW Department of Education homepage")
               i.uk-icon-home(aria-hidden="true")
               span.show-on-sr
                 | Home
        else
          +breadcrumbs_link(words)

        - num++
      +breadcrumbs_current(words)
