//--- ************************ ---//
//--- BUTTON SUBMIT        ---//
//--- ************************ ---//

//- A generic button design to be part of a form

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {string} button_wording - wording to be displayed on button
  | //- @param {string} button_class - additional class for button
  | //- @param {string} button_size - size definition (options: mini, small, (default), large)
  | +gef_button("Submit", "gef-button--alt1", "small")

mixin usage
  pre
    code.language-jade
      +documentation


//--- OUTPUT ---//
//---------------------------------------------------------

mixin gef_button(button_wording, button_class, button_size)
  - button_wording = button_wording || "Submit"
  if button_size
    -button_size = "gef-button-" + button_size
  else
    -button_size = "gef-button"

  button.uk-margin-top.uk-button.gef-button(class=button_class class=button_size type="submit" value=button_wording)= button_wording
