//--- *************** ---//
//--- CALL OUT BOX ---//
//--- *************** ---//

//- The call out box styles a section for better visibility. While technically any amount of varied content can be added to a callout box the intention of this pattern is to highlight small amount of discretionary content.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @mixin call_out_box_content - use this mixin to put your custom content into the callout box
  | mixin call_out_box_content
  |   h3
  |     +lipsum(3, "words")
  |   +gef_link_list(2)
  | +gef_call_out_box


mixin usage
  pre
    code.language-jade
      +documentation

//--- OUTPUT ---//
//---------------------------------------------------------

mixin gef_call_out_box(variation)

  - var componentClass = "gef-call-out-box"

  if variation == "lite"
    - componentClass = "gef-call-out-box--lite"


  div(class=componentClass)
    +call_out_box_content
