//--- *************** ---//
//--- CATALOGUE ---//
//--- *************** ---//

//- A component which displays a list of catalogue item previews in either a grid or vertical list view. Options to remove LHS Category navigation

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {int} num - number of items to display
  | //- @param {boolean} category_nav - show category navigation if true, and display a 3 column grid. Otherwise display a 4 column grid.
  | +gef_catalogue(12, true)


mixin usage
  pre
    code.language-jade
      +documentation


//--- MIXINS ---//
//---------------------------------------------------------


//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin gef_catalogue(num, category_nav)

  div.uk-grid.uk-grid-collapse

    if (category_nav != true)
      - var columns = "4"
      - var grid_columns = 4
    else
      //--- Show Category List
      - var columns = "3"
      - var grid_columns = 3

      nav.uk-width-large-1-4.uk-visible-large

        h2.uk-h5.uk-margin-bottom.uk-margin-small-top.black Browse By

        +gef_category_list(7)

    //--- Catalogue Listing

    div(class="uk-width-large-" + columns + "-4 relative")

      //--- View control icons

      nav.gef-vc-icons
        h3.show-on-sr
          | Visual control icons
        button(title="View items in a grid" class="gef-vc-btn uk-icon-th-large uk-active" data-gef-class-toggle="gef-flex-grid--columns" data-gef-class-toggle-target=".gef-flex-grid" data-gef-class-toggle-disable="disable")
          span.uk-hidden= "grid view"
        button(title="View items in a list" class="gef-vc-btn uk-icon-list" data-gef-class-toggle="gef-flex-grid--columns" data-gef-class-toggle-target=".gef-flex-grid" data-gef-class-toggle-disable="disable")
          span.uk-hidden= "list view"

      //--- Form

      form
        div.gef-form.gef-form--inline.uk-width-large-8-10.uk-margin-remove(id="frm01" action="" method="GET")
          fieldset
            legend.show-on-sr Catalogue sort options
            +gef_select("Browse by", 8, 1, 1)
            +gef_select("Sort by", 6, 1)
            input.uk-hidden(type="submit" id="sub01" name="sub01" value="submit")
            p
              +lipsum(3, "words")


        //--- Catalogue List

        hr.uk-margin-remove

        mixin gef_flex_grid_mixin
          +gef_catalogue_teaser("default")

        +gef_flex_grid(num, "columns", grid_columns)

        //--- Pagination

        +gef_pagination(5, "center")

