//--- ************************ ---//
//--- DATEPICKER ---//
//--- ************************ ---//

//- A datepicker based on the UIkit datepicker component.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {string} placeholder - is the placeholder text.
  | //- @param {string} label - is the 'label' value.
  | //- @param {date} placeholder - is the date format (YYYY-MM-DD).
  | +gef_datepicker(label,dateFormat)


mixin usage
  pre
    code.language-jade
      +documentation


//--- OUTPUT ---//
//---------------------------------------------------------

mixin gef_datepicker(placeholder,label,dateFormat)
  - var randId = Math.floor((Math.random() * 50) + 1)
  - var idValue = "dp-" + randId
  div(class="uk-form-row")
    label(for=randId id=idValue class="uk-form-label")
      span=label
    input( id=randId tabindex="0" class="gef-date-picker uk-form-medium" placeholder=placeholder data-uk-datepicker={'pos': 'bottom', weekstart:0, format: dateFormat})

