//--- ************************ ---//
//--- PATTERN / COMPONENT NAME ---//
//--- ************************ ---//

//- A download box with a list of links.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +gef_download_box

mixin usage
  pre
    code.language-jade
      +documentation

//--- MIXINS ---//
//---------------------------------------------------------

mixin gef_download_link
    li
      a.gef-download-box-links--bold(href="http://google.com")
        +lipsum(7, "words")
      br
      span PDF, 607 KB


//--- OUTPUT ---//
//---------------------------------------------------------

mixin gef_download_box

  div.gef-download-box
    h2.gef-download-box-heading
      |Downloads
    div.gef-download-box-links-container
      ul
        +gef_download_link
        +gef_download_link
