//--- *************** ---//
//--- DRAWER ---//
//--- *************** ---//

//- A user activated tab and panel which sits at the bottom of the screen with a hidden panel. With JS, the panel is shown or hidden by clicking the tab.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- You can pass the specific content you would like to be displayed in the tab and panel
  | //- @external {mixin} gef_drawer_tab_contents - contents of the tab
  | //- @external {mixin} gef_drawer_panel_contents - contents of the panel
  | +gef_drawer

mixin usage
  pre
    code.language-jade
      +documentation

//--- MIXINS ---//
//---------------------------------------------------------

mixin gef_drawer_tab_contents
  | empty

mixin gef_drawer_panel_contents
  | empty

//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin gef_drawer()

  - var id = "drawer" + Math.floor((Math.random() * 1000) + 1)

  aside.gef-drawer(aria-label="drawer")
    div(role="tablist")
      a(href="#" + id, id= id+"tab" role="tab", aria-controls= id, aria-expanded="false")
        +gef_drawer_tab_contents

    div(id= id, role="tabpanel", aria-labelledby= id+"tab", aria-hidden="true", aria-label="tabpanel")
      +gef_drawer_panel_contents


