//--- *************** ---//
//--- EDUCTAION BANNER    ---//
//--- *************** ---//

//- The Education home page search banner

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {integer}  num    - number of tip links
  | +gef_education_banner

mixin usage
  pre
    code.language-jade
      +documentation

//--- MIXINS ---//
//---------------------------------------------------------

mixin tip_link()
  li
    a(href="#")
      +lipsum(2, "words")

//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin gef_education_banner(num)

  -var count = 0

  div.gef-education-banner

    div.uk-container.uk-container-center

      div.uk-grid

        div.uk-width-1-1

          div
            +gef_corporate_logo(true)

          p.gef-education-banner__lead
            | Welcome to

          h1.gef-education-banner__header
            | education.nsw.gov.au

          form.gef-education-banner__search(action="//search.uat.det.nsw.edu.au/search" method="get")
            input(type="hidden" name="access" value="p")
            input(type="hidden" name="client" value="alex_dl_test")
            input(type="hidden" name="proxystylesheet" value="alex_dl_test")
            input(type="hidden" name="site" value="gef_full_search")

            legend.show-on-sr
              | Search the Department
            div
              label.show-on-sr.uk-visible-large(for="banner-search")
                | Enter your search&hellip;
              input(id="banner-search" name="q" placeholder="Enter your search..." type="text" role="textbox" maxlength="254")
              button(type="submit")
                | Submit

          if num > 0
            div.gef-education-banner__tips.uk-hidden-small
              h2
                | Try searching for:
              ul
                while count < num
                  +tip_link
                  -count++







