//--- *************** ---//
//--- Events ---//
//--- *************** ---//

//- A container that serves primary events content.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {boolean} alternate  - adds a alternate class for a display variance
  | //- @param {boolean} search     - adds a search show/hide
  | +gef_events(false, true)


mixin usage
  pre
    code.language-jade
      +documentation

//--- HTML OUTPUT ---//
//---------------------------------------------------------


mixin gef_events(num,grid)

 if grid == "3"
        - var superclass = "gef-container-width-33"
 if grid =="2"
        - var superclass = "gef-container-width-66"
 if grid =="1"
        - var superclass = "gef-container-full-width"

 - var mainclass = "gef-home-containers gef-events-complete"
 - var classes = "uk-grid gef-events-full-width uk-grid-collapse uk-width-medium-1-1 "
 - var subclass = "uk-grid uk-width-1-3 gef-single-event"
    // Component - events html fragment starts here

 div(class=superclass)
    div(class=mainclass)
        div(class=classes)
            - var x = 1
            while x < num
                div(class=subclass data-pseudo-link="data-pseudo-link")
                    div.uk-width-2-6.gef-event-date
                        div.gef-single-event-square
                            div.gef-single-event-square_design
                                div.gef-single-event-square_inside
                                    p(class="gef-event-day" aria-hidden="true")
                                        |Thur
                                    p(class="gef-event-day-date" aria-hidden="true")
                                        |11
                                    p(class="gef-event-month" aria-hidden="true")
                                        |May
                    div.uk-width-4-6.gef-event-desc
                        h3
                            a(href="#")|Year 5 NAPLAN test
                        p.uk-visible-small.gef-event-more-icon
                        dl
                            dt.gef-event-desc--definition Date
                                dd
                                    p.gef-event-date-period.gef-event-date-period--definition
                                        span(class="gef-event-date-period-icon" aria-hidden="true")
                                        |11 - 17th December
                            dt.gef-event-desc--definition Time
                                dd
                                    p.gef-events-heading.gef-events-heading--definition
                                        span(class="gef-events-heading-icon" aria-hidden="true")
                                        | 4:30pm - 5:30pm

                            dt.gef-event-desc--definition Location
                                dd
                                    a.gef-event-location(href="#")
                                        span(class="gef-event-location-icon" aria-hidden="true")
                                        span.gef-char-length-43| 43 characte location

                        p.gef-char-length-100
                            | All Year 5 students sit for the National Assessment Program Literacy and Numeracy Program Literacy and Numeracy
                        -x++
    // Component - events html fragment ends here