//--- *************** ---//
//--- EXPANDED NAV    ---//
//--- *************** ---//

//- A repeating pattern which acts as a description with link(s) to other pages within the AI

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //-  @param {integer}  num - number of navs
  | //- @param {object}  options - options for the different variations of this pattern
  | //- @param {boolean}  options.hide_mobile_description - hide description on mobile
  | //- @param {object}  options.image_size - activates thumbnail
  | //- @param {string}  options.image_size.width - width of thumb
  | //- @param {string}  options.image_size.height - height of thumb
  | //- @param {string}  options.extra_classes - add extra classes to the individual expanded nav items
  | +gef_expanded_nav(num, options)


mixin usage
  pre
    code.language-jade
      +documentation

//--- MIXINS ---//
//---------------------------------------------------------

mixin gef_expanded_nav_build(options)

  -var classes = "gef-expanded-nav__item "

  if options.hide_mobile_description
    -classes += "gef-expanded-nav__item--alt1 "

  if options.extra_classes
    -classes += options.extra_classes

  li(class=classes)

    if options.image_size

      img(src='https://placeholdit.imgix.net/~text?txtsize=20&txt=' + options.image_size.width + '%C3%97' + options.image_size.height + '&w=' + options.image_size.width + '&h=' + options.image_size.height alt="placeholder")

    h3
      a(href="#")
        +lipsum(4, "words")
    p
      +lipsum(12, "words", true)



//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin gef_expanded_nav(num, options)

  if !options
    - options = {}

  -var count = 0

  ul.gef-expanded-nav

    while count < num
      +gef_expanded_nav_build(options)
      -count++

