//--- *************** ---//
//--- FEATURED TEASER ---//
//--- *************** ---//

//- A stand-out teaser for a news article

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +gef_featured_teaser

mixin usage
  pre
    code.language-jade
      +documentation

//--- OUTPUT ---//
//---------------------------------------------------------

mixin gef_featured_teaser

  h1.gef-featured-teaser__header
    | Featured

  div.gef-featured-teaser.uk-margin-large-bottom.uk-margin-small-top(data-pseudo-link)

    img(src="//placehold.it/1200x900/", alt="")

    div.gef-featured-teaser__content

      h2
        a(href="#")
          +lipsum(15, "words", true)

      time.gef-featured-teaser__date(datetime="2015-12-25")
        | 25 December 2015
