//--- *************** ---//
//--- FEATURED TEASER ---//
//--- *************** ---//

//- A stand-out teaser for a news article

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +gef_featured_teaser

mixin usage
  pre
    code.language-jade
      +documentation

//--- OUTPUT ---//
//---------------------------------------------------------

mixin gef_featured_teaser_variant

  div.gef-featured-teaser_variant.uk-margin-large-bottom.uk-margin-small-top(data-pseudo-link)

    img(src="//placehold.it/1200x900/", alt="")
    h4.gef-featured-teaser_highlight|News Category

    div.gef-featured-teaser__content_variant
     

      h2
        a(href="#")
          +lipsum(8, "words", true)

      time.gef-featured-teaser__date_variant(datetime="2015-12-25")
        | 25 December 2015
      p
        +lipsum(25, "words", true)
