//--- ************************ ---//
//--- SELECT ---//
//--- ************************ ---//

//- Select form element

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {string} label - label for select tag
  | //- @param {int} items - is the number of select options
  | +feed_back_form

mixin usage
  pre
    code.language-jade
      +documentation

//--- MIXINS ---// //--- https://cms.uat.det.nsw.edu.au/education-new/feedback?linkasset_id=443021&page_id=421045 ---//

//---------------------------------------------------------
mixin form_validate
  form#form_email_442979.gef-form-validate(enctype="multipart/form-data" action="#" method="post")
    input#SQ_FORM_442979_PAGE.sq-form-field(type="hidden" name="SQ_FORM_442979_PAGE" value="1")
    input(type="hidden" name="form_email_442979_referral_url" value="")
    p
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt accumsan ligula, quis facilisis magna eleifend quis. Fusce finibus ut velit at condimentum. Vivamus pretium varius ornare. Sed nec turpis scelerisque, consectetur tellus non, convallis est. Vivamus quis diam tortor.
    p
      | Please fill out the fields below regarding feedback for 
      a(href="https://cms.uat.det.nsw.edu.au/education/early-childhood")
        | Early Childhood Education (https://cms.uat.det.nsw.edu.au/education/early-childhood)
    fieldset
      .gef-form-group(id="q442981_q5")
        legend.sq-form-question-title
          | Type of feedback           
        ul
          li
            input#q442981_q5_0.sq-form-field.gef-feedback-radio(type="radio" name="q442981:q5" value="0" data-rule-required="true" data-msg-required="Please specify your feedback type")
            label(for="q442981_q5_0") Content
          li
            input#q442981_q5_1.sq-form-field.gef-feedback-radio(type="radio" name="q442981:q5" value="1")
            label(for="q442981_q5_1") Technical
        label(for="q442981:q5" class="error")
          span.hide
            |Error message:          
      .gef-form-group
        label.sq-form-question-title(for="q442981_q1")
          | Full Name
          abbr.sq-form-required-field(title="required") *
        br
        input#q442981_q1.sq-form-field(type="text" name="q442981:q1" value="" size="40" maxlength="75" data-rule-validTextNoTags="true" data-msg-required="Please specify your full name" data-rule-required="true")
      .gef-form-group
        label.sq-form-question-title(for="q442981_q2")
          | Email Address 
          abbr.sq-form-required-field(title="required") *
        br
        input#q442981_q2.sq-form-field.email-type-required(type="email" name="q442981:q2" value="" size="40" maxlength="300" data-rule-emailfull="true" data-rule-validSelectTextbox="true")

      .gef-form-group
        label.sq-form-question-title(for="q442981_q9") Prefer contact by
        br
        select#q442981_q9.sq-form-field.select-type-required(name="q442981:q9" size="1")
          option.email-required(value="email" selected) Email
          option.phone-required(value="phone") Phone      
      .gef-form-group
        label.sq-form-question-title(for="q442981_q7") Phone
        br
        input#q442981_q7.sq-form-field.phone-type-required(type="text" name="q442981:q7" value="" size="40" maxlength="15" data-rule-phoneAU="true" data-rule-validSelectTextbox="true")
      .gef-form-group
        label(for="date") Date of Incident: 
        abbr.sq-form-required-field(title="required") * (date format dd/mm/yyyy)
        br
        input#date(name="date" size="12" type="text" data-rule-australianDate="true" data-rule-required="true" data-msg-required="Please specify a valid date")

      .gef-form-group(id="q442981:q10[]")
        legend.sq-form-question-title 
          | Checkbox Options
        
        ul
          li
            input#q442981_q10_0.sq-form-field(type='checkbox' name='q442981:q10[]' value='0' data-rule-required="true")
            label(for='q442981_q10_0') Checkbox 1
          li
            input#q442981_q10_1.sq-form-field(type='checkbox' name='q442981:q10[]' value='1')
            label(for='q442981_q10_1') Checkbox 2
          li
            input#q442981_q10_2.sq-form-field(type='checkbox' name='q442981:q10[]' value='2')
            label(for='q442981_q10_2') Checkbox 3   
        label(for="q442981:q10[]" class="error")  
          span.hide
            |Error message:   

      .gef-form-group
        label.sq-form-question-title(for="q442981_q3")
          | Comments 
          abbr.sq-form-required-field(title="required") *
        br
        textarea#q442981_q3.sq-form-field(name="q442981:q3" cols="50" rows="5" onkeyup="if (this.value.length > 300) { this.value = this.value.substr(0,300); alert('This field can contain no more than 300 characters.''); this.focus()}" onblur="if (this.value.length > 300) { this.value = this.value.substr(0,300); alert('This field can contain no more than 300 characters.'); this.focus()}" data-rule-validTextNoTags="true" data-msg-required="We value your feedback/comments. Please provide." data-rule-required="true")
      div
        input#form_email_442979_submit.uk-margin-top.uk-button.gef-button.gef-button-small(type="submit" name="form_email_442979_submit" value="Submit")
        p
