//--- *************** ---//
//--- IFRAME ---//
//--- *************** ---//

//- A responsive iframe.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | @param {string}  src - the source of the iframe content
  | +gef_iframe(src)


mixin usage
  pre
    code.language-jade
      +documentation

//--- OUTPUT ---//
//---------------------------------------------------------

mixin gef_iframe(src)

  .gef-iframe
    iframe(src=src)