//--- ****************** ---//
//--- IMAGE WITH CAPTION IN MATRIX WYSIWYG ---//
//--- ****************** ---//

//-  Image with caption component

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +gef_image_with_caption_matrix("http://placehold.it/300x150",300, 150)


mixin usage
  pre
    code.language-jade
      +documentation

//--- HTML ---//
//---------------------------------------------------------

mixin gef_image_with_caption_matrix(image_src,imgwidth, imgheight)
  p
    img(src=image_src alt="Placeholder Image with caption for matrix text editor" width=imgwidth height=imgheight)
  p.caption
    +lipsum(3, "sentences")