//--- ****************** ---//
//--- IMAGE WITH CAPTION ---//
//--- ****************** ---//

//-  Image with caption component

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @mixin Image - use this mixin for your image tag
  | mixin Image
  |   img(src="http://placehold.it/800x400" alt="Placeholder" title="Placeholder image")
  | +gef_image_with_caption


mixin usage
  pre
    code.language-jade
      +documentation

//--- HTML ---//
//---------------------------------------------------------

mixin gef_image_with_caption
  figure.gef-image-with-caption
    +Image
    figcaption
      +lipsum(2, "sentences")
