//--- *************** ---//
//--- LANDING HEADER ---//
//--- *************** ---//

//- Introductionary content used as headers of articles or landing pages.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +gef_landing_header

mixin usage
  pre
    code.language-jade
      +documentation


//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin gef_landing_header

  header.gef-landing-header

    h1
      +lipsum(2, "words")

    p.gef-landing-header__lead
      +lipsum(4, "sentences")
