//--- *************** ---//
//--- Lead Paragraph ---//
//--- *************** ---//

//- A paragraph that serves an introductory content. The text is slightly larger than standard content.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +gef_lead

mixin usage
  pre
    code.language-jade
      +documentation


//--- OUTPUT ---//
//---------------------------------------------------------

mixin gef_lead
  
  div.lead
    p
      +lipsum(5, "sentences")
