//--- *************** ---//
//--- link columns ---//
//--- *************** ---//

- var name = "link columns"

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin description
  p
    | Displays a set of links displayed into two columns with the content flowing in an "N" direction.

mixin usage
  h4 Using pug:
  pre
    code.lanaguage-pug
      | @param {int} num - number of links
      | @param {int} columns - number of columns (max 3)
      | @param {bool} condensed - variation for a more condensed list
      | @param {bool} subLink - variation that adds a second secondary link underneath the link
  pre
    code.language-pug
      | +gef_link_columns(12, 2)

mixin output
  +gef_link_columns(12)

//--- MIXIN ---//
//---------------------------------------------------------

mixin gef_link_columns(num, columns, condensed, subLink)

  div.gef-link-columns

    - var n  = 0
    - var classes = "gef-link-columns--" + columns + "col"

    if (condensed == true)
      - classes = classes + " gef-link-columns--condensed"



    ul(class="gef-link-list gef-link-columns__items " + classes)
      while n < num
        li
          a(href="http://education.nsw.gov.au")
            +lipsum(6, "words", true)
          | 
          if subLink == true
            br
            a.gef-link-list__sub-link(href="#")
              +lipsum(2, "words", true)
          
          
        -n++