//--- ************************ ---//
//--- PATTERN / COMPONENT NAME ---//
//--- ************************ ---//

//- A link tag that appears at the end of links.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {string} text - Link text
  | +gef_link_tag(text)

mixin usage
  pre
    code.language-jade
      +documentation

//--- MIXINS ---//
//---------------------------------------------------------

mixin gef_link_tag(text , icon)

  if icon == 'icon'
    span.link-tag-container

      span.link-tag
        i.link-tag-icon(aria-hidden="true")
        =text

  else
    span.link-tag-container
      span.link-tag= text






