//--- *************** ---//
//--- linkgroup LIST ---//
//--- *************** ---//

//- Creates up to 3 linkgroups displayed in a grid

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {int} num  - number of linkgroups to display. Valid inputs: 1, 2, 3, 4
  | //- @param {int} links - number of linkgroups items within a linkgroup to display.
  | +gef_linkgroup_list(num, links)

mixin usage
  pre
    code.language-jade
      +documentation

//--- OUTPUT ---//
//---------------------------------------------------------

mixin gef_linkgroup_list(num, links)

  ul.uk-grid.gef-linkgroup-list

    - var n = 0

    while n < num
      li
        +gef_linkgroup(links)
        -n++


