//--- *************** ---//
//--- LOGIN LINK ---//
//--- *************** ---//

//- A link to the SSO login page

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +gef_login_link

mixin usage
  pre
    code.language-jade
      +documentation

//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin gef_login_link

  div.gef-login-link
    i.uk-icon-lock(aria-hidden="true")
    p
      | Department Staff:&nbsp;
      a(href="#")
        | Log in to see more results

