//--- *************** ---//
//--- RIBBON    ---//
//--- *************** ---//

//- A thin box which displays a simple notice with a link.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {object} icon - Maintenance Icon image
  | +gef_maintenance_ribbon

mixin usage
  pre
    code.language-jade
      +documentation

//--- MIXINS ---//
//---------------------------------------------------------


//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin gef_maintenance_ribbon(icon)

  aside.gef-maintenance-ribbon(aria-label="maintanceRibbon")

      div.uk-container.uk-container-center

        div.uk-grid

          div.uk-width-1-1

            p.gef-maintenance-ribbon__message
              a(href="#")
                +lipsum(3, "words")
              +lipsum(10, "words")



