//--- *************** ---//
//--- MAIN NAVIGATION ---//
//--- *************** ---//

//- The retired navigation pattern. You can pass through the number of navigation items you would like displayed. The default number is 5 and the max number of items is 7.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | @param {string} active - if class is active
  | @param {int} items - number of list items
  | You can add a main navigation pattern to your template under the section header include.
  | +gef_navigation(5)

mixin usage
  pre
    code.language-jade
      +documentation

//--- MIXINS ---//
//---------------------------------------------------------

mixin nav_item(active)
  if active
    li(class="gef-nav__item uk-active")
      a.gef-nav__link(href="#"  tabindex="0")
        +lipsum(2, "words")
  else
    li.gef-nav__item
      a.gef-nav__link(href="#" tabindex="0")
        +lipsum(2, "words")

//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin gef_navigation(items)

    - var count = 0

    if (items)
      if (items > 7)
        - var number = 7
      else
        - var number = items
    else
        - var number = 5

    div.gef-nav-container

      div.uk-container.uk-container-center

        button.gef-nav__toggle.gef-nav__toggle-target.uk-navbar-toggle.uk-hidden-large(id="nav-button" aria-controls="main-nav" aria-label="menu")
          span Main Navigation

        nav.uk-navbar.gef-nav.gef-nav__toggle-target(id="main-nav" role="navigation" aria-hidden="false" aria-labelledby="nav-button")
          h2.show-on-sr
            | Site Navigation
          ul.gef-nav__list.uk-navbar-nav
            while count < number
              if (count == 2)
                +nav_item("active")
              else
                +nav_item
              - count++