//--- *************** ---//
//--- Newsletter Signup ---//
//--- *************** ---//

//- Newsletter signup form displayed in the sidebar

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +gef_newsletter_signup

mixin usage
  pre
    code.language-jade
      +documentation

//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin gef_newsletter_signup()
  div.uk-panel.uk-panel-box.uk-padding.uk-margin-large-bottom

    h2.uk-h5.uk-margin-bottom.black Join our newsletter

    p
      +lipsum(15, "words", true)

    form.uk-form.uk-form-stacked

      div.uk-form-row
        label.show-on-sr.uk-form-label(for="name") Given name
        input.uk-width-1-1(type="text", placeholder="Given name", id="name")

      div.uk-form-row
        label.show-on-sr.uk-form-label(for="surname") Surname
        input.uk-width-1-1(type="text", placeholder="Surname", id="surname")

      div.uk-form-row
        label.show-on-sr.uk-form-label(for="email") Email
        input.uk-width-1-1(type="text", placeholder="Email", id="email")

      button.uk-button.uk-margin-top(type="submit") Sign me up