//--- *************** ---//
//--- RIBBON    ---//
//--- *************** ---//

//- A thin box which displays important information in a show-hide format designed to inform the user.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {object} icon - Notice Icon image
  | +gef_notice_ribbon

mixin usage
  pre
    code.language-jade
      +documentation

//--- MIXINS ---//
//---------------------------------------------------------


//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin gef_notice_ribbon(icon)

  aside.gef-notice-ribbon(data-gef-notice-ribbon role="tablist" arialive="polite" aria-label="noticeRibbon")

    div(id="noticeRibbon-tab" role="tab" aria-controls="noticeRibbon-content" aria-expanded="false" aria-selected="false" tabindex="0")

      div.uk-container.uk-container-center

        div.uk-grid

          div.uk-width-1-1

            p.gef-notice-ribbon__title
              | Welcome to
              span.uk-hidden-small
                | &nbsp;education.gov.nsw.au
              +gef_link_tag("BETA")

            div.gef-notice-ribbon__icon


    div(id="noticeRibbon-content" role="tabpanel" aria-labelledby="noticeRibbon-tab" aria-hidden="true")

      div.uk-container.uk-container-center

        div.uk-grid

          div.uk-width-1-1.uk-width-large-3-4
            div
              p
                +lipsum(4, "sentences")

            a.gef-notice-ribbon__cta.uk-button.gef-button(href="#")
              +lipsum(3, "words")

            p.gef-notice-ribbon__additional.uk-visible-small
              +lipsum(2, "words")
              a(href="#")
                +lipsum(3, "words")


    p.gef-notice-ribbon__additional.uk-hidden-small
      +lipsum(2, "words")
      a(href="#")
        +lipsum(3, "words")
