//--- ************************ ---//
//--- PAGE META DATA ---//
//--- ************************ ---//

//- Page metadata: Date when this page was last reviewed and updated

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +gef_page_metadata

mixin usage
  pre
    code.language-jade
      +documentation

//--- MIXINS ---//
//---------------------------------------------------------
mixin page_metadata_content

  p
    strong Last updated:
    |  23 March 2017


//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin gef_page_metadata

  aside.gef-page-metadata(aria-label="pageMetadata")
    h2.show-on-sr
      | Article metadata
    +page_metadata_content