//--- *************** ---//
//--- PAGINATION ---//
//--- *************** ---//

//- A set of page links used for large amounts of content to be split into multiple pages.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | A set of page links used for large amounts of content to be split into multiple pages.
  | //- @param {int} position   - where to position the pagination
  | +gef_pagination(7, position)


mixin usage
  pre
    code.language-jade
      +documentation

//--- MIXINS ---//
//---------------------------------------------------------
mixin pagination_item(count, pageRef)
  if count == 3
    li.gef-pagination__disabled
      a( href="#" tabindex="0" aria-label="Current Page " + count role="link" )
        = count
  else
    li
      a(href="#" title="Page " + count aria-label="Page " + count)
        = count



//--- HTML OUTPUT ---//
//---------------------------------------------------------
mixin gef_pagination(max)

  - var num = 1

  ul.gef-pagination

    li.gef-pagination__disabled.gef-pagination__prev
      span
        span Previous
          span.show-on-sr Page

    while num < max + 1
      +pagination_item(num++)

    li.gef-pagination__more.gef-pagination__disabled
      span(href="#") ...

    li.gef-pagination__next
      a(href="#" title="Next page" aria-label="Next page")
        span Next
