//--- *************** ---//
//--- Partnership Footer ---//
//--- *************** ---//

//- A footer pattern with partner logo

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +gef_partnership_footer

mixin usage
  pre
    code.language-jade
      +documentation

//--- OUTPUT ---//
//---------------------------------------------------------

mixin gef_partnership_footer(num)

  h3
    +lipsum(3, "words", true)
  ul.gef-section-footer_variant__list

      - var n = 0

      while n < num
        li
          a(href="#")
            img(src="//placehold.it/120x60/", alt="")
            -n++       
  p
      +lipsum(3, "sentences")
