//--- ******** ---//
//--- PATTERN / COMPONENT NAME ---//
//--- ******** ---//

//- Description of this pattern/component goes here

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +gef_pattern_or_component_name

mixin usage
  pre
    code.language-jade
      +documentation


//--- MIXINS ---//
//---------------------------------------------------------

mixin link_example
  a(href="#")
    +lipsum(3, "words")

//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin gef_pattern_or_component_name
  +link_example


