//--- *************** ---//
//--- RADIO LIST ---//
//--- *************** ---//

//- A list of radio buttons designed to be part of a form

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0 | Updated: 1.1.0
  | //- @param {int} num     - adds a alternate class for a display variance
  | //- @param {string} ariaControls - adds an string (ID) to the attribute "aria-controls" if the radio buttons are being used to dynamically populate a region
  | +gef_radio_list(2, "searchResults")

mixin usage
  pre
    code.language-jade
      +documentation

//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin gef_radio_list(num, ariaControls)

  -counter = 0

  div.gef-radio-list
    fieldset
      legend.show-on-sr
        +lipsum(3, "words")

      while counter < num
        -id = Math.floor((Math.random() * 500) + 1)
        -radioID = "radioListID" + counter + id

        div.gef-radio-list__row
          if (counter==0)
            input(type="radio" id=radioID name="radioList" value=radioID checked aria-controls=ariaControls)
          else
            input(type="radio" id=radioID name="radioList" value=radioID aria-controls=ariaControls)
          label(for=radioID)
            +lipsum(6, "words")

        -counter++

