//--- *************** ---//
//--- RESULTS TABLE ---//
//--- *************** ---//

//- A results table.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {string} secure - First Parameter: If you want the 'secure' tag to appear use 'secure'. Otherwise 'noSecure'. This can't be empty.
  | //- @param {int} resultsTableNum - Second parameter: The number of results for a regular results table.
  | //- @param {int} searchResultsNum - Third parameter: Number of results for search results table. Leave empty if you don't want to display search results.
  | /- @param {boolean} showLetter - Fourth parameter: Show or hide letter heading. True / False
  | eg +gef_results_table('secure',1,10) This generates 10 search results with secure tags.
  | +gef_results_table(secure,resultsTableNum,searchResultsNum,showLetter)

mixin usage
  pre
    code.language-jade
      +documentation


//--- MIXINS ---//
//---------------------------------------------------------

mixin gef_results_cell_content1(secure,searchResultsNum,noReference)
  span
    span.show-on-sr
      | Header 1:
    a.gef-results-table__link-text(href="#")
      +lipsum(6, "words")
    if secure == 'secure'
      +gef_link_tag('STAFF ONLY' , 'icon')
    if noReference != 1
      span.gef-results-table__code-text
        | PD20080385
    if searchResultsNum < 2
    span(aria-hidden="false").gef-results-table__paragraph
      +lipsum(10, "words")

mixin gef_results_cell_content2(secure,noReference)
  span.gef-results-table__download-text
    span.show-on-sr
      | Header 1:
    a.gef-results-table__download-text(href="#")
      +lipsum(7, "words")
    if secure == 'secure'
      +gef_link_tag('STAFF ONLY' , 'icon')
    if noReference != 1
      span.gef-results-table__download-text--light
        | PD20080385

mixin gef_results_table_row_heading
 div.uk-grid.gef-results-table__heading
   div.gef-results-table-main-content
     | Heading 1
   div.uk-grid.gef-results-table-secondary-content
     div(aria-hidden="false")
       | Heading 2
     div(aria-hidden="false")
       | Heading 3
     div(aria-hidden="false")
       | Heading 4

mixin gef_alphabet(letter, showLetter)
 if showLetter == true
  div.gef-results-table__AtoZ
    if letter == "1"
      -var letterID = "one"
    else
       -var letterID = letter
    h3(id=letterID).letter= letter

mixin gef_row_type1(secure,searchResultsNum)
 -var count = 0
   while count < searchResultsNum
      div.uk-grid
            div.gef-results-table-main-content
              +gef_results_cell_content1(secure,searchResultsNum)
            div.uk-grid.gef-results-table-secondary-content
              div(aria-hidden="false")
                span
                  span.show-on-sr
                    | Header 2:
                  +lipsum(1, "words")
              div(aria-hidden="false")
                span
                  span.show-on-sr
                    | Header 3:
                  +lipsum(1, "words")
              div(aria-hidden="false")
                span
                  span.show-on-sr
                    | Header 4:
                  +lipsum(1, "words")
      -count++
mixin gef_row_type2(secure,noReference)
    li
      div.uk-grid
          div.gef-results-table-main-content
            +gef_results_cell_content2(secure,noReference)
          div.uk-grid.gef-results-table-secondary-content
            div(aria-hidden="false")
              span
                span.show-on-sr
                  | Header 2:
                +lipsum(1, "words")
            div(aria-hidden="false")
              span
                span.show-on-sr
                  | Header 3:
                +lipsum(1, "words")
            div(aria-hidden="false")
              span
                span.show-on-sr
                  | Header 4:
                +lipsum(1, "words")


//--- OUTPUT ---//
//---------------------------------------------------------

mixin gef_results_table(secure,resultsTableNum,searchResultsNum,showLetter)

 if resultsTableNum && !searchResultsNum
  -var count = 0

  //If you want to hide the reference number from some results
  -var noReference = 1

  each val in ["1","A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "k", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z"]
    -var currentLetter = val
    if count < resultsTableNum
      +gef_alphabet(currentLetter, showLetter)
      div.gef-results-table
        ol
          li
            +gef_results_table_row_heading
        ol
          li
            +gef_row_type1(secure,1)
            ul.gef-results-table-link-container
              +gef_row_type2(secure,noReference)
              +gef_row_type2(secure,noReference)
          li
            +gef_row_type1(secure,1)
            ul.gef-results-table-link-container
              +gef_row_type2(secure)
              +gef_row_type2(secure)

          li
            +gef_row_type1(secure,1)
            ul.gef-results-table-link-container
              +gef_row_type2(secure)
              +gef_row_type2(secure,noReference)
          li
            +gef_row_type1(secure,1)

      -count++
 if searchResultsNum
   div.gef-results-table
        ol
          li
            +gef_results_table_row_heading
        ol
          li.gef-results-table-search-results
            +gef_row_type1(secure,searchResultsNum)

