//--- *************** ---//
//--- SEARCH BOX ---//
//--- *************** ---//

//- A contained form which allows users to enter and submit keywords to global website searches.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0 | Updated: 1.1.0
  | //- @param {object} location - You can add a search box to your template with a standard or results variation.
  | //- @param {string} ariaControls - adds an string (ID) to the attribute "aria-controls" if the radio buttons are being used to dynamically populate a region
  | +gef_search_box('header', 'searchResults')

mixin usage
  pre
    code.language-jade
      +documentation


//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin gef_search_box(location, ariaControls)

  - var randId = Math.floor((Math.random() * 50) + 1)
  - var id = 'search-box'
  - var searchButtonClass = ''

  if location == 'header'
    - var additionalClass = ' gef-search__toggle-target'
    - var id = 'global-search'
    - var searchButtonClass = 'show-on-sr'
    - var buttonId = 'global-search-button'
  else
    - var additionalClass = ' gef-search--body'
    - var buttonId = "btnSearch" + randId

  form(id= id action="#" class="gef-search uk-form " + additionalClass aria-hidden="false" aria-labelledby=buttonId)

    if location != 'header'
      h1.gef-search__heading
        | Search results
        span
          +gef_link_tag('STAFF ONLY' , 'icon')

    fieldset

      legend.show-on-sr Global Search
      label(for="search")
        span.show-on-sr Enter your search
      input.uk-form-large(type="text" id="search" name="q" placeholder="Search" tabindex="0" maxlength="254")
      input(type="hidden" name="site" value="secure_ce_intranet")
      input(type="hidden" name="access" value="s")

      button(type="submit" id="btnSearch" + randId aria-label="Submit search" tabindex="0" aria-controls=ariaControls)
        span.show-on-sr Search
        i.uk-icon-search


    if location != 'header' 
      p.gef-search__spelling-suggestion Did you mean: 
        em 
          a(href="#") 
            +lipsum(2, "words")
