//--- *************** ---//
//--- SEARCH BOX ---//
//--- *************** ---//

//- A contained form which allows users to enter and submit keywords to global website searches.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {object} location - You can add a search box to your template with a standard or results variation.
  | //- @param {string} container classes - Optional Checkbox to search All of the Department can also be added as an advanced feature.
  | +gef_search_box_angular('header')

mixin usage
  pre
    code.language-jade
      +documentation


//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin gef_search_box_angular(location)

  - var randId = Math.floor((Math.random() * 50) + 1)
  - var id = 'searchForm'
  - var searchButtonClass = ''

  if location == 'header'
    - var additionalClass = ' gef-search__toggle-target'
    - var id = 'global-search'
    - var searchButtonClass = 'show-on-sr'
  else
    - var additionalClass = ' gef-search--body'

  form(id= id name="searchForm" class="gef-search uk-form " + additionalClass aria-hidden="false" aria-labelledby= id ng-controller="SearchFormCtrl" ng-submit="searchForm.$valid" novalidate)

      if location != 'header'
        h1.gef-search__heading
          | Search results
          span
            +gef_link_tag('STAFF ONLY' , 'icon')

      fieldset

        legend.show-on-sr Global Search
        label(for="search")
          span.show-on-sr Enter your search
        input.uk-form-large(type="text" id="search" name="q" placeholder="Search" tabindex="0" required ng-model="keyword" maxlength="254")
        input(type="hidden" name="site" value="secure_ce_intranet")
        input(type="hidden" name="access" value="s")

        button(type="submit" id="btnSearch" + randId aria-label="Submit search" tabindex="0" aria-controls=ariaControls  ng-click="newSearchTerm()")
          span.show-on-sr Search
          i.uk-icon-search

      p.gef-search__spelling-suggestion Did you mean: 
        em 
          a(href="#") 
            +lipsum(2, "words")
