//--- *************** ---//
//--- SEARCH RESULTS LISTINGS ---//
//--- *************** ---//

//- This page displays search results listings

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {int} number - number of page listings displayed
  | +gef_search_listings(1)

mixin usage
  pre
    code.language-jade
      +documentation

//--- MIXINS ---//
//---------------------------------------------------------

- var link = "www.example.def.res.au/lorem-ipsum-fermentum/non-lectus/gravida"

mixin sr_header_link
  h2.uk-h5.gef-search-results__itemheader
    a(href="#")
      +lipsum(4, "words")


mixin sr_url_text_url(num, classfiletype)
  - var fileext = ""
  if classfiletype
    - fileext = "." + classfiletype
  p.gef-search-results__url
    | #{link}#{fileext}

mixin sr_paragraph
  p
    +lipsum(7, "words")
    | #[strong Elit ]
    +lipsum(15, "words")
    | &hellip;

mixin sr_map_item
  div.gef-search-map
    div.gef-map-details
      h2.uk-h5.gef-search-results__itemheader
        a(href="//www.mosman-p.schools.nsw.edu.au")
          |Mosman Public School
      p.gef-search-results__url
        | www.mosman-p.schools.nsw.edu.au
      p
        | 27 Belmont Rd
        br
        | Mosman NSW 2088
      p
        | (02) 9999 9999
        br
        a(href="mailto:mosman-p.School@det.nsw.edu.au")|mosman-p.School@det.nsw.edu.au

    div.gef-map--static
      img.gef-map__img(src="//maps.googleapis.com/maps/api/staticmap?center=27+Belmont+Rd%2C+Mosman+NSW+2088&zoom=17&size=640x175&maptype=roadmap&markers=color:red%7C-33.82796,151.24121&key=AIzaSyBaDkytMPJViZBoLduwXbHyUHdXOdvTJB0" aria-label="Map of Mosman Public School" alt="Map of Mosman Public School")


mixin sr_item(num, classfiletype)
  - var classes = ""
  - var classesmap = ""
  - var fileTypeIcon = ""

  if classfiletype
    if classfiletype == "map"
      - classesmap = " gef-search-map"
    else if classfileType =="event"
    else
      - classes = "gef-icon-file-"+ classfiletype
      - fileTypeIcon = true

  li(class="gef-search-results__item")

    if classfiletype == "map"
      +sr_map_item

    else if classfiletype == "event"
      +gef_events(2, 1)
    else
      if fileTypeIcon
        span(class=classes aria-hidden="true")
        div.gef-fa-aligntext
          +sr_header_link
          +sr_paragraph
          +sr_url_text_url(num, classfiletype)
      else
          +sr_header_link
          +sr_paragraph
          +sr_url_text_url(num, classfiletype)

//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin gef_search_listings(number, classfiletype)

  div.gef-search-results.uk-margin-large-top

    p.gef-search-results__info
      | Showing 1 - 10 of 6789 results.

    - var count = 1

    ol.gef-search-results__list
      while count < number + 1
        +sr_item(count++, classfiletype)