//--- *************** ---//
//--- SECTION FOOTER ---//
//--- *************** ---//

//- A section of a page that is located normally located at the bottom of a page between the primary content area and the global footer. Use this section to group "local site/application" footer content.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {string} channels      - comma delimeted list of social media channels.
  | //- Available channels: "Yammer, Twitter, Facebook, YouTube, Instagram, Google Plus"
  | //- @param {bool} show_link_list  - choose to display the link list
  | +gef_section_footer(channels, show_link_list)


mixin usage
  pre
    code.language-jade
      +documentation

//--- OUTPUT ---//
//---------------------------------------------------------


mixin gef_section_footer(channels, show_link_list)

  div.gef-section-footer

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse
        div.uk-width-1-1.uk-width-large-1-1
          h3
            | #{siteName}

          +gef_social_media(channels)

        if show_link_list
            div.uk-width-1-1.uk-width-large-1-1
              ul.gef-section-footer__list
                li
                  a(href="#")
                    +lipsum(1, "words")
                li
                  a(href="#")
                    +lipsum(2, "words")
                li
                  a(href="#")
                    +lipsum(4, "words")
                li
                  a(href="#")
                    +lipsum(3, "words")

                li
                  a(href="#")
                    +lipsum(2, "words")


