//--- *************** ---//
//--- SECTION HEADER ---//
//--- *************** ---//

//- The website specific header which contains the website logo and an optional search toggle for mobile.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | You can add the section header pattern underneath the global header include. You can use a flag for adding the search toggle button
  | +gef_section_header('Name', 'Search', secure)

mixin usage
  pre
    code.language-jade
      +documentation


//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin gef_section_header(heading, search, secure)

  div(role="banner" class="gef-section-header")

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse.uk-width-1-1

        div.uk-width-9-10

          h1.gef-section-header__logo

            a(href='#')= heading

            if secure   
              +gef_link_tag('STAFF ONLY' , 'icon') 
          

        div.uk-width-1-10

          if (search)

            button.gef-search__toggle.gef-search__toggle-target.uk-hidden-large(id="global-search-button" aria-label="Global search" aria-controls="global-search")
              span.show-on-sr Global Search
