//--- ************************ ---//
//--- SELECT ---//
//--- ************************ ---//

//- Select form element

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {string} label - label for select tag
  | //- @param {int} items - is the number of select options
  | +gef_select("Select element", 7)

mixin usage
  pre
    code.language-jade
      +documentation

//--- MIXINS ---//
//---------------------------------------------------------
mixin option(num)
  - var childOpt = Math.floor(Math.random() * 9) % 2
  option(value=num)
    +lipsum(2, "words")

//--- OUTPUT ---//
//---------------------------------------------------------
mixin gef_select(label, items, automate, mobileOnly)
  - var id = Math.floor((Math.random() * 500) + 1)
  - var num = 0

  if mobileOnly
    - var Sclass = "uk-hidden-large"
  else
    - var Sclass = ""

  label(for=id class=Sclass)
    =label

  if automate
    select(id=id name=id class=Sclass data-gef-auto-submit)
      while num < items
        +option(num++)
  else
    select(id=id name=id class=Sclass)
      while num < items
        +option(num++)

