//--- ************************ ---//
//--- SHOW/HIDE ---//
//--- ************************ ---//

//- A way to minimise the display of content on a page using a toggle to show and hide

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {boolean} collapse - Choose whether to collapse and show first item on init
  | //- @param {int} max - Choose the maximum amount of accordions to be displayed
  | +gef_accordion(collapse, max)

mixin usage
  pre
    code.language-jade
      +documentation

//--- MIXINS ---//
//---------------------------------------------------------

mixin show_hide(num)
  - var id = Math.floor((Math.random() * 500) + 1)
  h3.uk-accordion-title(id="at" + id aria-controls="ac" + id aria-expanded="false" aria-selected="false" role="tab" tabindex="0")
    span
      +lipsum(3, "words")
      i
      i.vertical(aria-hidden="true")
  .uk-accordion-content
    p
      +lipsum(10, "sentences")

//--- OUTPUT ---//
//---------------------------------------------------------

mixin gef_show_hide(collapse, max)
  div.gef-show-hide.uk-accordion(data-uk-accordion="{collapse:" + collapse + ", showfirst:" + collapse + "}" role="tablist")
    - var num = 0
    while num < max
      +show_hide
      - num++