//--- *************** ---//
//--- Sidebar Content ---//
//--- *************** ---//

//- Sidebar content panel

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | mixin sidebar_content
  |  p
  |   +lipsum(1, "paragraphs", true)
  | +gef_sidebar_content

mixin usage
  pre
    code.language-jade
      +documentation


//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin gef_sidebar_content()
  div.uk-panel.uk-panel-box.uk-padding.uk-margin-large-bottom

    h2.uk-h5.uk-margin-bottom.black

      +lipsum(2, "words", true)

    +sidebar_content