//--- *************** ---//
//--- SIDE NAVIGATION ---//
//--- *************** ---//

//- A navigation used to display sibling and children pages of the current page. Usually displayed on the right or left of page next to the main content.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +gef_side_navigation

mixin usage
  pre
    code.language-jade
      +documentation


//--- MIXINS ---//
//---------------------------------------------------------


mixin sn_link
  a(href="#")
    +lipsum(3, "words")

mixin sn_link_two_lines
  a(href="#")
    +lipsum(7, "words")

mixin sn_parent_link
  a(href="#")
    +lipsum(3, "words")

mixin sn_parent_link_two_lines
  a(href="#")
    +lipsum(7, "words")

mixin sn_up_link
  a(href="#")
    +lipsum(3, "words")
    i.uk-icon-chevron-left

mixin sn_parent_link_current
  a(href="#")
    +lipsum(3, "words")

mixin sn_item
  li
    +sn_link

mixin sn_item_two_lines
  li
    +sn_link_two_lines

mixin sn_parent_item
  li.uk-parent
    +sn_parent_link

mixin sn_parent_item_two_lines
  li.uk-parent
    +sn_parent_link_two_lines

mixin sn_up_item
  li.uk-parent.gef-side-navigation-upper
    +sn_up_link

mixin sn_item_with_sublist
  li.uk-parent.uk-active
    +sn_link
    ul.uk-nav-sub
      li.uk-active
        +sn_link
      +sn_item
      +sn_item
      +sn_item_two_lines

mixin sn_item_with_sublist_with_sublist
  li.uk-parent.uk-actived
    +sn_parent_link_current
    ul.uk-nav-sub
      +sn_item
      +sn_item_with_sublist
      +sn_item

//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin gef_side_navigation
  nav
    h3.show-on-sr
      | Section navigation

    ul.gef-side-navigation.uk-nav
      +sn_up_item
      +sn_item_with_sublist
      +sn_parent_item
      +sn_parent_item
      +sn_parent_item_two_lines
      +sn_parent_item
