//--- *************** ---//
//--- SOCIAL MEDIA FEED---//
//--- *************** ---//

//- Social media feed icons and text

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | Social Media post. Social Media Service options include Twitter, Facebook, YouTube, , Vimeo, Filmpond
  | //- @param {object} post - A javascript object with the following
  | //- @param {string} post.service - Social media service name e.g. youtube, vimeo, facebook, twitter, filmpond
  | //- @param {string} post.user.username - Username of the social media account e.g. @NSWEducation. Optional
  | //- @param {string} post.user.name - The screen name of the social media account e.g. NSW Department of Education
  | //- @param {string} post.user.avatar - Absolute URL of avatar image
  | //- @param {string} post.user.url - Absolute URL to accounts's profile/page
  | //- @param {string} post.published - The date/time the post was published. Strick date/time format not specified
  | //- @param {string} post.content.photo - Absoltue URL to image considered the "content" of the post
  | //- @param {string} post.content.text - The actual post text content. Varies grealty depending on social media service
  | //- @param {string} post.url - Absolute URL/permalink to the post
  | //- @param {string} post.id - Post ID
  | +gef_social_media_post(post, minimalist)

mixin usage
  pre
    code.language-jade
      +documentation

//--- MIXINS ---//
//---------------------------------------------------------


mixin gef_post_header(service, name, username, url)

  if name
    div.gef-social-media-post__metadata
      div.gef-social-media-post__avatar
          img(src="http://via.placeholder.com/50x50" alt="")
      div.gef-social-media-post__metadata-content
        p.gef-social-media-post__name
          | #{name}
        if username
          p.gef-social-media-post__metadatum #{username}
      a(href=url class="gef-social-media-post__link gef-remove-external-link" aria-label=name + " profile on " + service)
        i(class="gef-social-media-post__icon  uk-icon-"+service aria-hidden="true" )
        

mixin gef_media(service, photo, video)
  section.gef-social-media-post__media

    if (service == "youtube" || service == "vimeo")
        iframe(src=video + "?rel=0" allowfullscreen)
    else
      img(src=photo alt="")


//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin gef_social_media_post(post, minimalist)
  -var typeChannel = String(channels).toLowerCase()
  -var userUrl = post.user.url
  -var feedUrl = post.url
  -var postName = post.service
  if (postName == "youtube")
      -postName = "YouTube"

  article(class=minimalist ? 'gef-social-media-post--minimalist' : "gef-social-media-post")

    if (minimalist != true)
      +gef_post_header(post.service, post.user.name, post.user.username, post.user.url)

    //- If YouTube or Vimeo video then the thumbnail should appear above text content
    if (post.service == "youtube" || post.service == "vimeo")
      +gef_media(post.service, post.content.photo, post.content.video)

    //- The post's text content
    if (post.content.text == true)
      section.gef-social-media-post__content
        p
          +lipsum(12, "words")
          //- In implmentation the content may be concatenated down to a specified number of characters with trailing ellipsis and "show more" link
          if (post.content.seemore == true)
            | &hellip;&nbsp;
            span(class="show-on-sr")|post truncated
             

    //- If the post (e.g. Tweet or Facebook post) contains an accompanying photo render it under the post's text content
    if (post.content.photo)
      +gef_media(post.service, post.content.photo)


    div.gef-social-media-post__metadata
      if (minimalist == true)
        p.gef-social-media-post__metadatum 
          span.show-on-sr posted
          |#{post.published}
        a(href=post.user.url class="gef-social-media-post__link gef-remove-external-link" aria-label="View " + post.user.name + " profile on " + post.service)
          i(class="gef-social-media-post__icon uk-icon-"+post.service aria-hidden="true")
      else
        p.gef-social-media-post__metadatum 
          span.show-on-sr posted
          |#{post.published}

    div.gef-social-media-post__metadata
      p.gef-social-media-post__metadata-viewfeed
        a(href=feedUrl)
          | View post on #{' '}
          span #{postName}




