//--- *************** ---//
//--- SOCIAL MEDIA ---//
//--- *************** ---//

//- Social media icons

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | Social Media links. Options include Yammer Feed, Twitter, Facebook, YouTube, Instagram and Google Plus
  | +gef_social_media('Yammer, Twitter, Facebook, YouTube, Instagram, Google Plus')

mixin usage
  pre
    code.language-jade
      +documentation

//--- MIXINS ---//
//---------------------------------------------------------

mixin social_link(type, escaped,caption)
  li
    a(href="#" title="Follow us on " + type class="gef-social-media__link uk-icon-" + escaped)
      span.gef-social-media-text= caption

mixin social_include(channels, type, display)
  -var channel_match = String(channels).toLowerCase()
  -var media_type = type.replace(/\n/g, '-').toLowerCase()
  -var display_type = String(display)                          // .toUpperCase() Removed by Deepesh on 3-10-2018 GXF-2626
  if channel_match.indexOf(media_type) > -1
      +social_link(type, media_type,display_type)


//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin gef_social_media(channels)
  nav.gef-social-media
    h3.show-on-sr
      | Social media links
    ul.social_links
      +social_include(channels, 'Twitter','Twitter')    
      +social_include(channels, 'Facebook','Facebook')
      +social_include(channels, 'Instagram','Instagram')
      +social_include(channels, 'linkedin','linkedin')
      +social_include(channels, 'Google-Plus','Google+')
      +social_include(channels, 'YouTube-Play','YouTube')
      +social_include(channels, 'Yammer','Yammer')
    

