//--- *************** ---//
//--- Table of contents ---//
//--- *************** ---//

//- A container of a maximum of 8 internal page links.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {int} num  - number of links to display.
  | //- @param {boolean} border - adds a faint border to top the top
  | +gef_toc(num, border)

mixin usage
  pre
    code.language-jade
      +documentation


//--- MIXINS ---//
//---------------------------------------------------------
mixin toc_item
  li.gef-toc_item
    a(href="#")
      i.uk-icon-chevron-right(aria-hidden="true")
      +lipsum(3, "words")


//--- OUTPUT ---//
//---------------------------------------------------------
mixin gef_toc(num, border)

  if num > 8
    - var amount = 8
  else
    - var amount = num

  - var counter = 0

  if border
    - var classes = "gef-toc top-border"
  else
    - var classes = "gef-toc"

  ul(class=classes)
    while counter < amount
      +toc_item
      -counter++

