//--- ************************ ---//
//--- TABS ---//
//--- ************************ ---//

//- A way to minimise the display of content on a page using a tabbed layout

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {int} num - Choose the maximum amount of tabs to be displayed
  | +gef_tabs(num)

mixin usage
  pre
    code.language-jade
      +documentation


//--- MIXINS ---//
//---------------------------------------------------------

mixin tab_button_content

  +lipsum(2, "words")

mixin tab_content_content

  p
    +lipsum(7, "sentences")
  p
    a(href="https://cms.uat.det.nsw.edu.au/lmbr/existing-schools/2016-bulletins/Bulletin-25-21-March-2016.pdf", target="_blank")
      | PDF Example for Analytics
    |, #{' '}
    a(href="http://www.decprocurementnsw.com.au/wp-content/uploads/Register-New-Supplier-Account.mp4", target="_blank")
      | MP4 Example for Analytics


mixin tab_content_longcontent

  p
    | In the recent ebs4 update, changes were made to the naming conventions of the ebs4 products. ebs4: Client (Student Administration) is now known as ebs: central and ebs4: Agent (Student Management) is now known as ebs: ontrack+.
  p
    | Please note in the following presentations reference is made to the original product name, the processes remain the same however some screen shots have altererd. We are currently updating this material and new Adobe presentations will be available shortly.
  table(style='width: 100%;')
    thead
      tr
        th Recorded Adobe Connect Links
        th Duration
    tbody
      tr
        td
          a(href='https://connect.schools.nsw.edu.au/p1k08fkweai/', target='_blank')
            | Overview of Release 4.24
            span.gef-external-link
        td 9:25 min
      tr
        td
          a(title='How to access Agent using your iPhone or Smart Phone', href='https://connect.schools.nsw.edu.au/p6czkhvoi0r', target='_blank')
            | How to access Ontrack+ (Agent) using your iPhone or Smart Phone
            span.gef-external-link
        td 8:57 min
      tr
        td
          a(title='Enrol new students into ebs4 curriculum', href='https://connect.schools.nsw.edu.au/p66lvdj5gr8', target='_blank')
            | Managing new students in ebs:central (ebs4)
            span.gef-external-link
        td 19:54 min
      tr
        td
          a(title='Review and amend class lists', href='https://connect.schools.nsw.edu.au/p8iyz2e6g0c', target='_blank')
            | Managing student roll class enrolment
            span.gef-external-link
        td 11:44 min
      tr
        td
          a(title='ebs4 Fee Structure Setup - What will work best for your school', href='https://connect.schools.nsw.edu.au/p7hebd65oqo', target='_blank')
            | Fee Structure Setup - What will work best for your school
            span.gef-external-link
        td 19:52 min
      tr
        td
          a(title='Best Practice Banking in ebs4', href='https://connect.schools.nsw.edu.au/p7h1jyvgpyz', target='_blank')
            | Best Practice Banking in ebs: central (ebs4)
            span.gef-external-link
        td  31:22 min
      tr
        td
          a(title='ebs4 Tips and Hints', href='https://connect.schools.nsw.edu.au/p7dhy12ytvl', target='_blank')
            | Tips and Hints in ebs: central (ebs4)
            span.gef-external-link
        td  51:58 min
      tr
        td
          a(title='Student Wellbeing-managing Health, Orders, documents', href='https://connect.schools.nsw.edu.au/p1vckyx1i85')
            | Student Wellbeing-managing Health, Orders, documents
            span.gef-external-link
        td 34:33 min
      tr
        td
          p
            a(title='Importing Attendance Data from a Third Party System to ebs4', href='https://connect.schools.nsw.edu.au/p87zdvbfeve', target='_blank')
              | Importing Attendance Data from a Third Party System to ebs: central (ebs4)
              span.gef-external-link
        td  32:28 min
      tr
        td
          a(title='SBSR - Reporting PLAN and SALM', href='https://connect.schools.nsw.edu.au/p58827nwaxv')
            | SBSR - Reporting PLAN and SALM
            span.gef-external-link
        td 34:26 min
      tr
        td
          a(href='https://connect.schools.nsw.edu.au/p4gxgxzrltb/', target='_blank')
            | Cash Desk: Best Practice Unmatch & Rematch Fees, Cancel Receipts and Refunds
            span.gef-external-link
        td 16:06 min
      tr
        td
          a(href='https://connect.schools.nsw.edu.au/p86x3qv65vs/', target='_blank')
            | Mid term/year Enrolment in to Roll Call UI
            span.gef-external-link
        td 16:26 min
      tr
        td
          a(href='https://connect.schools.nsw.edu.au/p3yhwh2ch6d/', target='_blank')
            | Cash Desk: Best Practice for banking processes to minimise red dots
            span.gef-external-link
        td 29:36 min



mixin tabgroup(max, audiences)
  - var num = 0

  while num < max
    //- var id = TabNum + "_" + (num + 1)
    - var id = "tabs" + Math.floor((Math.random() * 500) + 1)

    li.gef-tabs__group.js-tablist__item(role="presentation")

      if num == 0
        a.js-tablist__link(id="label_" + id, href="#" + id, tabindex="0", aria-selected="true", data-selected="1", data-audience=(audiences? audiences[num] : ""))
          +tab_button_content
        div.js-tabcontent(id=id, role="tabpanel", aria-hidden="false", aria-label="tabpanel")
          +tab_content_content

      else

        a.js-tablist__link(id="label_" + id, href="#" + id, data-audience=(audiences? audiences[num] : ""))
          +tab_button_content

        div.js-tabcontent(id=id, role="tabpanel", aria-label="tabpanel")
          if num == 1
            +tab_content_longcontent

          else
            +tab_content_content

    -num++



//--- OUTPUT ---//
//---------------------------------------------------------

mixin gef_tabs(max, audiences)

  div.gef-tabs.js-tabs(data-gef-tabs)
    ul.js-tablist(data-hx="h2")
      +tabgroup(max, audiences)

