//--- *************** ---//
//--- TAG LIST ---//
//--- *************** ---//

//- An list of links inline links

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {int} num  - the number of links to display
  | +tag_list(5)

mixin usage
  pre
    code.language-jade
      +documentation

//--- LIST ITEMS ---//
//---------------------------------------------------------

mixin item_link

  li
    a(href="#").gef-smaller-text
      +lipsum(1, "words")

//--- OUTPUT ---//
//---------------------------------------------------------

mixin gef_tag_list(num)

  div.gef-tag-list

    p.gef-tag-list__title.gef-smaller-text
      | Tags:

    ul.gef-tag-list__list

      -var count = 0

      while count < num
        +item_link
        -count++



