//--- *************** ---//
//--- TEASER LIST ---//
//--- *************** ---//

//- A container that lists maximum of 3 teasers and minimum of 1

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {int} num  - number of teasers to display. Valid inputs: 1, 2, 3, 4
  | +gef_teaser_list(num)

mixin usage
  pre
    code.language-jade
      +documentation

//--- MIXINX ---//
//---------------------------------------------------------

mixin gef_teaser_list(num)

  ul.uk-grid.gef-teaser-list

    - var n = 0

    while n < num
      li
        +gef_teaser
        -n++