//--- *************** ---//
//--- TILE LIST---//
//--- *************** ---//

//- A container with pre set number of thumbnails and links displayed horizontally. This pattern has a maximum of 8 tiles which are displayed in either three or four tiles in a row, depending on how many tiles are required.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {integer} number       - number of thumbnail
  | //- @param {boolean} padded       - adds padding to the content of the tile
  | //- @param {object} image_size    - thumbnail width and height
  | +gef_tile_list(3, {width: 300, height: 200})

mixin usage
  pre
    code.language-jade
      +documentation

//--- MIXINS ---//
//---------------------------------------------------------

mixin gef_tile_build(image_size)
  li.gef-tile-list_item
    +gef_tile(image_size)



//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin gef_tile_list(number, image_size)

  if number > 8
    - var amount = 8
  else
    - var amount = number

  - var counter = 0

  ul(class="uk-grid uk-small-grid gef-tile-list gef-tile-list--" + amount)

    while counter < amount
      +gef_tile_build(image_size)
      -counter++

