//--- INCLUDES
//---------------------------------------------------------

include ../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Full Width Components"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../pug/components/_global-head.pug

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="home">
  <!--[endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 home">
  <!--[endif]-->

  +gef_skiplink

  +global_header(false, true)

  header

    +gef_section_header(siteName, 'On')

  +gef_search_box('header')

  span#content(tabindex="-1")

  main.gef-main

    //- ANCHORS -//

    div.uk-container.uk-container-center

      div.uk-grid

        div.uk-width-large-10-10.uk-container-center

          h1.gef-main_header.uk-margin-large-bottom
            | Full Width Components

          ul
            li
              a(href="#banner")
                | Content Banner
            li
              a(href="#breadcrumbs")
                | Breadcrumbs (enhanced)
            li
              a(href="#teasers")
                | Teasers
            li
              a(href="#linkGroup")
                | Link Group
            li
              a(href="#linkColumns")
                | Link Columns
            li
              a(href="#expandedNav")
                | Expanded Nav
            li
              a(href="#azAnchors")
                | A-Z Anchors
            li
              a(href="#azList")
                | A-Z List
            li
              a(href="#landingHeader")
                | Landing Header
            li
              a(href="#tableOfContents")
                | Table of Contents
            li
              a(href="#resultsTable")
                | Results Table
            li
              a(href="#contentContainer")
                | Content Container
            li
              a(href="#catalogue")
                | Catalogue
            li
              a(href="#events")
                | Events
            li
              a(href="#socialmediapost")
                | Social Media Post
            li
              a(href="#drawer")
                | Drawer
            li
              a(href="#noticeRibbon")
                | Notice Ribbon
            li
              a(href="#eduBanner")
                | Education Banner

    //- BANNERS -//

    div#banner.spacer

    hr

    div.uk-container.uk-container-center

      div.uk-grid

        h2.force-margin-bottom
          | Banners

    div#banner_auto

      +gef_banner("https://placehold.it/1350x520?text=LARGE+BANNER+(1350x520)")

      div.uk-container.uk-container-center

        div.uk-block.uk-block-default.uk-margin-large-bottom.gef-block

          div.uk-container

            h2.uk-h2.gef-block__header Positioning of container underneath banner

      div.spacer

      +gef_banner("https://placehold.it/1350x277?text=SMALL+BANNER+(1350x277)", true)

      div.uk-container.uk-container-center

        div.uk-block.uk-block-default.uk-margin-large-bottom.gef-block

          div.uk-container

            h2.uk-h2.gef-block__header Positioning of container underneath small banner


    //- BREADCRUMBS (enhanced) -//

    div#breadcrumbs.spacer

    a.gef-smaller-text.gef-right.light.uk-margin-right(href="#")
     | back to top

    hr

    div.uk-container.uk-container-center

      h2
        | Breadcrumbs (enhanced)

      div#breadcrumbs_auto

        +gef_breadcrumbs(7, true)


    //- TEASERS -//

    div#teasers.spacer

    a.gef-smaller-text.gef-right.light.uk-margin-right(href="#")
     | back to top

    hr

    div.uk-container.uk-container-center

      div.uk-grid

        article.uk-width-large-1-1.uk-container-center

          h2.force-margin-bottom
            | Teasers

          div#teasers_auto

            section

              div.uk-block.uk-block-default.uk-margin-large-bottom.gef-block

                div.uk-container

                  +gef_teaser_list(1)

            section

              div.uk-block.uk-block-default.uk-margin-large-bottom.gef-block

                div.uk-container

                  +gef_teaser_list(2)

            section

              div.uk-block.uk-block-default.uk-margin-large-bottom.gef-block

                div.uk-container

                  +gef_teaser_list(3)



    //- LINK GROUP -//

    div#linkGroup.spacer

    a.gef-smaller-text.gef-right.light.uk-margin-right(href="#")
     | back to top

    hr

    article.uk-container.uk-container-center

      h2.force-margin-bottom
        | Link Group

      div#linkGroup_auto

        section

          div.uk-block.uk-block-default.uk-margin-large-bottom.gef-block

            div.uk-container

              h2.uk-h2.gef-block__header
                +lipsum(3, "words")

              +gef_linkgroup_list(2,4)

        section

          div.uk-block.uk-block-default.uk-margin-large-bottom.gef-block

            div.uk-container

              h2.uk-h2.gef-block__header
                +lipsum(3, "words")

              +gef_linkgroup_list(3,4)

        section

          div.uk-block.uk-block-default.uk-margin-large-bottom.gef-block

            div.uk-container

              h2.uk-h2.gef-block__header
                +lipsum(3, "words")

              +gef_linkgroup_list(4,4)


    //- LINK COLUMNS -//

    div#linkColumns.spacer

    a.gef-smaller-text.gef-right.light.uk-margin-right(href="#")
     | back to top

    hr

    article.uk-container.uk-container-center
      section
        div.uk-block.uk-block-default.uk-margin-large-bottom.gef-block
          div.uk-container

            h2.uk-h2.gef-block__header.uk-margin-bottom
              | Recently viewed pages

            div#gef-user-history



    a.gef-smaller-text.gef-right.light.uk-margin-right(href="#")
     | back to top

    hr

    article.uk-container.uk-container-center

      h2.force-margin-bottom
        | Link Columns

      div#linkColumns_auto

        section

          div.uk-block.uk-block-default.uk-margin-large-bottom.gef-block

            div.uk-container

              h2.uk-h2.gef-block__header.uk-margin-bottom
                | Two column example

              +gef_link_columns(12, 2)

              h2.uk-h2.gef-block__header.uk-margin-bottom
                | Two column with sub links example

              +gef_link_columns(12, 2, false, true)

              h2.uk-h2.gef-block__header.uk-margin-bottom
                | Three col / Condensed example

              +gef_link_columns(12, 3, true)


    //- EXPANDED NAV -//

    div#expandedNav.spacer

    a.gef-smaller-text.gef-right.light.uk-margin-right(href="#")
     | back to top

    hr

    article.uk-container.uk-container-center

      h2.force-margin-bottom
        | Expanded Nav

      div#expandedNav_auto

        section

          div.uk-block.uk-block-default.uk-margin-large-bottom.gef-block

            div.uk-container

              h2.uk-h2.gef-block__header
                | Expanded Nav default

              +gef_expanded_nav(5)

        section

          div.uk-block.uk-block-default.uk-margin-large-bottom.gef-block

            div.uk-container

              h2.uk-h2.gef-block__header
                | Expanded Nav with description hidden on mobile

              +gef_expanded_nav(11, {hide_mobile_description: true})

    //- A-Z ANCHORS -//

    div#azAnchors.spacer

    a.gef-smaller-text.gef-right.light.uk-margin-right(href="#")
     | back to top

    hr

    article.uk-container.uk-container-center

      h2.force-margin-bottom
        | A-Z Anchors

      div#azAnchors_auto

        div.uk-block.uk-block-default.uk-margin-large-bottom.gef-block

          div.uk-container

            div.uk-grid

              div.uk-width

                +gef_a_z_anchors(false, false)

    //- A-Z LIST -//

    div#azList

    a.gef-smaller-text.gef-right.light.uk-margin-right(href="#")
     | back to top

    hr

    article.uk-container.uk-container-center

      h2.force-margin-bottom
        | A-Z List

      div#azList_auto

        h3.force-margin-bottom
          | Default

        div.uk-block.uk-block-default.uk-margin-large-bottom.gef-block

          div.uk-container

            div.uk-grid

              div.uk-width

                +gef_a_z_list(2,false,false)

        h3.force-margin-bottom
          | With Description

        div.uk-block.uk-block-default.uk-margin-large-bottom.gef-block

          div.uk-container

            div.uk-grid

              div.uk-width

                +gef_a_z_list(2,true,false)

        h3.force-margin-bottom
          | With Data

        div.uk-block.uk-block-default.uk-margin-large-bottom.gef-block

          div.uk-container

            div.uk-grid

              div.uk-width

                +gef_a_z_list(2,false,true)


    //- SECTION HEADER -//

    div#landingHeader.spacer

    a.gef-smaller-text.gef-right.light.uk-margin-right(href="#")
     | back to top

    hr

    article.uk-container.uk-container-center

      h2.force-margin-bottom
        | Landing header

      div#landingHeader_auto

        div.uk-block.uk-block-default.uk-margin-large-bottom.gef-block

          div.uk-container

            +gef_landing_header



    //- TABLE OF CONTENTS -//

    div#tableOfContents.spacer

    a.gef-smaller-text.gef-right.light.uk-margin-right(href="#")
     | back to top

    hr

    article.uk-container.uk-container-center

      h2.force-margin-bottom
        | Table of contents

      div#tableOfContents_auto

        div.uk-block.uk-block-default.uk-margin-large-bottom.gef-block

          div.uk-container

            +gef_toc(7, true)

        h3.force-margin-bottom
          | Table of contents (no border)

        div.uk-block.uk-block-default.uk-margin-large-bottom.gef-block

          div.uk-container

            +gef_toc(7)

    //- RESULTS TABLE CONTAINER -//

    div#resultsTable.spacer

    a.gef-smaller-text.gef-right.light.uk-margin-right(href="#")
     | back to top

    hr

    article.uk-container.uk-container-center

      h2.force-margin-bottom
        | Results Table

      div#resultsTable_auto

        div.uk-block.uk-block-default.uk-margin-large-top.gef-block

          div.uk-container

            +gef_results_table("noSecure", 3 , 0 , true)

        div.uk-block.uk-block-default.uk-margin-large-top.gef-block

          div.uk-container
            +gef_results_table("noSecure", 0 , 5)

        div.uk-block.uk-block-default.uk-margin-large-top.gef-block

          div.uk-container

            +gef_results_table("secure", 1 , 0 , true)



    //- CONTENT CONTAINER -//

    div#contentContainer.spacer

    a.gef-smaller-text.gef-right.light.uk-margin-right(href="#")
     | back to top

    hr

    article.uk-container.uk-container-center

      h2.force-margin-bottom
        | Content Container

      div#contentContainer_auto

        div.uk-block.uk-block-default.uk-margin-large-top.gef-block

          div.uk-container

            h2.uk-h3
              +lipsum(1, "sentences")

            p
              +lipsum(4, "sentences")

            p
              +lipsum(4, "sentences")

            mixin list_item(num)
              - var index = 0

              while index < num

                li
                  +lipsum(2, "sentences")

                - index++

            ul
              +list_item(3)



    //- CATALOGUE -//

    div#catalogue.spacer

    a.gef-smaller-text.gef-right.light.uk-margin-right(href="#")
     | back to top

    hr

    article.uk-container.uk-container-center

      h2.force-margin-bottom
        | Catalogue

      div#catalogue_auto

        div.uk-block.uk-block-default.uk-margin-large-bottom.gef-block

          div.uk-container.uk-container-center

            +gef_catalogue(5, true)

          div.spacer

    //- Events -//

    div#events.spacer

    a.gef-smaller-text.gef-right.light.uk-margin-right(href="#")
     | back to top

    hr

    article.uk-container.uk-container-center

      h2.force-margin-bottom
        | Events

      div#events

        div.uk-block.uk-block-default.uk-margin-large-bottom.gef-block

          div.uk-container.uk-container-center

            h2.force-margin-bottom
              |Events
            h3
              |Events - Full Width
            div#eventfull
              +gef_events(7,1)
            h3
              |Events - 66% Width
            div#eventsixtysix
              +gef_events(7,2)
            h3
              |Events - 33% width
            div#eventthirtythree
              +gef_events(7,3)

          div.spacer






      //- SOCIAL MEDIA post -//

    div#socialmediapost.spacer

    a.gef-smaller-text.gef-right.light.uk-margin-right(href="#")
     | back to top

    hr

    article.uk-container.uk-container-center

      h2.force-margin-bottom
        | Social media post

      div#smf_auto

        div.uk-block.uk-block-default.uk-margin-large-bottom.gef-block

          div.uk-container.uk-container-center

            ul.gef-flex-grid.gef-flex-grid--columns.gef-flex-grid--columns-4
              li
                +gef_social_media_post({
                  service: "facebook",
                  user: {
                    username: null,
                    name: "NSW Department of Education",
                    avatar: null,
                    url: "https://www.facebook.com/digservdoe/"
                  },
                  published: "5 minutes ago",
                  content: {
                    photo: "http://via.placeholder.com/400x300",
                    video: null,
                    text: true,
                    seemore: true
                  },
                  url: "https://www.facebook.com/digservdoe/posts/261684514370410",
                  id: null
                }, false)

              li
                +gef_social_media_post({
                  service: "twitter",
                  user: {
                    username: "@NSWEducation",
                    name: "NSW DoE",
                    avatar: null,
                    url: "https://twitter.com/digservdoe"
                  },
                  published: "2 hours ago",
                  content: {
                    photo: "http://via.placeholder.com/400x300",
                    video: null,
                    text: true,
                    seemore: true
                  },
                  url: "https://twitter.com/digservdoe/status/936365577609736192",
                  id: null
                }, false)

              li
                +gef_social_media_post({
                  service: "youtube",
                  user: {
                    username: null,
                    name: "NSW Department of Education",
                    avatar: null,
                    url: "https://www.youtube.com/channel/UCT8TtTkD_138SWJrCXD2Xfw"
                  },
                  published: "2 days ago",
                  content: {
                    photo: null,
                    video: "https://www.youtube.com/embed/rhIqRHLQZEc",
                    text: true,
                    seemore: false
                  },
                  url: "https://www.youtube.com/watch?v=rhIqRHLQZEc",
                  id: "rhIqRHLQZEc"
                }, false)

              li
                +gef_social_media_post({
                  service: "vimeo",
                  user: {
                    username: null,
                    name: "NSW Department of Education",
                    avatar: null,
                    url: "https://vimeo.com/digservdoe"
                  },
                  published: "1 week ago",
                  content: {
                    photo: null,
                    video: "https://player.vimeo.com/video/230715337",
                    text: true,
                    seemore: false
                  },
                  url: "https://vimeo.com/230715337",
                  id: "230715337"
                }, false)


            ul.gef-flex-grid.gef-flex-grid--columns.gef-flex-grid--columns-4
              li
                +gef_social_media_post({
                  service: "facebook",
                  user: {
                    username: null,
                    name: "NSW Department of Education",
                    avatar: null,
                    url: "https://www.facebook.com/digservdoe/"
                  },
                  published: "5 minutes ago",
                  content: {
                    photo: "http://via.placeholder.com/400x300",
                    video: null,
                    text: true,
                    seemore: true
                  },
                  url: "https://www.facebook.com/digservdoe/posts/261684514370410",
                  id: null
                }, true)

              li
                +gef_social_media_post({
                  service: "twitter",
                  user: {
                    username: "@NSWEducation",
                    name: "NSW DoE",
                    avatar: null,
                    url: "https://twitter.com/digservdoe"
                  },
                  published: "2 hours ago",
                  content: {
                    photo: "http://via.placeholder.com/400x300",
                    video: null,
                    text: true,
                    seemore: true
                  },
                  url: "https://twitter.com/digservdoe/status/936365577609736192",
                  id: null
                }, true)

              li
                +gef_social_media_post({
                  service: "youtube",
                  user: {
                    username: null,
                    name: "NSW Department of Education",
                    avatar: null,
                    url: "https://www.youtube.com/channel/UCT8TtTkD_138SWJrCXD2Xfw"
                  },
                  published: "2 days ago",
                  content: {
                    photo: null,
                    video: "https://www.youtube.com/embed/rhIqRHLQZEc",
                    text: true,
                    seemore: false
                  },
                  url: "https://www.youtube.com/watch?v=rhIqRHLQZEc",
                  id: "rhIqRHLQZEc"
                }, true)

              li
                +gef_social_media_post({
                  service: "vimeo",
                  user: {
                    username: null,
                    name: "NSW Department of Education",
                    avatar: null,
                    url: "https://vimeo.com/digservdoe"
                  },
                  published: "1 week ago",
                  content: {
                    photo: null,
                    video: "https://player.vimeo.com/video/230715337",
                    text: true,
                    seemore: false
                  },
                  url: "https://vimeo.com/230715337",
                  id: "230715337"
                }, true)


          div.spacer

    //- DRAWER -//

    div#drawer.spacer

    a.gef-smaller-text.gef-right.light.uk-margin-right(href="#")
      | back to top

    hr

    article.uk-container.uk-container-center

      h2
        | Drawer

      div#drawer_auto

        mixin gef_drawer_tab_contents()
          +lipsum(2, "words")

        mixin gef_drawer_panel_contents()
          +lipsum(2, "sentences")

        div.gef-eg-stage.uk-margin-large-top

          +gef_drawer

    //- SEARCH REFINEMENT / MOBILE ONLY -//

    div#searchRefineMobile.spacer

    a.gef-smaller-text.gef-right.light.uk-margin-right(href="#")
      | back to top

    hr

    article.uk-container.uk-container-center.uk-visible-small

      h2
        | Search Refinement (mobile only)

      div#searchRefineMobile_auto

        div.gef-show-hide.gef-show-hide--alt.uk-accordion(data-uk-accordion="{collapse: false, showfirst:false}" role="tablist")
          h3.uk-accordion-title(id="searchRefine" + id aria-expanded="false" role="tab" tabindex="0")
            span
              | Refine Results
              i
              i.vertical
          .uk-accordion-content
            div.uk-margin-top.uk-margin-large-bottom
              +gef_radio_list(2)
            div.uk-margin-bottom
              +gef_login_link

    //- NOTICE RIBBON -//

    div#noticeRibbon.spacer

    a.gef-smaller-text.gef-right.light.uk-margin-right(href="#")
     | back to top

    hr

    div.uk-container.uk-container-center

      div.uk-grid

        h2.force-margin-bottom
          | Notice Ribbon

        article.uk-container-center

    div#noticeRibbon_auto
      +gef_notice_ribbon()

    //- EDUCATION BANNER -//

    div#eduBanner.spacer

    hr

    div.uk-container.uk-container-center

      div.uk-grid

        h2.force-margin-bottom
          | Education Banner

    div#eduBanner_auto
      +gef_education_banner(0)


    div.uk-container.uk-container-center

      div.uk-grid

        article.uk-container-center

          +gef_page_metadata
  footer
    +gef_section_footer("Yammer, Twitter, Facebook, YouTube, Instagram, Google Plus", true)

  +global_footer

  include ../pug/components/_global-scripts.pug
  </body>
