//--- INCLUDES
//---------------------------------------------------------

include ../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Width Contained Components"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../pug/components/_global-head.pug

  <!--[if gt IE 9 | !IE ]><!-->
  <body>
  <!--[endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9">
  <!--[endif]-->

  +gef_skiplink

  +global_header(false, false)

  header
    +gef_section_header(siteName, 'On')

  +gef_search_box('header')

  span#content(tabindex="-1")

  main.gef-main

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        section.uk-width-large-1-1

          h1.gef-main_header
            | Width Contained Components

          div.spacer

      div.uk-grid.uk-grid-collapse

        section.uk-width-large-6-10

          h2
            | Main Column
          ul
            li
              a(href="#leadParagraph") Lead Paragraph
            li
              a(href="#showHide") Show Hide
            li
              a(href="#tabs") Tabs
            li
              a(href="#callOutBox") Call Out Box
            li
              a(href="#metadata") Metadata
            li
              a(href="#breadcrumbs") Breadcrumbs
            li
              a(href="#datePicker")  Datepicker
            li
              a(href="#downloadBox") Download Box
            li
              a(href="#featuredTeaser") Featured Teaser
            li
              a(href="#gef_featured_teaser_variant") Featured Teaser Variant
            li
              a(href="#categorySelect") Category Select
            li
              a(href="#newsTeasers") News Teasers
            li
              a(href="#category") Category
            li
              a(href="#tags") Tags
            li
              a(href="#Secure-Indicator") Secure Indicator
            li
              a(href="#shareThis") Share This
            li
              a(href="#pagination") Pagination
            li
              a(href="#anchor-box") Anchor Box
            li
              a(href="#secondary-anchor-box") Secondary Anchor Box
            li
              a(href="#searchBox") Search Box
            li
              a(href="#searchResults") Search Results

        div.uk-width-large-4-10.gef-rhs

            h2
              | Side Column
            ul
              li
                a(href="#sideNavigation") Side Navigation
              li
                a(href="#side_navigation")  Side Navigation - Guided Journey
              li
                a(href="#categoryList") Category List
              li
                a(href="#contentPanel") Content Panel


      div.uk-grid.uk-grid-collapse

        section.uk-width-large-6-10.gef-main-content

          //- LEAD PARAGRAPH -//
          div.spacer

          hr#leadParagraph

          h2
            | Lead Paragraph

          div#leadparagraph_auto

            +gef_lead


          //- SHOW HIDE -//

          div.spacer

          a.gef-smaller-text.right.light(href="#")
            | back to top

          hr#showHide

          h2
            | Show Hide

          div#showhide_auto

            +gef_show_hide(false, 2)

        

          //- TABS -//

          div.spacer

          a.gef-smaller-text.right.light(href="#")
            | back to top

          hr#tabs

          h2
            | Tabs

          div#tabs_auto

            +gef_tabs(4, ["default", "school.corporate, school.nonteacher", "school.teacher", "school.principal"])


          //- CALL OUT BOX -//

          div.spacer

          a.gef-smaller-text.right.light(href="#")
            | back to top

          hr#callOutBox

          h2
            | Call out box

          div#calloutbox_auto

            mixin call_out_box_content
              h3
                +lipsum(3, "words")
              p
                +lipsum(3, "sentences")
              +gef_link_list(2)

            +gef_call_out_box


          //- METADATA -//

          div.spacer

          a.gef-smaller-text.right.light(href="#")
            | back to top

          hr#metadata

          h2
            | Metadata

          div#metadata_auto

            mixin page_metadata_content
              p
                strong Last reviewed:
                |  20 September 2015

              p
                strong Last updated:
                |  18 September 2014

            +gef_page_metadata


          //- BREADCRUMBS -//

          div.spacer

          a.gef-smaller-text.right.light(href="#")
            | back to top

          hr#breadcrumbs

          h2
            | Breadcrumbs Standard

          div#breadcrumbs_auto

            +gef_breadcrumbs(4)

          //- Date Picker -//

          a.gef-smaller-text.right.light(href="#")
            | back to top

          hr#datePicker

          h2.force-margin-bottom
            | DatePicker

          div#datepicker_auto

            div.uk-width.uk-form
             +gef_datepicker("DD-MM-YYYY", "Label" , "YYYY-MM-DD")
             +gef_datepicker("DD-MM-YYYY", "Label" , "YYYY-MM-DD")

          //- DOWNLOADS -//

          div.spacer

          a.gef-smaller-text.right.light(href="#")
            | back to top

          hr#downloadBox

          h2
            | Download box

          div#downloadbox_auto

            +gef_download_box


          //- FEATURED TEASER -//

          div.spacer

          a.gef-smaller-text.right.light(href="#")
            | back to top

          hr#featuredTeaser

          h2
            | Featured Teaser

          div#featuredteaser_auto

            +gef_featured_teaser

          //- FEATURED TEASER - Variant //

          div.spacer

          a.gef-smaller-text.right.light(href="#")
            | back to top

          hr#gef_featured_teaser_variant

          h2
            | Featured Teaser Variant

          div#featuredteaservariant_auto

            +gef_featured_teaser_variant


          //- CATEGORY SELECT -//

          div.spacer

          a.gef-smaller-text.right.light(href="#")
            | back to top

          hr#categorySelect

          h2
            | Category Select

          div#categoryselect_auto

            form(id="frm01" action="" method="GET").uk-margin-large-top
              div.gef-form.gef-form--inline.uk-width-large-8-10
                fieldset
                  legend.show-on-sr Category Select
                  +gef_select("Select Category", 4, 1)
                  input.uk-hidden(type="submit" id="sub01" name="sub01" value="submit" tabindex="-1")


          //- NEWS TEASERS -//

          div.spacer

          a.gef-smaller-text.right.light(href="#")
            | back to top

          hr#newsTeasers

          h2
            | News Teasers

          div#newsteasers_auto

            mixin gef_flex_grid_mixin
              +gef_news_teaser
            +gef_flex_grid(3, "simple")


          //- CATEGORIES -//

          div.spacer

          a.gef-smaller-text.right.light(href="#")
            | back to top

          hr#category

          h2
            | Category

          div#category_auto

            p.gef-smaller-text.uk-margin-large-top
              | Category:&nbsp;
              a(href="#")
                | Category name


          //- TAGS -//

          div.spacer

          a.gef-smaller-text.right.light(href="#")
            | back to top

          hr#tags

          h2
            | Tags

          div#tags_auto

            div.gef-tag-list.uk-margin-large-top
              p.gef-tag-list__title.gef-smaller-text
                | Tags:
              span.show-on-sr(data-gef-tags="In; Vestibulum; Duis" data-news-index="#")


          //- SHARE THIS -//

          div.spacer

          a.gef-smaller-text.right.light(href="#")
            | back to top

          hr#shareThis

          h2
            | Share This

          div#sharethis_auto

            +gef_add_this

          //- SEARCH RESULTS -//

          div.spacer

          a.gef-smaller-text.right.light(href="#")
            | back to top

          hr#searchResults

          h2
            | Search Results

          div#searchresults_auto

            div.gef-search-results.uk-margin-large-top
              +gef_search_listings(3)

          //- PAGINATION -//

          div.spacer

          a.gef-smaller-text.right.light(href="#")
            | back to top

          hr#pagination

          h2
            | Pagination

          div#pagination_auto

            +gef_pagination(5, "left")

          //- ANCHOR BOX -//

          div.spacer

          a.gef-smaller-text.right.light(href="#")
            | back to top

          hr#anchor-box

          h2
            | Anchor Box

          div#anchor-box_auto

            +gef_anchor_box(5)

          //- SECONDARY ANCHOR BOX -//
           
          div.spacer

          a.gef-smaller-text.right.light(href="#")
            | back to top

          hr#secondary-anchor-box

          h2
            | Secondary Anchor Box

          div#seondaryanchor-box_auto

            +gef_secondary_anchor_box(5)
          //- SEARCH BOX -//

          div.spacer

          a.gef-smaller-text.light.right(href="#")
           | back to top

          hr#searchBox

          h2
            | Search Box

          div#searchbox_auto

            +gef_search_box('results', true)


          //- Link Tag -//

          div.spacer

          a.gef-smaller-text.light.right(href="#")
           | back to top

          hr#Secure-Indicator

          h2
            | Secure Indicator

          div#secure-indicator_auto

              br
              +gef_link_tag('STAFF ONLY' , 'icon')

          //- SEARCH RESULTS -//

          div.spacer

          a.gef-smaller-text.light.right(href="#")
            | back to top

          hr#searchResults

          h2
            | Search Results

          div#searchresults_auto

            +gef_search_listings(3)



        //- SIDEBAR

        aside.uk-width-large-4-10.gef-rhs(aria-label="sideNavigation")

          //- SIDE NAVIGATION -//

          div.spacer

          hr#sideNavigation

          h2.uk-margin-large-bottom
            | Side Navigation

          div#sidenavigation_auto

            +gef_side_navigation

          //- LHS side Navigation -//

          hr#side_navigation

          h2
            | Side Navigation - Guided journey
          div#side_navigation

            +gef_side_menu(8)

          //- CATEGORY LIST -//

          div.spacer

          hr#categoryList

          h2.uk-margin-large-bottom
            | Category List

          div#categorylist_auto

            h2.uk-h3.uk-margin-bottom.uk-margin-large-top.black Lorem Ipsum

            +gef_category_list(4)


          //- CONTENT PANEL -//

          div.spacer

          hr#contentPanel

          h2.uk-margin-large-bottom
            | Content Panel

          div#contentpanel_auto

            mixin sidebar_content

              p
                +lipsum(15, "words", true)

              +gef_link_list(3)

            +gef_sidebar_content

  footer
    +gef_section_footer("Yammer, Twitter, Facebook, YouTube, Instagram, Google Plus", true)

  +global_footer

  include ../pug/components/_global-scripts.pug
  </body>
