//--- INCLUDES
//---------------------------------------------------------

include ../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Unused Components"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../pug/components/_global-head.pug

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="home">
  <!--[endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 home">
  <!--[endif]-->

  +gef_skiplink

  +global_header(false, false)

  header

    +gef_section_header(siteName, 'On')

  +gef_search_box('header')

  +gef_navigation

  span#content(tabindex="-1")

  main.gef-main

    //- ANCHORS -//

    div.uk-container.uk-container-center

      div.uk-grid

        div.uk-width-large-10-10.uk-container-center

          h1.gef-main_header.uk-margin-large-bottom
            | Unused Components, for full width pages

          p.lead.uk-margin-large-bottom
            | These components are currenlty unsupported and haven't been used in production. Use at your own risk.

          ul
            li
              a(href="#doeRibbon")
                | DoE Ribbon Reversed
            li
              a(href="#maintenanceRibbon")
                | Maintenance Ribbon
            li
              a(href="#iconAndLabel")
                | Icon and Label
            li
              a(href="#examplePrimaryHub")
                | Example Primary Hub

            li
              a(href="#expandedNav")
                | Expanded Nav w Image


    //- DoE RIBBON -//

    div#doeRibbon.spacer

    a.gef-smaller-text.gef-right.light.uk-margin-right(href="#")
     | back to top

    hr

    div.uk-container.uk-container-center

      div.uk-grid

        h2.force-margin-bottom
          | DoE Ribbon Reversed

    div#doeRibbon_auto
      +global_header(true, true)


    //- MAINTENANCE RIBBON -//

    div#maintenanceRibbon.spacer

    a.gef-smaller-text.gef-right.light.uk-margin-right(href="#")
     | back to top

    hr

    div.uk-container.uk-container-center

      div.uk-grid

        h2.force-margin-bottom
          | Maintenance Ribbon

        article.uk-container-center

    div#maintenanceRibbon_auto
      +gef_maintenance_ribbon()

    //- ICON AND LABEL -//

    div#iconAndLabel.spacer

    a.gef-smaller-text.gef-right.light.uk-margin-right(href="#")
     | back to top

    hr

    article.uk-container.uk-container-center

      h2.force-margin-bottom
        | Icon and Label

      div#iconAndLabel_auto

        div.uk-block.uk-block-default.uk-margin-large-bottom.gef-block

          div.uk-container

            div.uk-grid

              div.uk-width-medium-3-10

                +icon_and_label

              div.uk-width-medium-3-10

                +icon_and_label(true)


    //- EXAMPLE PRIMARY HUB -//

    div#examplePrimaryHub.spacer

    a.gef-smaller-text.gef-right.light.uk-margin-right(href="#")
     | back to top

    hr

    article.uk-container.uk-container-center

      h2.force-margin-bottom
        | Example Primary Hub

      div#examplePrimaryHub_auto

        div.uk-block.uk-block-default.uk-margin-large-bottom.gef-block.gef-block--primary-hub

          div.uk-container

            div.uk-grid

              div.uk-width-medium-1-1

                h2.uk-h2.gef-block__header
                  +lipsum(5, "words")

              div.uk-width-medium-1-1

                +icon_and_label

                +gef_expanded_nav(3, {hide_mobile_description: true})


      //- EXPANDED NAV -//

    div#expandedNav.spacer

    a.gef-smaller-text.gef-right.light.uk-margin-right(href="#")
      | back to top

    hr

    article.uk-container.uk-container-center

      h2.force-margin-bottom
        | Expanded Nav with Image

      div#expandedNav_auto

        section

          div.uk-block.uk-block-default.uk-margin-large-bottom.gef-block

            div.uk-container

              +gef_expanded_nav(4, {image_size: {width: 300, height: 200}, extra_classes: "gef-center-text"})

    hr

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        section.uk-width-large-1-1

          h1.gef-main_header.uk-margin-large-bottom
            | Unused Width Contained Components

          div.spacer

      div.uk-grid.uk-grid-collapse#UnusedWidthContainedComponents_auto

        section.uk-width-large-6-10

          h2
            | Main Column

          ul
            li
              a(href="#searchRefineMobile") Search Refine Mobile

        div.uk-width-large-4-10.gef-rhs

          h2
            | Side Column

          ul
            li
              a(href="#newsletterSignup") Newsletter Signup
            li
              a(href="#radioList") Radio List
            li
              a(href="#loginLink") Login Link

      hr

      div.uk-grid.uk-grid-collapse

        section.uk-width-large-6-10.gef-main-content

          //- Search Refine mobile -//

          div#searchRefineMobile

          h2
            | Search Refinement (mobile only)

          div#searchRefineMobile_auto

            div.gef-show-hide.gef-show-hide--alt.uk-accordion.uk-visible-small(data-uk-accordion="{collapse: false, showfirst:false}" role="tablist")
              h3.uk-accordion-title(id="searchRefine" + id aria-expanded="false" role="tab" tabindex="0")
                span
                  | Refine Results
                  i
                  i.vertical
              .uk-accordion-content
                div.uk-margin-bottom
                  +gef_radio_list(2)
                div
                  +gef_login_link

        aside.uk-width-large-4-10.gef-rhs(aria-label="newsletterSignup")

          //- NEWSLETTER Signup -//

          div.spacer#newsletterSignup

          h2.uk-margin-large-bottom
            | Newsletter Signup

          div#newsletterSignup_auto

            +gef_newsletter_signup

          //- RADIO LIST -//

          div.spacer

          hr#radioList

          h2.uk-margin-large-bottom
            | Radio List

          div#radioList_auto

            +gef_radio_list(2)

          //- LOGIN LINK -//

          div.spacer

          hr#loginLink

          h2.uk-margin-large-bottom
            | Login Link

          div#loginLink_auto

            +gef_login_link

    include ../pug/components/_global-scripts.pug

  </body>
