//--- INCLUDES
//---------------------------------------------------------

include ../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Standard Page"

//--- HTML
//---------------------------------------------------------


doctype html
html(class="#{theme}", lang='en')

  include ../pug/components/_global-head.pug

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard">
  <!--[endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 standard">
  <!--[endif]-->

  +gef_skiplink

  +global_header(false, false)

  header
    +gef_section_header(siteName, 'On', 'On')

  +gef_search_box('header')

  div.uk-container.uk-container-center

    div.uk-grid.uk-grid-collapse

      +gef_breadcrumbs(7, true)

  span#content(tabindex="-1")

  main.gef-main.large-1-1

    div.uk-container.uk-container-center

      div.uk-grid

        article.uk-width-large-1-1.gef-main-content(data-gef-anchor-box)
          div.form-group
            
            label(for='inputCode') Insert your app id, converted to <a href="https://www.base64encode.org/">base64</a>:
            input#inputCode.form-control(type='text',  name='inputCode' value='ZGVzaWduZXItYXBwLTE1NDA0NDU1NDkxNzU=')
              
            input#UAT(type='radio', name='q_type', value='uat' checked) 
            label(for='UAT') UAT
            input#Production(type='radio', name='q_type', value='prod')  
            label(for='Production') Production
            input#submitForm(type='submit', value='Submit')
          h2 Mosaic
          div.livefyre-mosaic.uk-grid-collapse.uk-grid("livefyreID=ZGVzaWduZXItYXBwLTE1NDA0NDU1NDkxNzU= livefyreType=uat")

      
        +gef_back_to_top




  footer
    +gef_section_footer("Yammer, Twitter, Facebook, YouTube, Instagram, Google Plus", true)

  +global_footer

include ../pug/components/_global-scripts.pug




  </body>
