//--- INCLUDES
//---------------------------------------------------------

include ../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Default Elements Page"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../pug/components/_global-head.pug

  <!--[if gt IE 9 | !IE ]><!-->
  <body>
  <!--[endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9">
  <!--[endif]-->

  +gef_skiplink(true, false)

  +global_header(false, true)

  header
    +gef_section_header(siteName, 'On')

  span#content(tabindex="-1")

  main.gef-main

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        article.uk-width-large-6-10.gef-main-content(data-gef-anchor-box)

          h1.gef-main_header
            | Default Elements

          +gef_lead

          //- LINKS -//

          div.spacer

          a.gef-smaller-text.right.light(href="#")
           | back to top

          hr#links

          h2
            | Links

          ul
            li
              a(href="#")
                | Regular
            li
              a(href="http://www.google.com")
                | External
            li
              a(href="mailto:test@email.com")
                | Email


          //- TYPOGRAPHY -//

          div.spacer

          a.gef-smaller-text.right.light(href="#")
           | back to top

          hr#typography

          h2
            | Typography

          h1
            | Header 1 Lorem ipsum dolor sit
          time.gef-article__date.uk-margin-small-top(datetime="15/12/25")
              | Date 25 December 2015

          h2
            | Header 2 Lorem ipsum dolor sit

          h3
            | Header 3 Lorem ipsum dolor sit

          h4
            | Header 4 Lorem ipsum dolor sit

          h5
            | Header 5 Lorem ipsum dolor sit

          h6
            | Header 6 Lorem ipsum dolor sit

          p
            | Paragraph, <strong>bolded content</strong> dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, <em>emphasised content quis nostrud exercitation ullamco laboris</em> nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, <a href="#">link sunt in culpa qui</a> officia deserunt mollit anim id est laborum.

          p
            +lipsum(5, "sentences")


          //- BLOCKQUOTE -//

          div.spacer

          a.gef-smaller-text.right.light(href="#")
           | back to top

          hr#blockquote

          h2
            | Blockquote

          blockquote
            +lipsum(3, "sentences")

          //- IFRAME -//

          div.spacer

          a.gef-smaller-text.right.light(href="#")
           | back to top

          hr#iframe

          h2
            | Iframe

          div.spacer

          iframe(width="420" height="315" src="https://www.youtube.com/embed/Q3YYwIsMHzw")


          //- LISTS -//

          div.spacer

          a.gef-smaller-text.right.light(href="#")
           | back to top

          hr#lists

          h2
            | Lists

          ul
            li
              +lipsum(1, "sentences")
            li
              +lipsum(2, "sentences")
            li
              +lipsum(2, "sentences")
              ul
                li
                  +lipsum(1, "sentences")
                li
                  +lipsum(2, "sentences")
                li
                  +lipsum(3, "sentences")
            li
              +lipsum(3, "sentences")


          ol
            li
              +lipsum(1, "sentences")
            li
              +lipsum(2, "sentences")
            li
              +lipsum(2, "sentences")
              ol
                li
                  +lipsum(1, "sentences")
                li
                  +lipsum(2, "sentences")
                li
                  +lipsum(3, "sentences")
            li
              +lipsum(3, "sentences")

          p
            +lipsum(5, "sentences")

          //- IMAGE AND CAPTION -//

          div.spacer

          a.gef-smaller-text.right.light(href="#")
            | back to top

          hr#imageAndCaption

          h2
            | Image and caption

          mixin Image
            img(src="http://placehold.it/800x400" alt="Placeholder" title="Placeholder image")
          +gef_image_with_caption

          //- BUTTON SUBMIT -//

          div.spacer

          a.gef-smaller-text.right.light(href="#")
            | back to top

          hr#buttonSubmit

          h2
            | Button Submit

          p
            +gef_button("Button","","small")
            +gef_button("Button","gef-button-submit-inverse","small")

          p
            +gef_button
            +gef_button("Button")
            +gef_button("Button", "gef-button-submit-inverse")

          p
            +gef_button("Button","","large")
            +gef_button("Button","gef-button-submit-inverse","large")

          p
            +gef_button("Button","","x-large")
            +gef_button("Button","gef-button-submit-inverse","x-large")


          //- TABLE -//

          div.spacer

          a.gef-smaller-text.right.light(href="#")
            | back to top

          hr#table

          h2
            | Table

          table
            thead
              tr
                th
                  +lipsum(2, "words")
                th
                  +lipsum(1, "words")
                th
                  +lipsum(1, "words")
                th
                  +lipsum(1, "words")
            tbody
              tr
                td
                  +lipsum(1, "words")
                td
                  +lipsum(1, "words")
                td
                  +lipsum(1, "words")
                td
                  +lipsum(1, "words")
              tr
                td
                  +lipsum(1, "words")
                td
                  +lipsum(1, "words")
                td
                  +lipsum(1, "words")
                td
                  +lipsum(1, "words")
              tr
                td
                  +lipsum(1, "words")
                td
                  +lipsum(1, "words")
                td
                  +lipsum(1, "words")
                td
                  +lipsum(1, "words")
              tr
                td
                  +lipsum(1, "words")
                td
                  +lipsum(1, "words")
                td
                  +lipsum(1, "words")
                td
                  +lipsum(1, "words")

        div.uk-width-large-3-10

  footer
    +gef_section_footer("Yammer, Twitter, Facebook, YouTube, Instagram, Google Plus", true)

  +global_footer

  include ../pug/components/_global-scripts.pug
  </body>
