//--- INCLUDES
//---------------------------------------------------------

include ../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Search Results"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../pug/components/_global-head.pug

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="gef-search-spa standard">
  <!--[endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 gef-search-spa standard">
  <!--[endif]-->

  +gef_skiplink

  +global_header(false, false)

  div.uk-container.uk-container-center

    div.uk-grid.uk-grid-collapse

      +gef_breadcrumbs(2, true , 'homeicon')

  span#content(tabindex="-1")

  main.gef-main(ng-controller="ShowResultsCtrl")

    div.uk-container.uk-container-center

      div.uk-grid

        div.uk-width-large-7-10

          +gef_search_box_angular

          //-  MOBILE REFINE

          aside.gef-search-results__mobile-refine.gef-show-hide.gef-show-hide--alt.uk-accordion.uk-visible-small(data-uk-accordion="{collapse: false, showfirst:false}" role="tablist" aria-label="mobileResults")

            h3.uk-accordion-title(id="searchRefine" + id aria-expanded="false" role="tab" tabindex="0" aria-controls="mobileRefine")
              span
                | Refine Results
                i
                i.vertical

            div#mobileRefine.uk-accordion-content
              div
                form(id="refine-search-form2" action="" method="GET")
                fieldset
                  legend.uk-hidden Refine Results.  Available options are "All NSW Department of Education public content" or "Only ASTP".  Changing the selection will refresh the search results.
                  div.uk-margin-bottom
                    div.gef-radio-list__row
                      input(type="radio" ng-checked="true"  id="AllEd-mobile" name="radioID-mobile" value="education.nsw.edu.au" ng-model="setSearchUrl" ng-change="newSearchScope('https://education.nsw.gov.au', 'NSW Department of Education', 'AllEd')" )
                      label(for="AllEd-mobile") All NSW Department of Education public content

                    div.gef-radio-list__row
                      input(type="radio" id="ASTP-mobile"   name="radioID-mobile" value="education.nsw.edu.au/astp" ng-model="setSearchUrl" ng-change="newSearchScope('https://education.nsw.gov.au/astp', 'ASTP', 'ASTP')")
                      label(for="ASTP-mobile") Only ASTP

              hr.uk-margin-small.gef-hr-light

              div.gef-search-results__links
                h3.uk-h4
                  | Looking for something else?
                p
                  i.uk-icon-lock(aria-hidden="true")
                  a(href="#")
                    | Search all staff content

            +gef_back_to

    hr.gef-hr-light.uk-margin-bottom.uk-margin-small-top

    article.uk-container.uk-container-center(ng-cloak)

      div.uk-grid



        //- SEARCH RESULTS

        div.uk-width-1-1.uk-width-medium-7-10.uk-push-3-10
          div(ng-hide="results.length == 0 && searchTerm != '' && previousPage != 0")
            div.gef-search-results.uk-margin-large-top(id="searchResults" role="region")
              dir-pagination-controls(template-url="assets/js/apps/search/views/dirPaginationSummaryNoTotal.html")
              - var count = 1
              - var number = 10
              
              ol.gef-search-results__list(ng-show="results.length > 0")
                li.gef-search-results__item(dir-paginate="result in results | itemsPerPage : resultsPerPage" total-items="(navigation.total_results < pageNumber*10+60) ? navigation.total_results : navigation.total_results > 0 ? pageNumber < 6 ? pageNumber*10+(10-pageNumber)*10 : pageNumber*10+40: navigation.total_results" current-page="pageNumber")
                  h2.uk-h5.gef-search-results__itemheader
                    a(href="{{result.url}}" ng-bind-html="result.title | sanitize")
                  p(ng-bind-html="result.summary | sanitize") &hellip;
                  p(class="gef-search-results__url") {{result.url}}                
                    
            div.uk-margin-bottom

            p(ng-hide="results.length > 0 || searchTerm == ''")

            dir-pagination-controls.gef-search-pagination(template-url="assets/js/apps/search/views/dirPagination.html" on-page-change="pageChanged(newPageNumber)" ng-hide="hasError" max-size="10")

            div.gef-search-results__links.gef-search-results__links--boxed
              h3.uk-h4
                | Looking for something else?
                p
                  i.uk-icon-lock(aria-hidden="true")
                  a(href="#")
                    | Search all staff content

            p.error(ng-show = "hasError")  An error has occurred whilst retrieving results. Our technical team has been notified. 
          
            
          div(ng-show="results.length == 0 &&  searchTerm != '' && previousPage != 0")     
            p There are no more results for {{searchTerm}}.  
              a(href="?q={{searchTerm}}")
                | Return to page 1.

        //- DESKTOP REFINE

        aside.uk-width-medium-3-10.uk-hidden-small.uk-pull-7-10(aria-label="desktopResults")
          h2.gef-search-refine-results-header.uk-margin-top
            | Refine Results
          fieldset
            legend.uk-hidden Refine Results.  Available options are "All NSW Department of Education public content" or "Only ASTP".  Changing the selection will refresh the search results.
            div.uk-margin-bottom
              div.gef-radio-list__row
                input(type="radio" ng-checked="true"  id="AllEd" name="radioID" value="education.nsw.edu.au" ng-model="setSearchUrl" ng-change="newSearchScope('https://education.nsw.gov.au', 'NSW Department of Education', 'AllEd')" )
                label(for="AllEd") All NSW Department of Education public content

              div.gef-radio-list__row
                input(type="radio" id="ASTP"   name="radioID" value="education.nsw.edu.au/astp" ng-model="setSearchUrl" ng-change="newSearchScope('https://education.nsw.gov.au/astp', 'ASTP', 'ASTP')")
                label(for="ASTP") Only ASTP

          hr.gef-hr-light.uk-margin

          div.gef-search-results__links
            h3.uk-h4
              | Looking for something else?
            p
              i.uk-icon-lock(aria-hidden="true")
              a(href="#")
                | Search all staff content

          hr.gef-hr-light.uk-margin.uk-margin-large-top

          +gef_back_to


  +global_footer

  include ../pug/components/_global-scripts.pug

  </body>
