//--- INCLUDES
//---------------------------------------------------------

include ../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Search SPA"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../pug/components/_global-head.pug

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="gef-search-spa">
  <!--[endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 gef-search-spa">
  <!--[endif]-->

  +global_header(false, false)

  header
    +gef_section_header(siteName, 'On')

  +gef_search_box('header')

  span#content(tabindex="-1")

  main.gef-main

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        +gef_breadcrumbs(2, true)

        //--- Make sure ID SearchSPA for initialisation of angular
        <!--[if gt IE 9 | !IE ]><!-->
        <div class="uk-width-large-7-10 gef-main-content ng-cloak" "ng-cloak">
        <!--<![endif]-->
        <!--[if lte IE 9]>
        <div class="uk-width-large-7-10 gef-main-content">
        <!--<![endif]-->

        h1#anchor-1.gef-main_header.uk-margin-large-bottom Search Results

        div.gef-search-spa

          form(name="searchForm" ng-controller="SearchFormCtrl" ng-submit="searchForm.$valid" novalidate class="gef-search uk-form gef-search--body")

            fieldset

              legend Global Search
              label.uk-hidden-small(for="txtSearch")
                span.show-on-sr Enter your search
              input.uk-form-large(type="text" id="txtSearch" name="q" placeholder="Enter your site search..." required ng-model="keyword" maxlength="254")
              input(type="hidden" name="site" value="secure_ce_intranet")
              input(type="hidden" name="access" value="s")

              div(class="uk-margin-top")
                input(type="checkbox" id="chkAllDept" tabindex="0")
                label(for="chkAllDept")
                  | Search all department websites

              button(type="submit" id="btnSearch" ng-click="newSearchTerm()")
                span.show-on-sr Search
                i.uk-icon-search(aria-hidden="true")

          div.gef-search-results#searchResults(ng-controller="ShowResultsCtrl")

            dir-pagination-controls(template-url="assets/js/apps/search/views/dirPaginationSummaryNew.html")

            ol.gef-search-results__list(ng-show="results.length > 0")

              li.gef-search-results__item(dir-paginate="result in results | itemsPerPage : resultsPerPage" total-items="navigation.total_results" current-page="pageNumber")

                  h5(class="gef-search-results__itemheader")
                    a(href="{{result.url}}" ng-bind-html="result.title | sanitize")
                  p(class="gef-search-results__url") {{result.url}}
                  p(ng-bind-html="result.summary | sanitize") &hellip;

            p(ng-hide="results.length > 0 || searchTerm == ''")

            dir-pagination-controls.gef-search-pagination(template-url="assets/js/apps/search/views/dirPagination.html" on-page-change="pageChanged(newPageNumber)" ng-hide="hasError" max-size="7")
            p.error(ng-show = "hasError")  An error has occurred whilst retrieving results. Our technical team has been notified.

        </div>

        div.uk-width-large-1-10

  footer
    +gef_section_footer("Yammer, Twitter, Facebook, YouTube, Instagram, Google Plus", true)

  +global_footer

  include ../pug/components/_global-scripts.pug
  </body>
