//--- INCLUDES
//---------------------------------------------------------

include ../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Search Results"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../pug/components/_global-head.pug

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="catalogue">
  <!--[endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 catalogue">
  <!--[endif]-->

  +gef_skiplink

  +global_header(false, false)

  header

    +gef_section_header(siteName, 'On')

  +gef_search_box('header')

  div.uk-container.uk-container-center

    div.uk-grid.uk-grid-collapse

      +gef_breadcrumbs(2, true)

  span#content(tabindex="-1")

  main.gef-main

    div.uk-container.uk-container-center

      article.uk-width-large-7-10.gef-main-content

        h1#anchor-1 Search Results

        form.gef-search.uk-form.gef-search--body(name="searchForm" action="#")

          fieldset

            legend Global Search
            label.uk-hidden-small(for="txtSearch")
              span.show-on-sr Enter your search
            input.uk-form-large(type="text" id="txtSearch" name="q" placeholder="Enter your site search..." required ng-model="keyword" maxlength="254")

            div(class="uk-margin-top")
              input(type="checkbox" id="chkAllDept" tabindex="0")
              label(for="chkAllDept")
                | Search all department websites

            button(type="submit" id="btnSearch" ng-click="newSearchTerm()")
              span.show-on-sr Search
              i.uk-icon-search

            p.gef-search__spelling-suggestion Did you mean: 
              em 
                a(href="#") 
                  +lipsum(2, "words")

        div.gef-search-results

          p.gef-search-results__info

            +lipsum(2, "sentences")

          +gef_search_listings(7)

        +gef_pagination(5, "left")

      +gef_back_to_top

  footer
    +gef_section_footer("Yammer, Twitter, Facebook, YouTube, Instagram, Google Plus", true)

  +global_footer

  include ../pug/components/_global-scripts.pug

  </body>