//--- INCLUDES
//---------------------------------------------------------

include ../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Catalogue Template"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../pug/components/_global-head.pug

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="catalogue">
  <!--[endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 catalogue">
  <!--[endif]-->

  +gef_skiplink

  +global_header(false, false)

  header

    +gef_section_header(siteName, 'On')

  +gef_search_box('header')

  div.uk-container.uk-container-center

    div.uk-grid.uk-grid-collapse

      +gef_breadcrumbs(7, true)

  span#content(tabindex="-1")

  main.gef-main

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        article.uk-width-large-1-1.gef-main-content

          div.uk-block.uk-block-default.uk-margin-large-top.gef-block

            div.uk-container

              +gef_landing_header

          div.uk-block.uk-block-default.uk-margin-large-bottom.uk-margin-large-top.gef-block

            div.uk-container.uk-container-center

              +gef_catalogue(5, true)

  footer
    +gef_section_footer("Yammer, Twitter, Facebook, YouTube, Instagram, Google Plus", true)

  +global_footer

  include ../pug/components/_global-scripts.pug

  </body>