//--- INCLUDES
//---------------------------------------------------------

include ../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Section Template"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../pug/components/_global-head.pug

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="home">
  <!--[endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 home">
  <!--[endif]-->

  +gef_skiplink

  +global_header(false, false)

  header
    +gef_section_header(siteName, 'On')

  +gef_search_box('header')

  span#content(tabindex="-1")

  main.gef-main

    +gef_banner("//placehold.it/1350x520?text=LARGE+BANNER+(1350x520)")

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        article.uk-width-1-1.gef-main-content

          h1.show-on-sr
            | Important pages

          section

            div.uk-block.uk-block-default.uk-margin-large-bottom.gef-block

              div.uk-container

                h2.uk-h2.gef-block__header
                  +lipsum(3, "words")

                +gef_expanded_nav(8)

          section

            div.uk-block.uk-block-default.uk-margin-large-bottom.gef-block

              div.uk-container

                h2.uk-h2.gef-block__header
                  +lipsum(4, "words")

                +gef_linkgroup_list(4,4)

          section

            div.uk-block.uk-block-default.uk-margin-large-bottom.gef-block

              div.uk-container

                +gef_teaser_list(3)

  footer
    +gef_section_footer("Yammer, Twitter, Facebook, YouTube-Play, Instagram, Google-Plus,linkedin", true)

  +global_footer

  include ../pug/components/_global-scripts.pug

  </body>