//--- INCLUDES
//---------------------------------------------------------

include ../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Full Width Components"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../pug/components/_global-head.pug

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="home">
  <!--[endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 home">
  <!--[endif]-->

  +gef_skiplink

  +global_header(false, false)

  header

    +gef_section_header(siteName, 'On')

  +gef_search_box('header')

  span#content(tabindex="-1")

  main.gef-main

    div.spacer

    article.uk-container.uk-container-center

      h2.force-margin-bottom
        | Social media feed


      div.uk-block.uk-block-default.uk-margin-large-bottom.gef-block

        div.uk-container.uk-container-center

          p Example of social media component with default settings (contentlength is 100)

          div(data-gef-social-media='{"displayCap": 4,"contentLength":100, "services": [{"service":"facebook", "username":"digservdoe", "numberOfPosts": 4},{"service":"youtube", "username":"UCT8TtTkD_138SWJrCXD2Xfw", "type":"channel", "numberOfPosts": 2}]}')
            div.gef-loader(aria-hidden=true)
            ul.gef-flex-grid.gef-flex-grid--columns.gef-flex-grid--columns-4


    div.spacer

    article.uk-container.uk-container-center

      h2.force-margin-bottom
        | Social media feed


      div.uk-block.uk-block-default.uk-margin-large-bottom.gef-block

        div.uk-container.uk-container-center

          p Example of contentLength option limiting the amount of text displayed (limited to 50 characters).

          div(data-gef-social-media='{"displayCap": 4, "contentLength":50, "services": [{"service":"twitter", "username":"digservdoe", "numberOfPosts": 4}]}')
            div.gef-loader(aria-hidden=true)
            ul.gef-flex-grid.gef-flex-grid--columns.gef-flex-grid--columns-4


    div.spacer

    article.uk-container.uk-container-center

      h2.force-margin-bottom
        | Social media feed


      div.uk-block.uk-block-default.uk-margin-large-bottom.gef-block

        div.uk-container.uk-container-center

          p Example of minimalist variation of social media post layout. Hides most of the post metadata e.g. avatar, username, account name

          div(data-gef-social-media='{"displayCap": 4,"contentLength":100, "minimalist": true, "services": [{"service":"facebook", "username":"digservdoe", "numberOfPosts": 4},{"service":"youtube", "username":"UCT8TtTkD_138SWJrCXD2Xfw", "type":"channel", "numberOfPosts": 2}]}')
            div.gef-loader(aria-hidden=true)
            ul.gef-flex-grid.gef-flex-grid--columns.gef-flex-grid--columns-4

  footer
    +gef_section_footer("Yammer, Twitter, Facebook, YouTube, Instagram, Google Plus", true)

  +global_footer

  include ../pug/components/_global-scripts.pug
  </body>
