//--- INCLUDES
//---------------------------------------------------------

include ../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Search Results"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../pug/components/_global-head.pug

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard">
  <!--[endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 standard">
  <!--[endif]-->

  +gef_skiplink

  +global_header(false, false)

  div.uk-container.uk-container-center

    div.uk-grid.uk-grid-collapse

      +gef_breadcrumbs(2, true , 'homeicon')

  span#content(tabindex="-1")

  main.gef-main

    div.uk-container.uk-container-center

      div.uk-grid

        div.uk-width-large-7-10

          +gef_search_box('none', 'searchResults')

          //-  MOBILE REFINE

          aside.gef-search-results__mobile-refine.gef-show-hide.gef-show-hide--alt.uk-accordion.uk-visible-small(data-uk-accordion="{collapse: false, showfirst:false}" role="tablist" aria-label="mobileResults")

            h3.uk-accordion-title(id="searchRefine" + id aria-expanded="false" role="tab" tabindex="0" aria-controls="mobileRefine")
              span
                | Refine Results
                i
                i.vertical

            div#mobileRefine.uk-accordion-content
              div
                form(id="refine-search-form2" action="" method="GET")
                  +gef_radio_list(2, "searchResults")

              hr.uk-margin-small.gef-hr-light

              div.gef-search-results__links
                h3.uk-h4
                  | Looking for something else?
                p
                  i.uk-icon-lock(aria-hidden="true")
                  a(href="#")
                    | Search all staff content

            +gef_back_to

    hr.gef-hr-light.uk-margin-bottom.uk-margin-small-top

    article.uk-container.uk-container-center

      div.uk-grid

        //- DESKTOP REFINE

        aside.uk-width-medium-3-10.uk-hidden-small(aria-label="desktopResults")

          h2.gef-search-refine-results-header.uk-margin-top
            | Refine Results

          div.uk-margin-bottom
            form(id="refine-search-form" action="" method="GET")
              +gef_radio_list(2, "searchResults")

          hr.gef-hr-light.uk-margin

          div.gef-search-results__links
            h3.uk-h4
              | Looking for something else?
            p
              i.uk-icon-lock(aria-hidden="true")
              a(href="#")
                | Search all staff content

          hr.gef-hr-light.uk-margin.uk-margin-large-top

          +gef_back_to

        //- SEARCH RESULTS

        div.uk-width-1-1.uk-width-medium-7-10


          div.gef-search-results.uk-margin-large-top(id="searchResults" role="region" aria-live="polite")

            p.gef-search-results__info
              | Showing 1 - 10 of 12345 results for <strong>search term</strong> in <strong>section</strong>


            mixin call_out_box_content
              - var countRecommended = 1
              - var numberRecommended = 2

              h3.gef-call-out-box__heading Recommended

              ol.gef-search-results__list
                while countRecommended < numberRecommended + 1
                  +sr_item(countRecommended++)

            +gef_call_out_box("lite")

            - var countResults = 1
            - var numberResults = 15

            ol.gef-search-results__list
              while countResults < numberResults + 1
                if (countResults == 3)
                  +sr_item(countResults++, "pdf")
                else if (countResults == 4)
                  +sr_item(countResults++, "doc")
                else if (countResults == 5)
                  +sr_item(countResults++, "xls")
                else if (countResults == 6)
                  +sr_item(countResults++, "ppt")
                else if (countResults == 9)
                  +sr_item(countResults++, "map")
                else if (countResults == 12)
                  +sr_item(countResults++, "event")
                else
                  +sr_item(countResults++)


          div.uk-margin-bottom

            +gef_pagination(5, "left")

          div.gef-search-results__links.gef-search-results__links--boxed
            h3.uk-h4
              | Looking for something else?
              p
                i.uk-icon-lock(aria-hidden="true")
                a(href="#")
                  | Search all staff content





  +global_footer

  include ../pug/components/_global-scripts.pug

  </body>
