//--- INCLUDES
//---------------------------------------------------------

include ../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Search Results"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  include ../pug/components/_global-head.pug

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard">
  <!--[endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 standard">
  <!--[endif]-->

  +gef_skiplink

  +global_header(false, false)

  header
    +gef_section_header("Search results", false)

  span#content(tabindex="-1")

  main.gef-main

    div.uk-container.uk-container-center

      div.uk-grid

        div.uk-width-large-7-10

          +gef_search_box

    hr.uk-margin-small.gef-hr-light

    article.uk-container.uk-container-center

      div.uk-grid

        aside.uk-width-medium-3-10.uk-hidden-small(aria-label="refineResults")

          h2.gef-search-refine-results-header.uk-margin-large-top.uk-margin-large-bottom
            | Refine Results

          div.uk-margin-bottom
            +gef_radio_list(2)

          div.uk-margin-bottom
            +gef_login_link

        div.uk-width-1-1.uk-width-medium-7-10

          p.gef-search-results__info.uk-visible-small.uk-margin-top.uk-margin-bottom
            | Showing 1 - 10 of 12345 results

          div.gef-show-hide.gef-show-hide--alt.uk-accordion.uk-visible-small(data-uk-accordion="{collapse: false, showfirst:false}" role="tablist")
            h3.uk-accordion-title(id="searchRefine" + id aria-expanded="false" role="tab" tabindex="0" aria-controls="mobileRefine")
              span
                | Refine Results
                i
                i.vertical
            div#mobileRefine.uk-accordion-content
              div.uk-margin-top.uk-margin-large-bottom
                +gef_radio_list(2)
              div.uk-margin-bottom
                +gef_login_link

          div.gef-search-results.uk-margin-large-bottom

            p.gef-search-results__info.uk-hidden-small
              | Showing 1 - 10 of 12345 results

            - var count = 1
            - var number = 10

            ol.gef-search-results__list
              while count < number + 1
                +sr_item(count++)

          div.uk-margin-bottom

          +gef_pagination(5, "left")




  +global_footer

  include ../pug/components/_global-scripts.pug

  </body>