//--- INCLUDES
//---------------------------------------------------------

include ../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Standard Page"

//--- HTML
//---------------------------------------------------------


doctype html
html(class="#{theme}", lang='en')

  include ../pug/components/_global-head.pug

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard">
  <!--[endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 standard">
  <!--[endif]-->

  +gef_skiplink

  +global_header(false, false)

  header
    +gef_section_header(siteName, 'On', 'On')

  +gef_search_box('header')

  div.uk-container.uk-container-center

    div.uk-grid.uk-grid-collapse

      +gef_breadcrumbs(7, true)

  span#content(tabindex="-1")

  main.gef-main

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        article.uk-width-large-6-10.gef-main-content(data-gef-anchor-box)

          +general_content

        +gef_back_to_top

        div.uk-width-large-4-10.gef-rhs

          h2.show-on-sr
            | Related content

          +gef_side_navigation

  footer
    +gef_section_footer_partnership_variant("Yammer, Twitter, Facebook, YouTube-Play, Instagram, Google-Plus,linkedin",true)

  +global_footer

  include ../pug/components/_global-scripts.pug


  </body>
