//--- INCLUDES
//---------------------------------------------------------

include ../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Guided Journey Page"

//--- HTML
//---------------------------------------------------------


doctype html
html(class="#{theme}", lang='en')

  include ../pug/components/_global-head.pug

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard">
  <!--[endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 standard">
  <!--[endif]-->

  +gef_skiplink

  +global_header(false, false)

  header
    +gef_section_header(siteName, 'On', 'On')

  +gef_search_box('header')

  div.uk-container.uk-container-center

    div.uk-grid.uk-grid-collapse

      +gef_breadcrumbs(7, true)

  span#content(tabindex="-1")

  script.
    var guided_journey_endpoint_matrix = null;
    var loading_message_matrix = "<p>Please wait while page is being generated</p>";
    var error_message_matrix = "<p>There has been a problem , please log a ticket in Zendesk</p>";

  main.gef-main.gef-main--GJ

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        article.uk-width-large-1-1.gef-main-content

          div.uk-block.gef-block.uk-padding-remove

            div.uk-container

              div.gef-GJ-container

                div.uk-width-1-1.uk-width-medium-4-10.gef-lhs.gef-GJ-index
                  nav(role="navigation").uk-hidden-small
                    ul.gef-side-navigation.uk-nav
                      li.uk-parent.gef-side-navigation-upper
                        a(href="#")
                          | Previous
                          span(class="show-on-sr")| Page
                          i.uk-icon-chevron-left

                    +gef_side_menu(8)

                  nav(role="navigation").uk-visible-small
                    form.gef-form
                      label.uk-h6.gef-anchor-box__title(for='gef-journey-index-select') Select a section
                      select#gef-journey-index-select(name='gef-journey-index-select')
                        option(value='Introduction', data-gef-asset-id='0', data-gef-hash='', aria-label='Introduction', aria-current='step') Introduction
                        option(value='Form a school team', data-gef-asset-id='2', data-gef-hash='subpage-2', aria-label='Form a school team') Form a school team
                        option(value='Engage the school community', data-gef-asset-id='1', data-gef-hash='subpage-1', aria-label='Engage the school community') Engage the school community
                        option(value='Develop a ‘statement of purpose’', data-gef-asset-id='4', data-gef-hash='subpage-4', aria-label='Develop a ‘statement of purpose’') Develop a ‘statement of purpose’
                        option(value='Develop a shared understanding', data-gef-asset-id='3', data-gef-hash='subpage-3', aria-label='Develop a shared understanding') Develop a shared understanding
                        option(value='Develop or revise the school Anti-bullying Plan', data-gef-asset-id='5', data-gef-hash='subpage-5', aria-label='Develop or revise the school Anti-bullying Plan') Develop or revise the school Anti-bullying Plan
                        option(value='Publication and promotion', data-gef-asset-id='6', data-gef-hash='subpage-6', aria-label='Publication and promotion') Publication and promotion
                        option(value='Resources', data-gef-asset-id='7', data-gef-hash='subpage-7', aria-label='Resources') Resources

                      button.uk-button.gef-button(type='button', aria-label='Go to section') Go to section



                div.uk-width-1-1.uk-width-medium-6-10
                  h1.gef-GJ-title
                    | Anti-bullying guidelines

                  div.gef-GJ-main.uk-hidden
                    p.lead
                      | This guideline can be used by navigating through any part via the menu or by using the previous and next buttons at the bottom of the page.
                    h2 Introduction
                    h3 What is this?
                    p
                      | This is a policy guideline that requires schools to develop protection, prevention, early intervention and response strategies for student bullying in NSW Government Schools.
                    h3 Who is it for?
                    p
                      | Teachers wanting to create, manage, and implement anti- bullying measures in the school and school community.
                    p Parents who wish to understand the strategic approach.
                    h3 How to use it?
                    p
                      | Collaborate with your senior staff members to formulate a plan using this online guideline.
                    h4 Download PDF
                    p
                      a(href='#') Anti-bullying guidelines.pdf
                    a.gef-skiplink__link(href='#back_') Back to menu
                    .gef-pagination.uk-hidden
                      button.uk-button.gef-button.gef-button-x-large.gef-pagination__next(aria-label='Next Page')
                        | Next
                        i.uk-icon.uk-icon-angle-right


  footer
    +gef_section_footer("Yammer, Twitter, Facebook, YouTube, Instagram, Google Plus", true)

  +global_footer

  include ../pug/components/_global-scripts.pug


  </body>