//--- INCLUDES
//---------------------------------------------------------

include ../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "News Article Template"

//--- HTML
//---------------------------------------------------------


doctype html
html(class="#{theme}", lang='en')

  include ../pug/components/_global-head.pug

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard">
  <!--[endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 standard">
  <!--[endif]-->

  +gef_skiplink

  +global_header(false, false)

  header
    +gef_section_header(siteName, 'On')

  +gef_search_box('header')

  div.uk-container.uk-container-center

    div.uk-grid.uk-grid-collapse

      +gef_breadcrumbs(7, true)

  span#content(tabindex="-1")

  main.gef-main

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        div.uk-width-large-6-10

          article.gef-article.gef-main-content.gef-news

            h1
              +lipsum(1, "sentences")

            time.gef-article__date.uk-margin-small-top(datetime="15/12/25")
              | 25 December 2015

            p.lead
                +lipsum(4, "sentences")

            img(src="//placehold.it/1200x900", alt="Featured image", title="An example image title for the screen readers, say cheese.")

            p
              +lipsum(10, "sentences")

            p
              +lipsum(10, "sentences")

            +gef_page_metadata

            p.gef-smaller-text.uk-margin-remove
              | Category:&nbsp;
              a(href="#")
                | Category name

            //- +gef_tag_list(3)
            div.gef-tag-list
              p.gef-tag-list__title.gef-smaller-text
                | Tags:
              span.show-on-sr(data-gef-tags="In; Vestibulum; Duis" data-news-index="#")

            +gef_add_this

            aside(aria-label="recentNews")

              div.uk-block.uk-block-default.uk-margin-large-top.gef-news-tile-block.gef-block

                div.uk-container

                  h2.uk-h3
                    | Recent news

                  +gef_tile_list(3)

        +gef_back_to_top

        //--- SIDEBAR

        aside.uk-width-large-4-10.gef-rhs(aria-label="relatedContent")

          h1.show-on-sr
            | Related content

          //--- NEWS CATEGORIES

          nav.uk-visible-large

            h2.uk-h3.uk-margin-bottom.uk-margin-large-top.black News categories

            +gef_category_list(4)


          //- CONTENT PANEL -//

          mixin sidebar_content

            p
              +lipsum(15, "words", true)

            +gef_link_list(3)

          +gef_sidebar_content



          //- NEWSLETTER Signup -//

          +gef_newsletter_signup


          //--- PROMO

          mixin sidebar_content

            p
              +lipsum(15, "words", true)

          +gef_sidebar_content

  footer
    +gef_section_footer("Yammer, Twitter, Facebook, YouTube, Instagram, Google Plus", true)

  +global_footer

  include ../pug/components/_global-scripts.pug

  </body>