//--- INCLUDES
//---------------------------------------------------------

include ../pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Standard Page"

//--- HTML
//---------------------------------------------------------


doctype html
html(class="#{theme}", lang='en')

  include ../pug/components/_global-head.pug

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard">
  <!--[endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 standard">
  <!--[endif]-->

  +gef_skiplink

  +global_header(false, false)

  header
    +gef_section_header(siteName, 'On', 'On')

  +gef_search_box('header')

  div.uk-container.uk-container-center

    div.uk-grid.uk-grid-collapse

      +gef_breadcrumbs(7, true)

  span#content(tabindex="-1")

    main.gef-main

    div.uk-container.uk-container-center
      div.uk-grid.uk-grid-collapse
        article.uk-width-large-6-10.gef-main-content(data-gef-anchor-box)

              h2 Background
              p
                | The eFPT Plan is pre-populated with substantive (permanent) positions in your school. This doesn&rsquo;t include entitlement where there are no permanent positions &ndash; you will need to add this entitlement. The SBAR is also pre-populated.
              h3 Before you start
              p
                | Either have a hard copy of your SBAR available or operate from two screens. Display the SBAR on one and use the other to update the eFPT. This will make it easier to compare and verify the positions.
              h2 Instructions
              div.gef-secondary-index-parent
                h3.gef-secondary-index-level1 Verify the positions to balance to the SBAR
                p.gef-secondary-index-level2  1. Either have a hard copy of your SBAR available or operate from two screens. Display the SBAR on one and use the other to update the eFPT. This will make it easier to compare and verify the positions.
                p
                  | You need to balance the Plan&nbsp;FTE to the SBAR&nbsp;FTE. If the entitlements differ, you&rsquo;ll need to add position FTEs to balance these entitlements.
                p
                 
                p.gef-secondary-index-level2
                  | 2. Select Entitlement Teaching Variance to open the Entitlement Teaching Summary.
                p
                  | The summary includes additional information such as SBAR FTE and Cost vs the Plan FTE and Cost, as well as the Base and Equity&nbsp;&nbsp;entitlements.
                p
                 
                p.gef-secondary-index-level2 3. Select Entitlement Teaching Summary to close the summary.
                p.gef-secondary-index-level2 
                  | 4. Under Teaching Staff, select Position Description then select Sort Ascending. This will help you identify the positions.
                p
                 
                p.gef-secondary-index-level2  5. Review the SBAR. Take note of positions and FTE.
                p
                 
                #new_content_container_655246.gef-call-out-box
                  p
                    | Note: A key component of the SBAR is the staff entitlement funding on page 8. It includes the Total Teacher Entitlement and the Total SASS Entitlement that need to be balanced.
                p.gef-secondary-index-level2 6. Compare the SBAR to the eFPT.
                p
                  | It should be easy to find each position, as you previously sorted the list by Position Description.
                p Use this method to verify all positions.
                p
              div.gef-secondary-index-parent               
                h3.gef-secondary-index-level1 Add a Base Entitlement
                p
                  | These steps show you how to add classroom teachers entitlement in eFPT to balance to the SBAR.
                p.gef-secondary-index-level2  7. Select Add Entry.
                p
                 
                p.gef-secondary-index-level2  8. Select Position Description and enter the position.
                p.gef-secondary-index-level2  9. Select the Position from the drop-down list.
                p
                  
                #new_content_container_655267.gef-call-out-box
                  p
                    | Tip: This field uses predictive text. If you type &lsquo;class,&rsquo; a list of all the positions with the word &lsquo;class&rsquo; will appear. For example, &lsquo;classroom teacher.&rsquo;
                p.gef-secondary-index-level2  10. Change the Position FTE, Start Date and End Date as required.
                p
                 
                p.gef-secondary-index-level2  11. Select Save.
                p.gef-secondary-index-level2  12. Select OK.
                p
                  | Continue to select and add positions as required, for example classroom teachers, until you balance the Plan FTE to the SBAR FTE.
                #new_content_container_655657.gef-call-out-box
                  p
                    | Note: A maximum 1.00 FTE can be added at a time. You can also add fractional FTE to balance to the SBAR. For example, 0.8 FTE
                    em .
                #new_content_container_655271.gef-call-out-box
                  p
                    | Note: You must always save your entries as the system does not automatically save. Whenever you save an entry, the value will update.
                h3.gef-secondary-index-level1 Add a fractional FTE
                p.gef-secondary-index-level2  13. Select Add Entry.
                p.gef-secondary-index-level2  14. Enter the Position Description. Remember this field uses predictive text.
                p.gef-secondary-index-level2  15. Select the Position from the list. For example, Classroom Teacher.
                p.gef-secondary-index-level2  16. Select Position FTE.
                p.gef-secondary-index-level2  17. Enter the fractional Position&nbsp;FTE. For example, 0.8 FTE.
                p
                 
                p.gef-secondary-index-level2  18. Select Save.
                p.gef-secondary-index-level2  19. Select OK.
                p
                  | After you add the last position to the Plan, you will see that the Plan FTE balances with the SBAR FTE.
                p The Plan FTE must balance to the SBAR staff entitlement page exactly.
        div.uk-width-large-4-10.gef-rhs
  
            h2.show-on-sr
              | Related content
  
            +gef_side_navigation           

  
  
  footer
    +gef_section_footer("Yammer, Twitter, Facebook, YouTube, Instagram, Google Plus", true)

  +global_footer

  include ../pug/components/_global-scripts.pug


  </body>
