$fonts: (
  "montserrat-light" : 400,     // used as regular
  "montserrat-regular": 600,    // used as bold
  "montserrat-bold": 800        // used as black
) !default;

$font-name: montserrat !default;
$font-path: "../fonts/" !default;

@each $font-file-name, $weight in $fonts {
   @font-face {
    font-family: $font-name;
    src: url('#{$font-path}#{$font-file-name}.eot');
    src: url('#{$font-path}#{$font-file-name}.eot?#iefix') format('embedded-opentype'), url('#{$font-path}#{$font-file-name}.woff') format('woff'), url('#{$font-path}#{$font-file-name}.ttf') format('truetype'), url('#{$font-path}#{$font-file-name}.svg') format('svg');
    font-weight: $weight;
    font-style: normal;
  }
}
