// ----------------------
//    GEF MIXINS
// ----------------------

// Reset list
// The default listing style has custom bullets and stylings, this removes those customisations

@mixin reset_list {
  list-style: none;

  > li {
    position: static;
    padding: 0;

    &:before {
      display: none;
    }
  }
}

// CSS Arrow
// Create a css down facing arrow to append to the bottom center of divs

@mixin arrow($color, $width, $position, $height:false) {
  @if $height {
  } @else {
    $height: $width/2;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    z-index: 1;
    width: 0;
    height: 0;
    border-style: solid;

    @if $position == "top" {
      border-width: 0 $width/2 + px $height + px $width/2 + px;
      border-color: transparent transparent $color transparent;
      top: - $height + px;
    } @else if $position == "bottom" {
      border-width: $width/2 + px $height + px 0 $width/2 + px;
      border-color: $color transparent transparent transparent;
      bottom: - $height + px;
    }

    transform: translateX(-50%);
  }
}

// Header underline
// Attach an underline to header elements
//
// ARGS:
// $color - colour of the underline
// $alignment - align the underline either "left" or "center"

@mixin underline($color, $alignment, $large: true) {
  position: relative;

  &:after {
    display: block;
    content: '';
    position: relative;

    @if $alignment == "center" {
      margin: 3px auto 25px;
    } @else if $alignment == "left" {
      margin: 3px 0 25px;
    }

    width: 20px;
    height: 3px;
    background: $color;
  }

  @if $large {
    @media #{$gef-mq-md} {
      &:after {
        height: 4px;
        width: 40px;
      }
    }
  }
}

// ACCORDION / SHOW HIDE STYLES
// The accordion style is used in two different patterns, so mixin makes sense.

@mixin accordionHeader {
  position: relative;
  display: block;
  text-decoration: none;
  background: $gef-secondary-bg;
  padding: 10px 45px 8px 15px;
  margin: 0;
  font-weight: 700;
  line-height: 24px;
  vertical-align: bottom;
  font-size: 16px;
  outline: none;
  color: $gef-secondary-text;
}

@mixin accordionContent {
  padding: 10px 13px 17px;
  background: $gef-highlight-panel-bg;
}


// FONT AWESOME SUPPORT

@mixin fontAwesome {
  font-family: 'FontAwesome';
}

@mixin fontAwesomeStandard($faCode, $font-color: "#000", $font-size: 1em, $pright: 3px) {
  &:before {
    content: $faCode;
    color: $font-color;
    font-size: $font-size;
    font-family: 'FontAwesome';
    text-decoration: none;
    display: inline-block;
    padding-right: $pright;
  }
}


// CLOSE ICON MIXIN

@mixin gef-close-icon($color, $colorHighlight, $barWeight, $barLength, $barRadius) {
  display: block;
  position: relative;
  width: $barLength;
  height: $barLength;
  background-color: transparent;
  transform: rotate(45deg);

  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    background-color: $color;
    border-radius: $barRadius;
    transition: background-color 0.2s;
  }

  &:before {
    width: $barLength;
    height: $barWeight;
    top: 50%;
    transform: translateY(-50%);
  }

  &:after {
    width: $barWeight;
    height: $barLength;
    left: 50%;
    transform: translateX(-50%);
  }

  &:focus,
  &:hover {

    &:before,
    &:after {
      background-color: $colorHighlight;
    }
  }
}
