.uk-button,
.uk-button:visited {
  display: block;
  border: 1px solid transparent; 
  border-radius: 4px;
  transition: all 0.2s;
  font-weight: 600;

  &[disabled] {
    box-shadow: 0 0 0 0;
    background: $gef-nonactive-1;
    color: $gef-nonactive-2;
  }

  & + & {
    margin-top: 20px;
  }

  .uk-button,
  .uk-button:visited {
    padding: 18px $button-padding-horizontal 18px;
  }

  @media #{$gef-mq-lg} {
    display: inline-block;

    & + & {
      margin-top: 0;
      margin-left: 20px;
    }
  }
}

.uk-panel-box {
  border-top: 2px solid $gef-decoration;
  padding-bottom: 15px;

  p, li, a, input, button {

    @media #{$gef-mq-lg} {
      font-size: 0.85rem;
    }

    @media #{$gef-mq-xl} {
        font-size: 1rem;
    }
  }

  @media #{$gef-mq-xl} {
    padding: 15px 0 30px;
  }
}

//--------------------------
// TYPOGRAPHY
//--------------------------

.uk-text-large {

  @media #{$gef-mq-md} {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-top: 1.875rem;
    letter-spacing: 0.02em;
  }
}

//--------------------------
// FORMS
//--------------------------

.uk-form-label {
  font-weight: 600 !important;
}

.uk-form-width-large {
  width: 100%;
  max-width: 500px !important;
}


//--------------------------
// UTILITIES
//--------------------------

.gef-pseudo-link {
  cursor: pointer;
}

.atlwdg-popup {
  max-width: 90%;
}

//--------------------------
// IE9
//--------------------------

.gef-ie9 {
  .uk-container-center .uk-container-center {
    float: none;
  }

  .uk-grid > div {
    min-height: 1px;
  }
}


//GXF-1239

.glossary-heading {
  font-size: 1rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  text-align: left;
  margin-top: 13px !important;
  margin-bottom: 5px !important;

  @media #{$gef-mq-md}{
    font-size: 1.375rem;
    margin-bottom: 18px !important;
  }

  @media #{$gef-mq-lg}{
    font-size: 1.75rem;
    margin-top: 50px !important;
    font-weight: 300;
  }
}

.gef-glossary{

  .a-z-list-edu{

    margin-bottom: 40px;
    height: auto;

    @media #{$gef-mq-md}{
      margin-bottom: 10px;
    }
  }

  @media #{$gef-mq-md}{

    .gef-a-z-anchors {
      height: auto;
    }
  }

  [data-scroll-passed=true]{

    @media #{$gef-mq-md}{
     height: 90px;
     top: 0;
     position: fixed;
     background-color: $gef-white;
     z-index: 20000;
     transform: translateY(0);
     transition: all 0.2s;
     text-decoration: none;
     left: 0;
     width: 100%;
     border-bottom: solid 1px $a-z-list-border-color-bottom;
     box-shadow: 0px 5px 5px 0 rgba(0,0,0,0.1);

      ol{
       width: 500px;
      }
    }

    @media #{$gef-mq-lg}{
      margin-left: auto;
      height: 50px;
      width: 100%;
      padding: 10px 0 13px;

      ol{
       width: 945px;
      }
    }
  }

  .gef-a-z-list__letter {
    padding-top: 70px;
    margin-top: -50px;

    @media #{$gef-mq-md}{
      padding-top: 90px;
      margin-top: -50px;
    }
  }

  .gef-a-z-list__column{
    width: 150px;
    float: none;

    @media #{$gef-mq-md}{
    float: right;
    }
  }

  .a-z-list-edu {

    @media #{$gef-mq-md}{
      height: 104px;
    }

    @media #{$gef-mq-lg}{
      height: 50px;
    }
  }
}

.gef-hr-light {
  border-color: $gef-lighter-grey;
  border-width: 1px;
}

