// REUSABLE UTILITY CLASSES

.gef-margin-remove {
  margin: 0 !important;
}

.gef-margin-remove-large {

  @media #{$gef-mq-lg} {
    margin: 0 !important;
  }
}

.text-collapse {
  word-wrap: break-word;
}

.super {
  font-weight: 800;
}

.strong {
  font-weight: 700;
}

.light {
  font-weight: 400;
  color: #717171;
}

.italic {
  font-style: italic;
}

.lead,
.lead p {
  font-size: 1rem;
  font-weight: 300;
  font-style: normal;
  line-height: 1.3;
  padding-bottom: 10px;

  @media #{$gef-mq-md} {
    margin-bottom: 27px;
    font-size: 0.9375rem;
  }

  @media #{$gef-mq-lg} {
    font-size: 1.25rem;
  }
}

.lead p {
  margin-top: 1.06rem;
}

.black {
  color: $gef-black !important;
}

.spacer {
  display: block;
  width: 100%;
  height: 30px;
}

.force-margin-bottom {
  display: block;
  margin-bottom: 20px !important;
}

.show-on-sr {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.header-stripe {
  position: absolute;
  z-index: 0;
  top: 0;
  width: 100%;
  height: 300px;
  background: $gef-highlight-panel-bg;
  box-shadow: 0px 1px 10px -5px $gef-dark-grey;
  text-align: center;
  color: $gef-decoration;

  @media #{$gef-mq-lg} {
    height: 500px;
  }
}


.relative {
  position: relative;
}

.gef-smaller-text {
  font-size: 0.85rem;
}

.gef-right {
  float: right;
}

.gef-center-text {
  text-align: center;
}

.gef-block {
  margin-left: -($utility-container-padding-horizontal);
  margin-right: -($utility-container-padding-horizontal);

  @media #{$gef-mq-lg} {
    margin-left: -($utility-container-large-padding-horizontal);
    margin-right: -($utility-container-large-padding-horizontal);
  }
}

.gef-block__header {
  font-size: 1.2rem;
  font-weight: 400;
  color: $gef-content-header;

  @media #{$gef-mq-md} {
    font-size: 1.5rem;
  }
}

.gef-inline-block {
  display: inline-block;
}